<div class="row">
  <div class="column small-12">
    <div class="row">
      <div class="small-12 medium-6 medium-centered column">
        <label for="">Tipo de Documento:</label>
        <select ng-model="docType" ng-options="d.label for d in documentType"></select>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 medium-centered column">
        <label for="">Documento:</label>
        <input type="file" file-upload>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 medium-centered column text-right">
        <button class="button small" ng-click="save()">Guardar</button>
      </div>
    </div>
  </div>
</div>