<div class="row">
  <div class="column small-12">
    <div class="row">
      <div class="small-12 medium-6 medium-centered column">
        <label for="">Tipo de Documento:</label>
        <select ng-model="docType" ng-options="d.label for d in documentType"></select>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 medium-centered column">
        <div class="row collapse">
          <label>Solicitud:</label>
          <div class="small-10 columns">
            <input type="text" placeholder="Solicitud" readonly ng-model="requestSelected.label" data-reveal-id="contactSearch"/>
          </div>
          <div class="small-2 columns">
            <button class="postfix" data-reveal-id="contactSearch">
              <i class="fa fa-plus-circle fa-lg"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 medium-centered column">
        <div class="row">
          <div class="medium-6 column">
            <label>Documento:</label>
          </div>
        </div>
        <div class="row">
          <div class="medium-5 columns">
            <div class="button small button-file">
              Selecione los Archivos
              <input type="file" file-upload multiple>
            </div>
            <div dropzone class="dropzone">Arrastre sus<br> archivos ac&aacute;</div>
          </div>
          <div class="medium-7 columns">
            <table ng-show="files.length>0 || filesSend.length>0" class="small-12">
              <thead>
                <tr>
                  <th>Documento</th>
                  <th class="medium-5">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="file in filesSend">
                  <td>
                    {{file.name}}
                  </td>
                  <td>
                    <div class="progress mb-0" ng-class="{success: file.upload, alert: file.error}">
                      <img ng-show="!file.status" src="img/progress-bar.gif" alt="loading bar">
                      <span class="meter info-error" ng-show="file.status">
                        <span ng-show="file.error" class="pointer" ng-click="showErrors()">
                          Error!
                        </span>
                        <span ng-show="file.upload">
                          Completado!
                        </span>
                      </span>
                    </div>    
                  </td>
                </tr>
                <tr ng-repeat="file in files">
                  <td>{{file.name}}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 medium-centered column">
        <div class="row">
          <div class="medium-6 columns">
            <ul>
              <li ng-repeat="error in errors">
                {{error}}
              </li>
            </ul>
          </div>
          <div class="medium-6 columns text-right">
            <button class="button small" ng-click="save()" ng-disabled="files.length==0">Subir Archivos</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="reveal-modal" data-reveal id="contactSearch" style="padding:1em;">
  <div class="row">
    <form>
      <div class="row">
        <fieldset>
          <legend>Buscar Contacto</legend>
          <div class="row">
            <div class="medium-3 columns">
              <label><span style="color: #3e4095;">Radicado</span>
                <input type="text" ng-model="_ContactFilters.requestId" onkeydown="return numbersOnly(event)" ng-enter="seacrhConctactFilter();"/>
              </label>
            </div>
            <div class="medium-3 columns">
              <label><span style="color: #3e4095;">Nombre</span>
                <input type="text" capitalize ng-model="_ContactFilters.name" ng-enter="seacrhConctactFilter();"/>
              </label>
            </div>
            <div class="medium-3 columns">
              <label><span style="color: #3e4095;">CC. del contacto</span>
                <input type="text" ng-model="_ContactFilters.docId" onkeydown="return numbersOnly(event)" ng-enter="seacrhConctactFilter();"/>
              </label>
            </div>
            <div class="medium-3 columns">
              <label><span style="color: #3e4095;">Consecutivo Contacto</span>
                <input type="text" ng-model="_ContactFilters.contactId" onkeydown="return numbersOnly(event)" ng-enter="seacrhConctactFilter();"/>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
    <div class="row collapse">
      <table class="small-12">
        <thead>
          <tr>
            <th class="small-6 text-center">Radicado</th>
            <th class="small-6 text-center">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="contact in contacts" ng-click="contact.selected()" class="pointer">
            <td class="text-center">#{{contact.id}}</td>
            <td class="text-center">{{contact.name}}</td>
          </tr>
          <tr ng-show="contacts.length==0">
            <td colspan="2" class="text-center">
              <p>Lo sentimos no hemos encontrado ningun contrato. use otra convinacion de Filtro</p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination-centered">
        <ul class="pagination">
          <li class="current pointer" ng-show="page>1">
            <a class="pointer" ng-click="prev()">
              <i class="fa fa-arrow-left"></i>
            </a>
          </li>
          <li class="current">{{page}}</li>
          <li>de</li>
          <li>{{totalPages}}</li>
          <li class="current pointer" ng-show="page<totalPages">
            <a class="pointer" ng-click="next()">
              <i class="fa fa-arrow-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>