.link_swiper {
	position: absolute;
    bottom: 30px;
    right: 10px;
    left: 10px;
    display: block;
    background-color: rgba(62, 64, 149, 0.3);
    color: #FFF;
    padding: 10px 15px;
    text-align: right;
    text-shadow: 1px 1px #2F2D2D;
    cursor: pointer;
}

.link_swiper:hover {
    color: #FFF;
    text-shadow: 1px 0px #2F2D2D;
}

.color-black {
	color: #222222;
}

#badges {
	background: #ffffff center center #f4f4f4 no-repeat;
}

#badges img {
	display: none;
}

#badges.orbit {
	background: none;
	padding-top: 30px;
    padding-bottom: 30px;
}

#badges.orbit img {
	display: block;
}

#datos label {
	font-size: 1.0em;
}

tr.head td, label.head {
	color : #3e4095;
	font-weight: bold;
}

.prop textarea{
	margin:0;
	padding: 0;
	height: 40px;
	width: 100%;
}

.prop input{
	margin:0;
	padding-left: 3px;
	height: 20px;
	width: 100%;

}
.prop select{
	margin:0;
	padding: 0;
	height: 20px;
	width: 100%;
}

.prop-clear input{
	margin:0;
	padding-left: 3px;
	height: 20px;
	width: 100%;
}

.prop-clear select{
	margin:0;
	padding: 0;
	height: 20px;
	width: 100%;
}

.prop tr:nth-child(even) td{
	border: solid #3e4095 1px;
}

.filter-blocks input{
	margin:0;
	padding-left: 3px;
	height: 40px;
	width: 100%;
}

.filter-blocks select{
	margin:0;
	padding-left: 3px;
	height: 40px;
	width: 100%;
}

.chart {
	background: #eee;
	padding: 3px;
}

.chart > a {
	display: block;
	height: 21px;
	overflow: hidden;
}

.chart > a:hover {
	background: #FFF;
}

.chart > * {
	width: 0;
	transition: width 1s ease-out, background .25s linear;;
	-moz-transition: width 1s ease-out, background .25s linear;;
	-webkit-transition: width 1s ease-out, background .25s linear;;
}

.chart > * {
	font: 12px sans-serif;
	background-color: #3e4095;
	text-align: right;
	padding: 3px;
	margin: 5px 0px;
	color: white;
	box-shadow: 2px 2px 2px #f5f5f5;
}

.login-panel{
	background-color: #FFF;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2000;
}

.login-panel__scroll{
	overflow: auto;
	height: 100%;
	padding-top: 25px;
}

.link-properties,
.link-inquilinos,
.link-reportes{
	display: none;
}

.link-properties.show,
.link-inquilinos.show,
.link-reportes.show{
	display: block;
}

.subheader--custom{
	background-color:#3e4095;
	color: #ffffff;  
	padding-left:5px;
	width: 100%;
}

.photo-thumbnails{
	display: block;
	height: 74px;
	overflow: hidden;
	background-position: center;
	width: 100%;
}

.pointer{
	cursor: pointer;
	opacity: 0.8;}
	.pointer:hover{
		opacity: 1;}
tr.pointer{
	opacity: 1;
}

.metada-section{
	border-left: 1px dotted #3e4095;
	background-color: #FCFCFC;
	box-sizing: boder-box;
	padding-left: 15px;
	margin-left: 15px;
}
.main-header{
	background: #3e4095;
	margin-bottom: 15px;
}
.main-logo{
	display: inline-block;
	line-height: 45px;
	margin: 0;
	background: #FFF;
	padding: 0 15px;
}
.scroll{
	min-height: 250px;
	max-height: 450px;
	overflow: auto;
}

.list{
	list-style: none;
}

.list-item {
	margin-bottom: 5px;
}

.list-item--separator{
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
}

.list-item--hover:hover {
    background: rgb(239, 239, 239);
}

.dg-dropdown{
	max-width: 350px;
	padding: 10px;
}

.color-primary{
	color: #3e4095 !important;
}

.bold{
	font-weight: bold;
}

.underline{
	text-decoration:underline;  
}

.color-agency{
	color: #910b0e;
}

.color-place{
	color: #449404;
}

.agency{
 
}
.agencyPlace{
font-weight: bold; color: #910b0e;
}
.place{
text-decoration:underline;font-weight: bold; color: #449404;
}
.notAgencyPlace{
font-weight: bold; color: #449404;  
}
.alert{
	color: #F30909
}
.dropzone{
	background: #F8F8F8;
	border: 5px dashed #DDD;
	height: 150px;
	text-align: center;
	padding-top: 52px;
	width: 100%;
}
.dropzone.hover{
	border-color: #00F;
}
.mb-0{
	margin-bottom: 0 !important;
}

.mb-10{
	margin-bottom: 10px;
}
.mb-15{
	margin-bottom: 15px;
}

.push-right-5{
 margin-right: 5px;
}

.color-white{
	color: #FFF;
}

.button-file input{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
}
.button-file input::-webkit-file-upload-button {
	visibility: hidden;
}
.info-error{
	color: #FFF;
	text-align: center;
}

.header-section {
	background: #3e4095;
	color: #FFF;
	margin-bottom: 1em;
	min-height: 47px;
	padding: 5px 10px;
}

.header-section__title{
	line-height: 35px;
}

.img{
	margin-bottom: 15px;  
}

.item{
	display: block;
	background: #FCFCFC;
}

.item__icon{
	color: #3e4095;
	padding: 3px 0px 2px;
	line-height: 1em;
}

.item-icon{
	font-size: 20px;
}

.item__caption{
	word-wrap: break-word;
	text-transform: lowercase;
	font-size: 14px;
}

tr.selected{
	background: #CCC !important;
}

.block-tab{
	margin-bottom: 15px;
}

.block-tab__tab{
	background: #3e4095;
	border: 1px solid #CCC;
	color: #FFF;
	cursor: pointer;
	float: left;
	min-height: 40px; 
	padding: 10px 15px;
	position: relative;
	z-index: 2;}
	.block-tab__tab.active{
		background: #FCFCFC;
		border-bottom: 1px solid #FCFCFC;
		color: #3e4095;}

.block-tab__content{
	background: #FCFCFC;
	border: 1px solid #CCC;
	padding: 10px 0;
	position: relative;
	top: -1px;
}

.block{
	background: #FCFCFC;
	border: 1px solid #CCC;
	padding: 10px 0;
	margin-bottom: 15px;
}

.bright-1{
	border-right: 1px solid #CCC;
}
.font-small{
	font-size: 0.875rem;
}

.not-resize{
	resize: none;
}

.pd-0{
	padding: 0 !important;
}

.tabs {
    margin-bottom: 0 !important;
    margin-left: 0;
}

.tabs dd, .tabs .tab-title {
    float: left;
    list-style: none;
    margin-bottom: 0 !important;
    position: relative;
}

.tabs dd > a, 
.tabs .tab-title > a {
    display: block;
    background-color: #EFEFEF;
    color: #222222;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-size: 0.88889rem;
    padding: 0.88889rem 1.77778rem;
}

.tabs dd > a:hover,
.tabs .tab-title > a:hover {
    background-color: #323377;
    color: #FFF;
}

.tabs dd.active > a,
.tabs .tab-title.active > a {
    background-color: #3e4095;
    color: #FFF;
}

.reveal-modal .close-reveal {
    color: #AAAAAA;
    cursor: pointer;
    font-size: 2.22222rem;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    top: 0.55556rem;
    right: 1.22222rem;
    text-decoration: none;
}

/*NEWS BLOCK*/
.news-container__wrapper{
	background: #3e4095;
	padding: 5px;
}

.news-container__info{
	color: #FFF;
	padding: 5px;
	margin-bottom: 0;
}

.news-container + .close-reveal-modal{
	color: #000;
	font-size: 2.5rem;
	line-height: 1;
	position: absolute;
	top: 0rem;
	right: 0.4rem;
	font-weight: bold;
}

.overflow-hidden{
	overflow: hidden !important;
}

.banner-slider {
    background: #FFF;
    position: relative;
    display: block;
}
.banner-slider:before {
    content: '';
    display: block;
}
.ayura-banner:before{
	padding-top: 37.9%
}
.ratio1-1:before {padding-top: 100%;}
.ratio2-1:before {padding-top: 50%;}
.ratio4-3:before {padding-top: 75%;}
.ratio16-9:before {padding-top: 56.25%;}

.contenido {    
   position: absolute;
   top: 0; left: 0; bottom: 0; right: 0;
   overflow: hidden;
}

.banner-image {
	max-width: none;
	width: 100%;
	height: auto;
}

.swiper-container-horizontal>.swiper-pagination {    
    left: 10px;
    text-align: left;
}

#dropAddCustomer{
	width:300px;
	max-width: 300px;
}

@media only screen and (max-width: 40em){
	dialog, .reveal-modal {
		height: auto;
		min-height: 100%;
	}

	.reveal-modal.news-modals {
		width: 100%;
	}

	.reveal-modal .news-container{
		margin-top: 10px;
	}
	.no-mobile {
		display: none;
	}
}

.pano {
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	cursor: move;
}
.pano .controls {
	position: relative;
	top: 40%;
}
.pano .controls a {
	position: absolute;
	display: inline-block;
	text-decoration: none;
	color: #eee;
	font-size: 3em;
	width: 20px;
	height: 20px;
}
.pano .controls a.left {
	left: 10px;
}
.pano .controls a.right {
	right: 10px;
}
.pano.moving .controls a {
	opacity: 0.4;
	color: #eee;
}

.table-simple-header{
	background-color: #3e4095;
	color: white;
}

.table-simple-row:hover td{
	background-color: #ff7f7f;
	cursor: pointer;
}

.table-simple-row:hover td{
	color: white;
}