<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <h5 class="subheader subheader--custom">
      Cambiar Clave de Acceso
    </h5>
    <br>
  </div>
</div>
<div class="row">
  <div class="small-centered small-12 medium-6 columns">
    <form>
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <label>Clave Actual:</label>
          <input type="password" ng-model="_settingsSection.currentPassword">
        </div>
      </div>
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <label>Nueva Clave:</label>
          <input type="password" ng-model="_settingsSection.newPassword">
        </div>
      </div>
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <label>Confirmar Nueva Clave:</label>
          <input type="password" ng-model="_settingsSection.confirmNewPassword">
        </div>
      </div>
      <div class="row">
        <div class="large-12 medium-12 small-12 columns" style="text-align: right;">
          <button class="button small" ng-click="_settingsSection.changePassword()"><i
              class="fa fa-key"></i>&nbsp;Cambiar Mi Clave
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
  