<div class="row">
  <div class="large-12 medium-12 small-12 column">
    <table style="width: 100%;">
      <thead>
      <tr>
        <th colspan="4" style="padding: 0;" class="text-center"><strong>Fecha Agenda:</strong>&nbsp;<input
            type="text" readonly ng-change="_agenda.overview()" ng-model="_agenda.overviewDate" class="date"
            style="margin:0;padding:0;text-align:center;width: 6.6em;display:inline;"></th>
      </tr>
      <tr>
        <th width="150">Promotor(a)</th>
        <th width="80">Desde</th>
        <th width="80">Hasta</th>
        <th>Detalles</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="ap in _agenda.overviewAppointments">
        <td width="150">{{ap.PROMOTER}}</td>
        <td width="80">{{ap.from}}</td>
        <td width="80">{{ap.to}}</td>
        <td>
          <ul class="inline-list" style="margin: 0;padding: 0;">
            <li ng-repeat="p in ap.properties" style="font-size:0.875rem;margin: 0;padding-left: 5px;" class="inline-list">
              <span ng-show="p.keys=='AGENCIA' && p.CODE==ap.PLACE" class="bold underline color-agency">
                {{p.CODE}}<a class="bold underline color-agency" ng-href="#/Properties/{{p.ID}}">#{{p.ID}}</a>
              </span>
              <span ng-show="p.keys=='AGENCIA' && p.CODE!=ap.PLACE" class="bold color-agency">
                {{p.CODE}}<a class="bold color-agency" ng-href="#/Properties/{{p.ID}}">#{{p.ID}}</a>
              </span>
              <span ng-show="p.keys!='AGENCIA'&& p.CODE==ap.PLACE" class="bold underline color-place">
                {{p.CODE}}<a class="bold underline color-place" ng-href="#/Properties/{{p.ID}}">#{{p.ID}}</a>
              </span>
              <span ng-show="p.keys!='AGENCIA' && p.CODE!=ap.PLACE" class="bold color-place">
                {{p.CODE}}<a class="bold color-place" ng-href="#/Properties/{{p.ID}}">#{{p.ID}}</a>
              </span>
            </li>
            <li style="font-size:0.875rem;margin: 0;padding-left: 5px;">{{ ap.COMMENTS}}</li>
          </ul>
          <span ng-if="ap.contacts.length>0">
            <b class="color-place">CONTACTO:</b> {{ap.contacts[0].NAME +' - '+ ap.contacts[0].PHONE}}
          </span>
        </td>
      </tr>

      </tbody>
    </table>

  </div>


</div>