<div class="row text-center" style="background-color: #ffffff;">
  <div class="large-8 medium-8 small-12 column">
    <div class="row">
      <div class="large-12 medium-12 small-12 column text-center">
        <a ng-click="_agenda.prevYear()"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;A</a>
        <a ng-click="_agenda.prevMonth()"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;M</a>
        <a ng-click="_agenda.prevWeek()"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;S</a>
        <a ng-click="_agenda.prevDay()"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;D</a>
        <input type="text" readonly ng-change="_agenda.dateChanged()" ng-model="_agenda.date" class="date"
             style="padding:0;text-align:center;width: 6.6em;display:inline;">
        <a ng-click="_agenda.nextDay()">D&nbsp;<i class="fa fa-arrow-circle-right fa-lg"></i></a>
        <a ng-click="_agenda.nextWeek()">S&nbsp;<i class="fa fa-arrow-circle-right fa-lg"></i></a>
        <a ng-click="_agenda.nextMonth()">M&nbsp;<i class="fa fa-arrow-circle-right fa-lg"></i></a>
        <a ng-click="_agenda.nextYear()">A&nbsp;<i class="fa fa-arrow-circle-right fa-lg"></i></a>
      </div>
    </div>
  </div>
  <div class="large-1 medium-1 small-12 column text-right" style="padding-top: 0.5rem;">
    <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Promotor:</span>
  </div>
  <div class="large-3 medium-3 small-12 column">
    <span style="font-size: 0.875rem;"><select ng-options="u.NAME for u in _agenda.agents"
                           ng-change="_agenda.agentChanged()" ng-model="_agenda.agent"></select></span>
  </div>
</div>

<div class="row" style="background-color: #ffffff;">
  <div class="large-12 medium-12 small-12 column" ng-show="_agenda.currentContact">
    <h6 class="subheader"><strong>Agendando cita para la solicitud de contacto:</strong> ID:&nbsp;{{_agenda.currentContact.id}}
      - Nombre:&nbsp;{{_agenda.currentContact.name}}</h6>
  </div>
</div>

<div class="row" style="background-color: #ffffff;">

  <!-- semana -->
  <div class="large-8 medium-7 small-12 column">
    <div class="row">
      <div class="large-3 medium-3 small-4 column text-center label">
        <span style="color: #ffffff;font-size: 1.5em;">Hora</span>
      </div>
      <div class="large-9 medium-9 small-8 column label text-center" ng-repeat="day in _agenda.grid">
        <span style="color: #ffffff;font-size: 1.5em;">{{day.dayName}}&nbsp;{{day.date.getDate()}}</span>
      </div>
    </div>
    <div class="row">
      <div class="large-3 medium-3 small-4 column text-center radius">
        <div class="row" ng-repeat="cell in _agenda.grid[0].cells" style="margin: 0.2em;">
          <div class="large-12 medium-12 small-12 column"
             style="background-color:#f5f5f5;color: #3e4095;height: 1.5em;">
            <strong>{{hourText(cell.from)}}</strong>
          </div>
        </div>
      </div>
      <div class="large-9 medium-9 small-8 column text-center radius" style="padding-right: 3px;"
         ng-repeat="day in _agenda.grid">
        <div class="row" ng-repeat="cell in day.cells" style="margin: 0.2em;">
          <div class="large-12 medium-12 small-12 column text-left"
             style="padding:0;background-color:#f5f5f5;color: #3e4095;height: 1.5em;cursor: pointer; vertical-align: middle;"
             ng-click="_agenda.cellClicked(cell)"
             onclick="$('#cellModal').foundation('reveal', 'open');">
            <table style="margin: 0; width:100%;padding: 0;background-color:#f5f5f5;color: #3e4095;">
              <tr>
                <td class="text-left"
                  style="margin: 0;padding: 0;width:20px;background-color:#f5f5f5;color: #3e4095;">
                  <i class="fa fa-user fa-lg" ng-show="cell.status==1"></i>
                  <i class="fa fa-calendar-o fa-lg" ng-show="cell.status==0 && cell.editable"></i>
                  <i class="fa fa-calendar-o fa-lg" ng-show="cell.status==0 && (cell.editable==false)"
                     style="color: #555555"></i>
                  <i class="fa fa-check-square fa-lg" ng-show="cell.status==2"
                     style="color: #449404"></i>
                  <i class="fa fa-minus-square fa-lg" ng-show="cell.status==4"
                     style="color: indianred"></i>
                </td>
                <td style="margin: 0;padding: 0;background-color:#f5f5f5;color: #3e4095;">
                  <ul class="inline-list" ng-if="cell.appointment" style="margin: 0;padding: 0;">
                    <li ng-repeat="p in cell.appointment.properties" style="margin: 0;padding-left: 5px;">
                      <span ng-show="p.keys=='AGENCIA' && p.CODE==ap.PLACE" class="bold underline color-agency">
                        {{p.CODE}}#{{p.ID}}
                      </span>
                      <span ng-show="p.keys=='AGENCIA' && p.CODE!=ap.PLACE" class="bold color-agency">
                        {{p.CODE}}#{{p.ID}}
                      </span>
                      <span ng-show="p.keys!='AGENCIA'&& p.CODE==ap.PLACE" class="bold underline color-place">
                        {{p.CODE}}#{{p.ID}}
                      </span>
                      <span ng-show="p.keys!='AGENCIA' && p.CODE!=ap.PLACE" class="bold color-place">
                        {{p.CODE}}#{{p.ID}}
                      </span>

                    </li>
                    <li ng-hide="cell.appointment.properties.length" style="margin: 0;padding-left: 5px;">
                      {{cell.appointment.COMMENTS}}
                    </li>
                  </ul>
                </td>
              </tr>
            </table>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="large-4 medium-5 small-12 column">
    <h5>Citas Agendadas</h5>
    <ul class="no-bullet">

      <li ng-repeat="ap in _agenda.dayAppointments">

        <ul class="no-bullet">

          <li style="font-size: 0.8em"><span style="color: #3e4095;">Fecha/Hora:</span>&nbsp;{{ap.SCHEDULED_LABEL}}
            {{hourBasicFromText(ap.TIME_FROM)}} - {{hourBasicFromText(ap.TIME_TO)}}
          </li>
          <li style="font-size: 0.8em">
            <span style="color: #3e4095;">Asesor(a):</span>&nbsp;{{ap.CONSULTANT}}
          </li>
          <li style="font-size: 0.8em"><span style="color: #3e4095;">Fecha/Hora Creada:</span>&nbsp;{{ap.CREATED
            | date:'yyyy/MM/dd hh:mm a'}}
          </li>
          <li style="font-size: 0.8em" ng-if="ap.properties">
            <span style="color: #3e4095;">Propiedades:</span>&nbsp;
            <ul class="inline-list" style="margin: 0;padding: 0;">
              <li ng-repeat="p in ap.properties" style="margin: 0;padding-left: 5px;">
                <span ng-show="p.keys=='AGENCIA' && p.CODE==ap.PLACE" class="bold underline color-agency">
                  {{p.CODE}}<a class="bold underline color-agency" ng-href="#/Properties/{{p.ID}}">#{{p.ID}}</a>
                </span>
                <span ng-show="p.keys=='AGENCIA' && p.CODE!=ap.PLACE" class="bold color-agency">
                  {{p.CODE}}<a class="bold color-agency" ng-href="#/Properties/{{p.ID}}">#{{p.ID}}</a>
                </span>
                <span ng-show="p.keys!='AGENCIA'&& p.CODE==ap.PLACE" class="bold underline color-place">
                  {{p.CODE}}<a class="bold underline color-place" ng-href="#/Properties/{{p.ID}}">#{{p.ID}}</a>
                </span>
                <span ng-show="p.keys!='AGENCIA' && p.CODE!=ap.PLACE" class="bold color-place">
                  {{p.CODE}}<a class="bold color-place" ng-href="#/Properties/{{p.ID}}">#{{p.ID}}</a>
                </span>
              </li>
            </ul>
          </li>
          <li style="font-size: 0.8em" ng-if="ap.contacts">
            <span style="color: #3e4095;">Contactos:</span>&nbsp;
            <ul style="margin: 0;padding: 0;">
              <li style="font-size: 0.75em;margin: 0;padding-left: 5px;" ng-repeat="c in ap.contacts">
                {{c.NAME}} - {{c.PHONE}}
              </li>
            </ul>
          </li>
          <li style="font-size: 0.8em" ng-show="ap.COMMENTS">
            <span style="color: #3e4095;">Observaciones:</span>&nbsp;<span style="font-size: 0.9em">{{ ap.COMMENTS}}</span>
          </li>
        </ul>
        <hr/>

      </li>

    </ul>
  </div>
</div>

<div id="cellModal" class="reveal-modal medium text-center" data-reveal>
  <span class="label" style="font-size: 1.2em;width: 100%;">
    {{_agenda.currentCell.from?getDayName(_agenda.currentCell.from):null}}&nbsp;{{_agenda.currentCell.from.getDate()}}&nbsp;de&nbsp;{{_agenda.currentCell.from?getMonthName(_agenda.currentCell.from):null}}
    &nbsp;&nbsp;{{hourText(_agenda.appointment.fromTime)}}&nbsp;a&nbsp;
    <select style="margin-bottom:0;width: 90px;" ng-disabled="_agenda.currentCell.editable==false" ng-options="(hourText(o)) for o in _agenda.appointment.toOptions" ng-model="_agenda.appointment.endTime">
    </select>
  </span>

  <table style="width: 100%;">
    <thead>
    <tr>
      <th colspan="4" class="text-center" style="color: #3e4095">
        Propiedades Asignadas {{hourText(_agenda.appointment.endTime)}}
      </th>
    </tr>
    <tr>
      <th>Código</th>
      <th>Barrio</th>
      <th>Dirección</th>
      <th style="width: 25px;">
        <a href="javascript:void(0)" class="dropdown" data-dropdown="dropAddProperty" ng-show="_agenda.currentCell.editable"
           ng-click="_agenda.appointment.clearSearchProperty()">
          <i class="fa fa-plus-circle fa-lg"></i>
        </a>

        <div id="dropAddProperty" style="padding: 2rem;" data-dropdown-content class="f-dropdown text-left">
          <a style="position: absolute;top: 0.5rem;right: 0.6875rem;color: #aaa;font-size: 1.375rem;font-weight: bold;cursor: pointer;"
             onclick="$('#dropAddProperty').foundation('dropdown', 'close', $('#dropAddProperty'))">&#215;
          </a>
          <br/>

          <form>
            <div class="row" ng-show="_agenda.appointment.propertyError">
              <div class="large-12 columns">
                <label class="error">{{_agenda.appointment.propertyError}}

                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label><span style="color: #3e4095;">Consecutivo/Código:&nbsp;</span>
                  <input type="text" style="text-transform: uppercase;"
                       ng-model="_agenda.appointment.propertyCode"
                       ng-enter="_agenda.appointment.searchProperty()"/>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" ng-show="_agenda.appointment.property">
                <label><span style="color: #3e4095">Barrio:&nbsp;</span>{{_agenda.appointment.property.NEIGHBORHOOD}}</label>
              </div>
            </div>
            <div class="row" ng-show="_agenda.appointment.property">
              <div class="large-12 columns">
                <label><span style="color: #3e4095">Dirección:&nbsp;</span>{{_agenda.appointment.property.ADDRESS}}</label>
              </div>
            </div>
            <div class="row" ng-show="_agenda.appointment.property">
              <div class="large-12 columns">
                <label><span style="color: #3e4095">LLAVES:&nbsp;</span>
                  <select ng-model="_agenda.appointment.property.keys"
                      ng-options="o for o in _agenda.appointment.keysOptions"></select>
                </label>
              </div>
            </div>
            <div class="row" ng-show="_agenda.appointment.property">
              <div class="large-12 columns text-right">
                <a href="javascript:void(0)" class="button tiny" ng-click="_agenda.appointment.addProperty()">Agregar</a>
              </div>
            </div>
          </form>

        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="_agenda.appointment.properties.length==0">
      <td colspan="4">No se han asignado propiedades</td>
    </tr>
    <tr class="text-left" ng-repeat="p in _agenda.appointment.properties">
      <td>
        <span ng-show="p.keys=='AGENCIA'" style="font-weight: bold; color: #910b0e">{{p.CODE}}#{{p.ID}}</span>
        <span ng-show="p.keys!='AGENCIA'" style="font-weight: bold; color: #449404">{{p.CODE}}#{{p.ID}}</span>
      </td>
      <td>{{p.NEIGHBORHOOD}}</td>
      <td>{{p.ADDRESS}}</td>
      <td class="text-center">
        <a href="javascript:void(0)" ng-click="_agenda.appointment.removeProperty($index)" ng-show="_agenda.currentCell.editable">
          <i class="fa fa-trash-o fa-lg"></i>
        </a></td>
    </tr>
    </tbody>
  </table>
  <table style="width: 100%;">

    <thead>
    <tr>
      <th colspan="4" class="text-center" style="color: #3e4095">Contactos Citados</th>
    </tr>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th class="text-right" style="width: 25px;">
        <a href="javascript:void(0)" class="dropdown" data-dropdown="dropAddCustomer" ng-show="_agenda.currentCell.editable"
           ng-click="_agenda.appointment.clearSearchCustomer()">
          <i class="fa fa-plus-circle fa-lg"></i>
        </a>
        
      

         <div id="dropAddCustomer" style="padding: 2rem; max-width:300px;" data-dropdown-content class="f-dropdown text-left">
          <a style="position: absolute;top: 0.5rem;right: 0.6875rem;color: #aaa;font-size: 1.375rem;font-weight: bold;cursor: pointer;"
             onclick="$('#dropAddCustomer').foundation('dropdown', 'close', $('#dropAddCustomer'))">&#215;
          </a>
          <br/>

          <form>
            <div class="row" ng-show="_agenda.appointment.customerError">
              <div class="large-12 columns">
                <label class="error">{{_agenda.appointment.customerError}}

                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label><span style="color: #3e4095;">Código/Nombre Solicitud:&nbsp;</span>
                  <input type="text" style="text-transform: uppercase;"
                       ng-model="_agenda.appointment.customerId"
                       ng-enter="_agenda.appointment.searchCustomer()"/>
                </label>
              </div>
            </div>
            
            <select ng-show="_agenda.appointment.customerList" ng-model="_agenda.appointment.customer" ng-options="item.name for item in _agenda.appointment.customerList">
              
            </select>
            
            <div class="row" ng-show="_agenda.appointment.customer">
              <div class="large-12 columns">
                <label><span style="color: #3e4095">Nombre:&nbsp;</span>{{_agenda.appointment.customer.name}}</label>
              </div>
            </div>
            <div class="row" ng-show="_agenda.appointment.customer">
              <div class="large-12 columns">
                <label style="word-wrap: break-word;"><span style="color: #3e4095">Email:&nbsp;</span>{{_agenda.appointment.customer.email}}</label>
              </div>
            </div>
            <div class="row" ng-show="_agenda.appointment.customer">
              <div class="large-12 columns">
                <label><span style="color: #3e4095">Teléfono:&nbsp;</span>{{_agenda.appointment.customer.phone}}</label>
              </div>
            </div> 
            <div class="row" ng-show="_agenda.appointment.customer">
              <div class="large-12 columns text-right">
                <a href="javascript:void(0)" class="button tiny" ng-click="_agenda.appointment.addCustomer()">Agregar</a>
              </div>
            </div>
          </form>

        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="_agenda.appointment.customers.length==0">
      <td colspan="4">No se han citado contactos</td>
    </tr>
    <tr class="text-left" ng-repeat="c in _agenda.appointment.customers">
      <td>{{c.NAME}}</td>
      <td>{{c.EMAIL}}</td>
      <td>{{c.PHONE}}</td>
      <td class="text-center">
        <a href="javascript:void(0)" ng-click="_agenda.appointment.removeCustomer($index)" ng-show="_agenda.currentCell.editable">
          <i class="fa fa-trash-o fa-lg"></i>
        </a></td>
    </tr>
    </tbody>
  </table>
  <table style="width: 100%;">
    <thead>
    <tr>
      <th>Lugar de encuentro</th>
      <th>Observaciones</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <span ng-show="_agenda.currentCell.editable==false">{{_agenda.appointment.place}}</span>
        <select
            ng-show="_agenda.currentCell.editable"
            ng-options="o for o in  _agenda.appointment.places"
            ng-model="_agenda.appointment.place"></select>
      </td>
      <td>
        <textarea style="height: 3.0rem;padding:0;margin: 0;"
              ng-disabled="_agenda.currentCell.editable==false"
              ng-model="_agenda.appointment.comments"></textarea>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="row" style="margin-top: 10px;">
    <div class="large-12 medium-12 columns text-right" style="padding-right: 0;">
      <button class="button tiny right" style="margin-right: 3px;"
          ng-show="_agenda.currentCell.editable"
          ng-click="_agenda.appointment.saveAppointment()"
          ng-disabled="_agenda.appointment.properties.length!=0 && _agenda.appointment.customers.length==0"
          onclick="$('#cellModal').foundation('reveal', 'close');"><i class="fa fa-save fa-lg"></i>&nbsp;Guardar
        Cita
      </button>

      <button class="button tiny right" style="margin-right: 3px;"
          ng-show="_agenda.currentCell.appointment && _agenda.currentCell.editable"
          ng-click="_agenda.appointment.cancelAppointment()"
          onclick="$('#cellModal').foundation('reveal', 'close');"><i class="fa fa-times fa-lg"></i>&nbsp;Cancelar
        Cita
      </button>
      &nbsp;&nbsp;
      <button class="button tiny right" style="margin-right: 3px;"
          ng-show="_agenda.currentCell.appointment && _agenda.currentCell.status!=2 && _agenda.currentCell.editable"
          ng-click="_agenda.appointment.confirmAppointment()"
          onclick="$('#cellModal').foundation('reveal', 'close');"><i class="fa fa-check-square-o fa-lg"></i>&nbsp;Confirmar
        Cita
      </button>

      <button class="close-reveal-modal button tiny" style="margin-right: 3px;"><i
          class="fa fa-times-circle-o"></i>&nbsp;Cerrar
      </button>
    </div>
  </div>
</div>