<div class="row">
  <div class="large-12 medium-12 columns">
    <hr>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns text-right">
    <a class="button tiny" href="javascript:history.go(-1)"><i class="fa fa-backward"></i>&nbsp;Regresar</a>
    <button class="button tiny" ng-click="_contactSection.save()" ng-hide="_contactSection.readOnly"><i
            class="fa fa-save"></i>&nbsp;Guardar
    </button>
    <button class="button tiny" ng-click="updateRequest('FINALIZADO')"><i
            class="fa fa-check-square-o"></i>&nbsp;Finalizar Contacto
    </button>
    <button class="button tiny" data-reveal-id="transferRequest"><i
            class="fa fa-random"></i>&nbsp;Transferir Contacto
    </button>
    <button class="button tiny" data-reveal-id="createRequest">
      <i class="fa fa-arrow-right"></i>&nbsp;Crear Solicitud
    </button>
    <a href="#/AgendarCita/{{ _contactSection.request.id }}" class="button tiny">
      <i class="fa fa-calendar-o"></i>&nbsp;Agendar Cita
    </a>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 columns text-left">
    <span class="error" ng-show="_contactSection.errors.length">Errores Encontrados</span>
    <ul>
      <li ng-repeat="e in _contactSection.errors"><label style="color: indianred;">{{ e }}</label></li>
    </ul>

  </div>
</div>

<div class="row">
  <div class="large-6 medium-6 small-12 columns">
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <table class="prop-clear" style="width: 100%;vertical-align: middle;">
          <tr ng-show="_contactSection.request.id">
            <td>
              <span style="color: #3e4095;">ID:
              </span>
            </td>
            <td>#{{_contactSection.request.id}}</td>
          </tr>
          <tr>
            <td style="width: 120px;"><span style="color: #3e4095;">Tipo:</span>&nbsp;
              <i class="fa fa-desktop" ng-show="_contactSection.isType('WEB')"></i>
              <i class="fa fa-phone-square" ng-show="_contactSection.isType('TEL')"></i>
              <i class="fa fa-envelope-o" ng-show="_contactSection.isType('EMAIL')"></i>
              <i class="fa fa-user" ng-show="_contactSection.isType('PERSONAL')"></i>
            </td>
            <td>
              <select ng-model="_contactSection.request.type"
                      ng-options="c.value for c in _contactSection.newList"
                      ng-hide="_contactSection.readOnly">
              </select>
              <span ng-show="_contactSection.readOnly">{{ _contactSection.request.type }}</span>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;">
              <span style="color: #3e4095;">Nombre:</span>&nbsp;
            </td>
            <td>
              <input ng-hide="_contactSection.readOnly" type="text"
                     ng-model="_contactSection.request.name"/>
              <span ng-show="_contactSection.readOnly">{{ _contactSection.request.name }}</span>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"><span style="color: #3e4095;">Correo:</span></td>
            <td>
              <input ng-hide="_contactSection.readOnly" type="text"
                     ng-model="_contactSection.request.email"/>
              <a ng-show="_contactSection.readOnly" ng-href="mailto:{{ _contactSection.request.email }}">
                {{_contactSection.request.email}}</a>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"><span style="color: #3e4095;">Tel:</span></td>
            <td>
              <input ng-hide="_contactSection.readOnly" type="text"
                     ng-model="_contactSection.request.phone"/>
              <span ng-show="_contactSection.readOnly">{{ _contactSection.request.phone }}</span>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;">
              <span style="color: #3e4095;">Estado:</span>
            </td>
            <td ng-hide="_contactSection.request.status.label">
              <span>{{ _contactSection.request.status}}</span>
            </td>
            <td ng-show="_contactSection.request.status.label">
              <span>{{ _contactSection.request.status.label}}</span>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;">
              <span style="color: #3e4095;">Por qué medio se enteró:</span>
            </td>
            <td>
              <select ng-model="_contactSection.request.medio"
                      ng-options="c for c in _contactSection.heardOptions"
                      ng-hide="_contactSection.readOnly">
              </select>
              <span ng-show="_contactSection.readOnly">{{ _contactSection.request.type }}</span>
            </td>

          </tr>
          <tr>
            <td style="width: 150px;">
              <span style="color: #3e4095;">Fecha Contacto:</span>
            </td>
            <td>
              <span>{{ _contactSection.request.created | date:'yyyy/MM/dd hh:mm a'}}</span>
            </td>
          </tr>
          <tr ng-show="_contactSection.request.id">
            <td style="width: 150px;">
              <span style="color: #3e4095;">Fecha Actualización:</span>
            </td>
            <td>
              <span>{{ _contactSection.request.updated | date:'yyyy/MM/dd hh:mm a'}}</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="width: 150px;">
              <span style="color: #3e4095;">Mensaje:</span>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div ng-show="_contactSection.readOnly"
                   ng-bind-html="_contactSection.request.htmlMessage"></div>
              <textarea ng-hide="_contactSection.readOnly"
                        ng-model="_contactSection.request.message"></textarea>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row" ng-hide="_contactSection.request.status=='FINALIZADO'">
      <div ng-show="_contactSection.request.id" class="large-12 medium-12 small-12 columns">
        <form>
          <div class="row">
            <div class="large-12 medium-12 small-12 columns">
              <label>Comentario:</label>
              <textarea ng-model="_requestUpdateForm.comment" maxlength="2000"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="large-12 medium-12 small-12 columns text-right">
              <button class="button tiny" ng-click="updateRequest('PROCESANDO')"><i
                      class="fa fa-plus-square-o"></i>&nbsp;Agregar Comentario
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>
    <div class="row">
      <div ng-show="_contactSection.request.appointments" class="large-12 medium-12 small-12 columns">

        <ul class="tabs" ng-init="tabActive=1">
          <li class="tab-title small-6" ng-class="{active:tabActive==1}">
            <a href="javascript:;" ng-click="tabActive=1">Citas Asignadas</a>
          </li>
          <li class="tab-title small-6" ng-class="{active:tabActive==2}">
            <a href="javascript:;" ng-click="tabActive=2">Calificaciones</a>
          </li>
        </ul>
        <div class="tabs-content">
          <div class="content" ng-class="{active:tabActive==1}">
            <ul class="no-bullet">
              <li ng-repeat="ap in _contactSection.request.appointments" class="list-item list-item--separator">
                <ul class="no-bullet">
                  <li style="font-size: 0.8em">
                    <span style="color: #3e4095;">Fecha/Hora:</span>&nbsp;{{ap.SCHEDULED_LABEL}}
                    {{hourBasicFromText(ap.TIME_FROM)}} - {{hourBasicFromText(ap.TIME_TO)}}
                  </li>

                  <li style="font-size: 0.8em">
                    <span style="color: #3e4095;">Promotor(a):</span>&nbsp;{{ap.PROMOTER}}
                  </li>
                  <li style="font-size: 0.8em">
                    <span style="color: #3e4095;">Asesor(a):</span>&nbsp;{{ap.CONSULTANT}}
                  </li>
                  <li style="font-size: 0.8em">
                    <span style="color: #3e4095;">Propiedades:</span>&nbsp;
                    <ul class="inline-list" ng-if="ap.properties" style="margin: 0;padding: 0;">
                      <li ng-repeat="p in ap.properties" style="margin: 0;padding-left: 5px;">
                        <span ng-show="p.keys=='AGENCIA' && p.CODE==ap.PLACE" class="bold underline color-agency">
                          {{p.CODE}}<a class="bold underline color-agency" ng-href="#/Properties/{{p.ID}}">#{{p.ID}}</a>
                        </span>
                        <span ng-show="p.keys=='AGENCIA' && p.CODE!=ap.PLACE" class="bold color-agency">
                          {{p.CODE}}<a class="bold color-agency" ng-href="#/Properties/{{p.ID}}">#{{p.ID}}</a>
                        </span>
                        <span ng-show="p.keys!='AGENCIA'&& p.CODE==ap.PLACE" class="bold underline color-place">
                          {{p.CODE}}<a class="bold underline color-place" ng-href="#/Properties/{{p.ID}}">#{{p.ID}}</a>
                        </span>
                        <span ng-show="p.keys!='AGENCIA' && p.CODE!=ap.PLACE" class="bold color-place">
                          {{p.CODE}}<a class="bold color-place" ng-href="#/Properties/{{p.ID}}">#{{p.ID}}</a>
                        </span>
                      </li>
                    </ul>
                  </li>
                  <li style="font-size: 0.8em" ng-show="ap.COMMENTS">
                    <span style="color: #3e4095;">Observaciones:</span>&nbsp;<span style="font-size: 0.9em">{{ ap.COMMENTS}}</span>
                  </li>
                </ul>

              </li>
            </ul>
          </div>

          <div class="content" ng-class="{active:tabActive==2}">
            <ul class="no-bullet">
              <li ng-repeat="r in _requestReviews" class="list-item list-item--separator list-item--hover" ng-click="detailReview(r)">
                <ul class="no-bullet">
                  <li ng-if="r.PROMOTER_ID" class="font-small">
                    <span class="color-primary">Promotor:</span> {{r.PROMOTER}}
                  </li>
                  <li ng-if="r.CONSULTANT_ID" class="font-small">
                    <span class="color-primary">Asesor:</span> {{r.CONSULTANT}}
                  </li>
                  <li class="font-small">
                    <span class="color-primary">Calificación:</span> {{r.RATING | number : 1}} <i class="fa fa-star color-primary"></i>
                  </li>
                  <li class="font-small">
                    <span class="color-primary">Comentario:</span> {{r.COMMENTS || "No hay comentario"}}
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="large-6 medium-6 small-12 columns">
    <div class="row" ng-show="_requestComments.length && _contactSection.request.id">
      <div class="large-12 medium-12 small-12 columns panel">
        <h5>Histórico de Comentarios</h5>
        <ul class="no-bullet">
          <li ng-repeat="comment in _requestComments">
            <ul class="no-bullet">
              <li>
                <hr/>
              </li>
              <li style="font-size: 0.8em"><span style="color: #3e4095;">Usuario:</span>&nbsp;{{
                comment.name }}
              </li>
              <li style="font-size: 0.8em"><span style="color: #3e4095;">Fecha:</span>&nbsp;{{
                comment.created | date:'yy/MM/dd hh:mm a' }}
              </li>
              <li style="font-size: 0.8em"><span style="color: #3e4095;">Estado:</span>&nbsp;{{
                comment.status}}
              </li>
              <li style="font-size: 0.8em"><span style="color: #3e4095;">Comentario:</span>&nbsp;<span
                      style="font-size: 0.9em" ng-bind-html="comment.comment"></span></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="reveal-modal medium" data-reveal id="transferRequest">
  <form>
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <label>Transferir Solicitud a:</label>
        <select ng-model="_contactSection.assignTo" ng-options="o.NAME for o in _userList">
        </select>
      </div>
    </div>
    <div class="row">
      <div class="large-12 medium-12 small-12 columns text-right">
        <button class="close-reveal-modal button tiny" ng-click="_contactSection.transferRequest()">
          <i class="fa fa-arrow-circle-right"></i>&nbsp;Confirmar Transferencia
        </button>
        <button class="close-reveal-modal button tiny">
          <i class="fa fa-times-circle-o"></i>&nbsp;Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
<div class="reveal-modal tiny" data-reveal id="createRequest">
  <form>
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <label>Nro. Dcoumento de Identidad:</label>
        <input type="text" ng-model="documentToRequest" ng-disabled="requestInfo" onkeydown="return numbersOnly(event)">
      </div>
    </div>
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <label>Propiedad:</label>
        <input type="text" ng-model="propToRequest" ng-disabled="requestInfo" onkeydown="return numbersOnly(event)">
      </div>
    </div>
    <div class="row" ng-show="createMsg">
      <ul>
        <li ng-repeat="error in requestError">
          {{error}}
        </li>
      </ul>
      <p>
        {{requestInfo}}
      </p>
    </div>
  </form>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns text-right">
      <button class="tiny" ng-click="createRequest()" ng-show="!requestInfo">
        <i class="fa fa-arrow-circle-right"></i>&nbsp;Crear Solicitud
      </button>
      <a class="button tiny close-reveal-modal" ng-click="clearRequest()" ng-show="requestInfo">
        <i class="fa fa-times-circle-o"></i>&nbsp;Cerrar
      </a>
      <a class="button tiny close-reveal-modal" ng-click="clearRequest()" ng-show="!requestInfo">
        <i class="fa fa-times-circle-o"></i>&nbsp;Cancelar
      </a>
    </div>
  </div>
</div>
<div class="reveal-modal medium" data-reveal id="reviewsDetail">
  <div class="row">
    <div class="small-6 columns">
      <dl>
        <dt>Contacto</dt>
        <dd>
          {{_contactSection.request.name}}
        </dd>
        <dt ng-if="reviewSelected.PROMOTER_ID">Promotor</dt>
        <dd ng-if="reviewSelected.PROMOTER_ID">
          {{reviewSelected.PROMOTER}}
        </dd>
        <dt ng-if="reviewSelected.CONSULTANT_ID">Asesor</dt>
        <dd ng-if="reviewSelected.CONSULTANT_ID">
          {{reviewSelected.CONSULTANT}}
        </dd>
        <dt>Calificación</dt>
        <dd>
          {{reviewSelected.RATING | number : 1}} <i class="fa fa-star color-primary"></i>
        </dd>
        <dt>Comentario</dt>
        <dd>
          {{reviewSelected.COMMENTS || 'No hay comentario'}}
        </dd>
      </dl>
    </div>
    <div class="small-6 columns">
      <dl>
        <dt>Cumplimiento</dt>
        <dd>
          <ul class="inline-list color-primary">
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P1>=1}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P1>=2, 'fa-star-o':reviewSelected.P1<2}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P1>=3, 'fa-star-o':reviewSelected.P1<3}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P1>=4, 'fa-star-o':reviewSelected.P1<4}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P1==5, 'fa-star-o':reviewSelected.P1<5}"></i>
            </li>
          </ul>
        </dd>
        <dt>Presentación</dt>
        <dd>
          <ul class="inline-list color-primary">
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P2>=1}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P2>=2, 'fa-star-o':reviewSelected.P2<2}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P2>=3, 'fa-star-o':reviewSelected.P2<3}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P2>=4, 'fa-star-o':reviewSelected.P2<4}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P2==5, 'fa-star-o':reviewSelected.P2<5}"></i>
            </li>
          </ul>
        </dd>
        <dt>Conocimiento del tema</dt>
        <dd>
          <ul class="inline-list color-primary">
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P3>=1}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P3>=2, 'fa-star-o':reviewSelected.P3<2}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P3>=3, 'fa-star-o':reviewSelected.P3<3}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P3>=4, 'fa-star-o':reviewSelected.P3<4}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P3==5, 'fa-star-o':reviewSelected.P3<5}"></i>
            </li>
          </ul>
        </dd>
        <dt>Amabilidad</dt>
        <dd>
          <ul class="inline-list color-primary">
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P4>=1}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P4>=2, 'fa-star-o':reviewSelected.P4<2}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P4>=3, 'fa-star-o':reviewSelected.P4<3}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P4>=4, 'fa-star-o':reviewSelected.P4<4}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P4==5, 'fa-star-o':reviewSelected.P4<5}"></i>
            </li>
          </ul>
        </dd>
        <dt>Respeto</dt>
        <dd>
          <ul class="inline-list color-primary">
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P5>=1}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P5>=2, 'fa-star-o':reviewSelected.P5<2}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P5>=3, 'fa-star-o':reviewSelected.P5<3}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P5>=4, 'fa-star-o':reviewSelected.P5<4}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P5==5, 'fa-star-o':reviewSelected.P5<5}"></i>
            </li>
          </ul>
        </dd>
        <dt>Asesoría</dt>
        <dd>
          <ul class="inline-list color-primary">
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P6>=1}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P6>=2, 'fa-star-o':reviewSelected.P6<2}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P6>=3, 'fa-star-o':reviewSelected.P6<3}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P6>=4, 'fa-star-o':reviewSelected.P6<4}"></i>
            </li>
            <li>
              <i class="fa" ng-class="{'fa-star':reviewSelected.P6==5, 'fa-star-o':reviewSelected.P6<5}"></i>
            </li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
  <a class="close-reveal" aria-label="Close">&#215;</a>
</div>