<div class="row">
  <div class="large-12 medium-12 columns">
    <div class="row">
      <div class="large-12 medium-12 columns">
        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="large-5 medium-5  small-12 columns">
        <h4 class="subheader">Solicitudes de Contacto</h4>
      </div>
      <div class="large-5 medium-5  small-12 columns">
        <ul class="pagination" ng-show="_requestList.length">
          <li class="current" style="cursor: hand;" ng-show="_requestManager.page>1">
            <a style="cursor:hand;" ng-href="#{{urlPath}}{{contSymbol}}page=1">
              <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i>
            </a>
          </li>
          <li class="current" style="cursor: hand;" ng-show="_requestManager.page>1">
            <a style="cursor:hand;" ng-href="#{{urlPath}}{{contSymbol}}page={{_requestManager.page - 1}}">
              <i class="fa fa-chevron-left"></i></a>
          </li>
          <li class="current">P&aacute;gina:&nbsp;{{ _requestManager.page }}</li>
          <li>de</li>
          <li>{{ _requestManager.totalPages }}</li>
          <li class="current" style="cursor:hand;" ng-show="_requestManager.page<_requestManager.totalPages">
            <a style="cursor:hand;" ng-href="#{{urlPath}}{{contSymbol}}page={{_requestManager.page + 1}}">
              <i class="fa fa-chevron-right"></i>
            </a>
          </li>
          <li class="current" style="cursor: hand;" ng-show="_requestManager.page<_requestManager.totalPages">
            <a style="cursor:hand;" ng-href="#{{urlPath}}{{contSymbol}}page={{_requestManager.totalPages}}">
              <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="large-2 medium-2  small-12 columns text-right">
        <a class="button tiny" ng-href="#/Contact/add">
          <i class="fa fa-file-text-o"></i>&nbsp;Nuevo
        </a>
      </div>
    </div>

    <!-- Filters -->
    <form>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <label>ID Contacto:</label>
          <input type="text" style="width: 100%" ng-model="_requestFilters.contactId" ng-enter="_requestManager.search()">
        </div>
        <div class="large-4 medium-4 columns">
          <label>Nombre Contacto:</label>
          <input type="text" ng-model="_requestFilters.contactName" ng-enter="_requestManager.search()">
        </div>
        <div class="large-4 medium-4 columns">
          <label>Asignado A:</label>
          <input type="text" style="width: 100%" ng-model="_requestFilters.userName" ng-enter="_requestManager.search()">
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <label>Tipo:</label>
          <select ng-model="_requestFilters.type" ng-options="o.label for o in _contactSection.typeList"
              ng-change="_requestManager.search()">
          </select>
        </div>
        <div class="large-4 medium-4 columns">
          <label>Estado:</label>
          <select ng-model="_requestFilters.status" ng-options="o.label for o in _contactSection.statusList"
              ng-change="_requestManager.search()">

          </select>
        </div>
        <div class="large-4 medium-4 columns text-right">
          <label>&nbsp;</label>
          <button class="button tiny" ng-click="_contactSection.clear()"><i class="fa fa-eraser"></i>&nbsp;Limpiar
          </button>
        </div>
      </div>
    </form>

    <!-- Table -->
    <div class="row">
      <div class="large-12 medium-12 columns">
        <table style="width: 100%;">
          <thead>
          <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Contacto</th>
            <th>Estado Asignación</th>
            <th>Fecha Contacto</th>
            <th>Fecha Actualizado</th>
            <th class="text-center">
              <img data-loading style="height: 16px;" src="images/spinner2-bluey.gif" alt=""/>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="c in _requestList">
            <td>#{{c.id}}</td>
            <td class="text-center">
              <i class="fa fa-desktop fa-2x" ng-show="c.type=='WEB'"></i>
              <i class="fa fa-phone-square fa-2x" ng-show="c.type=='TEL'"></i>
              <i class="fa fa-envelope-o fa-2x" ng-show="c.type=='EMAIL'"></i>
              <i class="fa fa-user fa-2x" ng-show="c.type=='PERSONAL'"></i>
            </td>
            <td>
              <span style="color: #3e4095;">Nombre:</span>&nbsp;{{ c.name }}<br/>
              <span style="color: #3e4095;">Correo:</span>&nbsp;<a ng-href="mailto:{{ c.email }}"> {{
              c.email }}</a><br/>
              <span style="color: #3e4095;">Tel:</span>&nbsp;{{ c.phone }}
            </td>
            <td class="text-left">
              <span style="color: #3e4095;">Estado:</span>&nbsp;{{ c.status.label }}<br/>
              <span style="color: #3e4095;">Asignado A:</span>&nbsp;{{ c.owner }}<br/>
            </td>
            <td class="text-center">{{ c.created | date:'yyyy/MM/dd hh a' }}</td>
            <td class="text-center">{{ c.updated | date:'yyyy/MM/dd hh a'}}</td>
            <td class="text-center">
              <a style="cursor:hand;" ng-href="#/Contact/{{c.id}}"><i
                  class="fa fa-search-plus fa-lg"></i></a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>