<div class="row text-center" style="background-color: #ffffff;">
  <div class="large-12 medium-12 small-12 column">
    <h6 class="subheader">Contactos Abiertos(Pendientes/Procesando) por Asesor(a)</h6>
    <d3asesor></d3asesor>
    <h6 class="subheader">Contactos Abiertos(Pendientes/Procesando) por Tipo</h6>
    <d3tipo></d3tipo>
  </div>
</div>