<div class="row">
  <div class="small-12 column">
    <a ng-href="#/Solicitudes?frequestId={{filters.entityId.entity}}" class="button small mb-0 right" ng-show="backRequest">
      <i class="fa fa-reply fa-lg"></i>
      Regresar
    </a>
    <a href="javascript:history.go(-1)" class="button small mb-0 right" ng-show="!backRequest">
      <i class="fa fa-reply fa-lg"></i>
      Regresar
    </a>
  </div>
</div>
<div class="row">
  <div class="small-12">
    <form>
      <fieldset>
        <legend>Buscar por Filtros</legend>
        <div class="row" ng-show="open">
          <div class="medium-3 columns">
            <div class="row collapse">
              <label>Carpeta</label>
              <select ng-model="filters.folder" ng-options="c.label for c in contentCategories"></select>
            </div>
          </div>
          <div class="medium-3 columns">
            <div class="row collapse">
              <div ng-if="filters.folder.value==2 && filters.folder.value">
                <label>Contrato:</label>
                <div class="small-10 columns">
                  <input type="text" placeholder="Contrato" readonly ng-model="filters.entityId.label" data-reveal-id="contractSearch"/>
                </div>
                <div class="small-2 columns">
                  <a class="postfix button mb-0" data-reveal-id="contractSearch">
                    <i class="fa fa-plus-circle fa-lg"></i>
                  </a>
                </div>
              </div>
              <div ng-if="filters.folder.value==1 && filters.folder.value">
                <label>Solicitud:</label>
                <div class="small-10 columns">
                  <input type="text" placeholder="Solicitud" readonly ng-model="filters.entityId.label" data-reveal-id="contactSearch"/>
                </div>
                <div class="small-2 columns">
                  <a class="postfix button mb-0" data-reveal-id="contactSearch">
                    <i class="fa fa-plus-circle fa-lg"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="medium-3 columns medium-uncentered">
            <div class="row collapse">
              <label>Tipo de Documento</label>
              <select ng-model="filters.docType" ng-options="d.label for d in documentType" ng-change="searchItem()"></select>
            </div>
          </div>
          <div class="medium-3 columns medium-uncentered">
            <div class="row collapse" ng-if="filters.docType.value">
              <label>{{filters.docType.filter_name}}
                <input type="text" ng-model="filters.magicBox" ng-enter="searchItem()"></select>
              </label>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="row collapse">
  <div class="small-12 column">
    <header class="header-section clearfix">
      <span class="header-section__title">
        <span ng-if="filters.folder.value">{{filters.folder.label}}</span>
        <span ng-if="filters.entityId">/ {{filters.entityId.entity}}</span>
        <span ng-if="filters.docType.value">/ {{filters.docType.label}}</span>
      </span>
      <a ng-click="levelUp();" class="button tiny mb-0 right" ng-show="nav">
        <i class="fa fa-level-up" style="font-size:16px;"></i>
      </a>
      <a ng-click="uploadPanel();" class="button tiny mb-0 right" ng-show="filters.docType.value && !uploadSw">
        <i class="fa fa-upload" style="font-size:16px;"></i>
      </a>
      <a ng-click="showPhotos();" class="button tiny mb-0 right" ng-show="filters.docType.value && !uploadSw && filters.docType.label.indexOf('360') === -1">
        <i class="fa fa-camera" style="font-size:16px;"></i>
      </a>

      <a ng-click="searchPanel();" class="button tiny mb-0 right" ng-show="uploadSw">
        <i class="fa fa-search" style="font-size:16px;"></i>
      </a>
      <a ng-href="#/DigitalArchive/1/{{idRequestRefences}}" class="button tiny mb-0 right" ng-if="idRequestRefences">
        <i class="fa fa-tasks"></i> IR A SOLICITUD
      </a>
    </header>
    <div id="myModal" class="reveal-modal" style="max-width: 980px;" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
         role="dialog">
      <a style="font-size: 2.5rem; " class="close-reveal-modal" aria-label="Close">&#215;</a>
      <div id="js-panorama"></div>
    </div>
    <section ng-if="!uploadSw">
      <div class="row">
        <ul class="small-block-grid-4 medium-block-grid-7 text-center">
          <li ng-repeat="item in collection">
            <div ng-switch="item.metadataInfo.ICON_TYPE">
              <div ng-switch-when="Folder">
                <a ng-click="item.action($event)" class="item pointer">
                  <div class="item__icon" style="pointer-events: none;">
                    <i class="fa-3x fa fa-{{item.type}}"></i>
                  </div>
                  <span class="item__caption" style="pointer-events: none;">
                    {{item.name}}
                  </span>
                </a>
              </div>
              <div ng-switch-when="Document">
                <a class="item pointer" data-dropdown="content{{item.metadataInfo.ID}}">
                  <div class="item__icon" style="pointer-events: none;" ng-if="filters.docType.label.indexOf('360') === -1">
                    <i class="fa-3x fa fa-{{item.type}}"></i>
                  </div>
                  <div class="item__icon" style="pointer-events: none;" ng-if="filters.docType.label.indexOf('360') !== -1"
                       style='background-image: url("{{item.metadataInfo.CONTENT_PATH}}");'>
                    <img ng-src="{{item.metadataInfo.CONTENT_PATH}}" alt="" width="100">
                  </div>
                  <span class="item__caption" style="pointer-events: none;">
                    {{item.name}}
                  </span>
                </a>
                <div id="content{{item.metadataInfo.ID}}" class="f-dropdown content small" data-dropdown-content>
                  <a ng-click="panorama($event,item.metadataInfo.CONTENT_PATH)" class="button tiny" data-reveal-id="myModal"
                     ng-if="item.metadataInfo.isImage && filters.docType.label.indexOf('360') !== -1">
                    <i class="item-icon fa fa-camera"></i>
                  </a>
                  <a ng-href="{{item.metadataInfo.CONTENT_PATH}}" class="button tiny" data-lightbox="image-items" ng-if="item.metadataInfo.isImage && filters.docType.label.indexOf('360') === -1">
                    <i class="item-icon fa fa-camera"></i>
                  </a>
                  <a ng-href="{{item.metadataInfo.CONTENT_PATH}}" download="{{item.name}}" target="_blank" class="button tiny">
                    <i class="item-icon fa fa-download"></i>
                  </a>
                  <a class="button tiny" ng-click="deteleItem(item)" ng-if="_session.role == 1">
                    <i class="item-icon fa fa-trash-o"></i>
                  </a>
                  <!--<a href="javascript:alert('muy pronto')" class="button tiny">-->
                  <!--<i class="item-icon fa fa-share-square-o"></i>-->
                  <!--</a>-->
                  <div class="row text-left">
                    <label>{{item.metadataInfo.FILTER_LABEL}}
                      <input class="mb-0" type="text" readonly value="{{item.metadataInfo.FILTER_VALUE}}">
                    </label>
                  </div>
                </div>
                <script>
                  $(document).foundation();
                </script>
              </div>
            </div>
          </li>
        </ul>
        <div class="medium-8 column medium-centered" ng-if="collection.length==0">
          <p class="text-center">No se han entrado Documentos Existentes</p>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 small-8 small-centered columns">
          <div class="pagination-centered" ng-show="mainTotalPages > 1">
            <ul class="pagination">
              <li class="current pointer" ng-shw="mainPage > 1">
                <button class="button tiny" ng-click="firstMain()" ng-disabled="mainPage == 1">
                  <i class="fa fa-lg fa-angle-double-left"></i>
                </button>
              </li>
              <li class="current pointer" ng-shw="mainPage > 1">
                <button class="button tiny" ng-click="prevMain();" ng-disabled="mainPage == 1">
                  <i class="fa fa-lg fa-angle-left"></i>
                </button>
              </li>
              <li class="current">P&aacute;gina:&nbsp;{{ mainPage }}</li>
              <li>de</li>
              <li>{{ mainTotalPages }}</li>
              <li class="current pointer" ng-sho="mainPage < mainTotalPages">
                <button class="button tiny" ng-click="nextMain();" ng-disabled="mainPage == mainTotalPages">
                  <i class="fa fa-lg fa-angle-right"></i>
                </button>
              </li>
              <li class="current pointer" ng-shw="mainPage < mainTotalPages">
                <button class="button tiny" ng-click="lastMain()" ng-disabled="mainPage == mainTotalPages">
                  <i class="fa fa-lg fa-angle-double-right"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section ng-if="uploadSw">
      <div class="row">
        <div class="small-12 medium-10 medium-centered column">
          <div class="row">
            <div class="medium-4 column">
              <label>Documento:</label>
            </div>
          </div>
          <div class="row">
            <div class="medium-5 columns">
              <div class="button small button-file">
                Selecione los Archivos
                <input type="file" file-upload multiple>
              </div>
              <div dropzone class="dropzone">Arrastre sus<br> archivos ac&aacute;</div>
            </div>
            <div class="medium-7 columns">
              <button class="button small right" ng-click="save()" ng-disabled="files.length==0">Subir Archivos</button>
              <table ng-show="files.length>0 || filesSend.length>0" class="small-12">
                <thead>
                <tr ng-if="filters.docType.value == 308 || filters.docType.value == 309">
                  <th colspan="3">Año de el/los extractos a subir</th><th colspan="2">
                  <select class="form-control"  ng-model="filters.filterId">
                    <option value="2009">1990</option>
                    <option value="2009">1991</option>
                    <option value="2009">1992</option>
                    <option value="2009">1992</option>
                    <option value="2009">1993</option>
                    <option value="2009">1994</option>
                    <option value="2009">1995</option>
                    <option value="2009">1996</option>
                    <option value="2009">1997</option>
                    <option value="2009">1998</option>
                    <option value="2009">1999</option>
                    <option value="2009">2000</option>
                    <option value="2009">2001</option>
                    <option value="2009">2003</option>
                    <option value="2009">2004</option>
                    <option value="2009">2005</option>
                    <option value="2009">2006</option>
                    <option value="2009">2007</option>
                    <option value="2009">2008</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016" selected="selected">2016</option>
                  </select>
                </th>
                </tr>
                <tr>
                  <th>Documento</th>
                  <th class="medium-3">Estado</th>
                  <th class="medium-3">Carpeta</th>
                  <th class="medium-3">Tipo Doc.</th>
                  <th></th>
                </tr>

                </thead>

                <tbody class="scroll">
                <tr ng-repeat="file in filesSend">
                  <td>
                    {{file.name}}
                  </td>
                  <td>
                    <div class="progress mb-0" ng-class="{success: file.upload, alert: file.error}">
                      <img ng-show="!file.status" src="img/progress-bar.gif" alt="loading bar">
                      <span class="meter info-error" ng-show="file.status">
                          <span ng-show="file.error" class="pointer" ng-click="showErrors()">
                            Error!
                          </span>
                          <span ng-show="file.upload">
                            Completado!
                          </span>
                        </span>
                    </div>
                  </td>
                  <td>{{file.carpeta}}</td>
                  <td>{{file.documento}}</td>
                </tr>
                <tr ng-repeat="file in files">
                  <td>{{file.name}}</td>
                  <td></td>
                  <td>{{file.carpeta}} - {{filters.docType.value}}</td>
                  <td>{{file.documento}}</td>
                  <td>
                    <a ng-click="deleteFile($index)">
                      <i class="fa fa-trash-o fa-lg"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 medium-centered column">
          <div class="row">
            <div class="medium-6 columns">
              <ul>
                <li ng-repeat="error in errors">
                  {{error}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="reveal-modal" data-reveal id="contractSearch" style="padding:1em;">
  <form>
    <div class="row">
      <fieldset>
        <legend>Buscar Contrato</legend>
        <div class="row">
          <div class="medium-4 large-2 columns">
            <label><span style="color: #3e4095;">Nro. Contrato</span>
              <input type="text" capitalize ng-model="contractFilter" ng-enter="searchFilter()"/>
            </label>
          </div>
          <div class="medium-4 large-2 columns">
            <label><span style="color: #3e4095;">Cons. Propiedad</span>
              <input type="text" capitalize ng-model="propFilter" ng-enter="searchFilter()"/>
            </label>
          </div>
          <div class="medium-4 large-2 columns">
            <label><span style="color: #3e4095;">CC. de Inquilino</span>
              <input type="text" capitalize ng-model="tenantNroFilter" ng-enter="searchFilter()"/>
            </label>
          </div>
          <div class="medium-4 large-2 columns">
            <label><span style="color: #3e4095;">Nombre de Inquilino</span>
              <input type="text" capitalize ng-model="tenantFilter" ng-enter="searchFilter()"/>
            </label>
          </div>
          <div class="medium-4 large-2 columns">
            <label><span style="color: #3e4095;">CC. de Propietario</span>
              <input type="text" capitalize ng-model="ownerNroFilter" ng-enter="searchFilter()"/>
            </label>
          </div>
          <div class="medium-4 large-2 columns">
            <label><span style="color: #3e4095;">Nombre de Propietario</span>
              <input type="text" capitalize ng-model="ownerFilter" ng-enter="searchFilter()"/>
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
  <div class="row collapse">
    <table class="small-12">
      <thead>
      <tr>
        <th class="small-1 text-center">Contrato</th>
        <th class="text-center">Cons. Propiedad</th>
        <th class="small-3 text-center">inquilino</th>
        <th class="small-2 text-center">CC. Inquilino</th>
        <th class="small-3 text-center">Propietario</th>
        <th class="small-2 text-center">CC. Propietario</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="contract in contracts" ng-click="contract.selected()" class="pointer">
        <td class="text-center">{{contract.contract}}</td>
        <td class="text-center">#{{contract.propiedad}}</td>
        <td>{{contract.tenant}}</td>
        <td class="text-center">{{contract.tenantId}}</td>
        <td>{{contract.owner}}</td>
        <td class="text-center">{{contract.ownerId}}</td>
      </tr>
      <tr ng-show="contracts.length==0">
        <td colspan="6" class="text-center">
          <p>Lo sentimos no hemos encontrado ningun contrato. use otra convinacion de Filtro</p>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="pagination-centered">
      <ul class="pagination">
        <li class="current pointer" ng-show="page>1">
          <a class="pointer" ng-click="prev()">
            <i class="fa fa-arrow-left"></i>
          </a>
        </li>
        <li class="current">{{page}}</li>
        <li>de</li>
        <li>{{totalPages}}</li>
        <li class="current pointer" ng-show="page<totalPages">
          <a class="pointer" ng-click="next()">
            <i class="fa fa-arrow-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="reveal-modal" data-reveal id="contactSearch" style="padding:1em;">
  <form>
    <div class="row">
      <fieldset>
        <legend>Buscar Contacto</legend>
        <div class="row">
          <div class="medium-3 columns">
            <label><span style="color: #3e4095;">Radicado</span>
              <input type="text" ng-model="_ContactFilters.requestId" onkeydown="return numbersOnly(event)" ng-enter="seacrhConctactFilter();"/>
            </label>
          </div>
          <div class="medium-3 columns">
            <label><span style="color: #3e4095;">Nombre</span>
              <input type="text" capitalize ng-model="_ContactFilters.name" ng-enter="seacrhConctactFilter();"/>
            </label>
          </div>
          <div class="medium-3 columns">
            <label><span style="color: #3e4095;">CC. del contacto</span>
              <input type="text" ng-model="_ContactFilters.docId" onkeydown="return numbersOnly(event)" ng-enter="seacrhConctactFilter();"/>
            </label>
          </div>
          <div class="medium-3 columns">
            <label><span style="color: #3e4095;">Consecutivo Contacto</span>
              <input type="text" ng-model="_ContactFilters.contactId" onkeydown="return numbersOnly(event)" ng-enter="seacrhConctactFilter();"/>
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
  <div class="row">
    <table class="small-12">
      <thead>
      <tr>
        <th class="small-6 text-center">Radicado</th>
        <th class="small-6 text-center">Nombre</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="contact in contacts" ng-click="contact.selected()" class="pointer">
        <td class="text-center">#{{contact.id}}</td>
        <td class="text-center">{{contact.name}}</td>
      </tr>
      <tr ng-show="contacts.length==0">
        <td colspan="2" class="text-center">
          <p>Lo sentimos no hemos encontrado ningun contrato. use otra convinacion de Filtro</p>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="pagination-centered">
      <ul class="pagination">
        <li class="current pointer" ng-show="page>1">
          <a class="pointer" ng-click="prevContacts()">
            <i class="fa fa-arrow-left"></i>
          </a>
        </li>
        <li class="current">{{page}}</li>
        <li>de</li>
        <li>{{totalPagesContact}}</li>
        <li class="current pointer" ng-show="page<totalPagesContact">
          <a class="pointer" ng-click="nextContacts()">
            <i class="fa fa-arrow-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="imageGallery" class="" ng-hide="true"></div>