<div class="login-panel">
  <div class="login-panel__scroll">
    <div class="row">
      <div class="small-12 columns">
        <div>
          <div id="featured">
            <form>
              <!-- <div class="row">
                <div class="small-12 large-4 medium-6 small-centered columns">
                  <hr>
                </div>
              </div> -->
              <div class="row">
                <div class="small-8 large-4 medium-6 text-center small-centered columns">
                  <img style="max-height: 200px;" src="images/logo_square.png"/>
                </div>
              </div>
              <div class="row mb-15">
                <div class="small-12 large-4 medium-6 small-centered columns">
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="small-12  large-4 medium-6 small-centered columns">
                  <label>Correo electr&oacute;nico:</label>
                  <input type="email" ng-model="_loginForm.login" required
                       placeholder="usuario@arrendamientosayura.com"/>
                </div>
              </div>
              <div class="row">
                <div class="small-12 large-4 medium-6 small-centered columns">
                  <label>Clave:</label>
                  <input type="password" ng-model="_loginForm.password" required placeholder="Clave"/>
                </div>
              </div>

              <div class="row" ng-hide="!_loginForm.errors.length">
                <div class="small-12 large-4 medium-6 small-centered columns">
                  <ul class="circle">
                    <li ng-repeat="e in _loginForm.errors"><label>{{ e}}</label></li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="small-12 large-4  medium-6 small-centered columns" style="text-align: right;">
                  <button class="button small" ng-click="doLogin()"><i class="fa fa-key"></i>&nbsp;Iniciar
                    Sesi&oacute;n
                  </button>
                </div>
              </div>
              <!-- <div class="row">
                <div class="small-12 large-4 medium-6 small-centered columns">
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="small-8 large-4 medium-6 text-center small-centered columns">
                  <img src="images/corazon.png"/>
                </div>
              </div> -->

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>