<div class="row">

  <div class="large-12 medium-12 columns">

    <div class="row">
      <div class="large-12 medium-12 columns">
        <hr>
      </div>
    </div>
    <!-- Filters -->
    <div class="row">
      <a class="button small" ng-href="#/Properties/add?restore" ng-show="flash.copyMode">
        <i class="fa fa-reply"></i> Regresar a Propietario
      </a>
    </div>
    <form>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <label>Documento</label>
          <input type="text" ng-model="_ownerSection.documentFilter">
        </div>
        <div class="large-4 medium-4 columns">
          <label>Nombre</label>
          <input type="text" ng-model="_ownerSection.nameFilter">
        </div>
        <div class="large-4 medium-4 columns">
          <label>&nbsp;</label>
          <button class="button tiny" ng-click="_ownerSection.search()">
            <i class="fa fa-search"></i>&nbsp;Buscar
          </button>
          &nbsp;&nbsp;
          <a class="button tiny" href="#/Owner/add"><i class="fa fa-file-text-o"></i>&nbsp;Nuevo
          </a>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="large-4 medium-6 small-8 small-centered medium-centered large-centered columns">
        <ul class="pagination">
          <li class="current" style="cursor: hand;" ng-show="_ownerSection.page>1">
            <a style="cursor:hand;" ng-href="#{{urlPath}}{{contSymbol}}page={{_ownerSection.page - 1}}"><i
                class="fa fa-arrow-left"></i></a></li>
          <li class="current">P&aacute;gina:&nbsp;{{ _ownerSection.page}}</li>
          <li>de</li>
          <li>{{ _ownerSection.totalPages }}</li>
          <li class="current" style="cursor:hand;" ng-show="_ownerSection.page<_ownerSection.totalPages">
            <a style="cursor:hand;" ng-href="#{{urlPath}}{{contSymbol}}page={{_ownerSection.page + 1}}"><i
                class="fa fa-arrow-right"></i></a></li>
        </ul>
      </div>
    </div>
    <!-- Table -->
    <div class="row">
      <div class="large-12 medium-12 columns">
        <table style="width: 100%;">
          <thead>
          <tr>
            <th class="text-center">Documento</th>
            <th>Nombre</th>
            <th ng-hide="_session.role==13">Celular</th>
            <th ng-hide="_session.role==13">Tels.</th>
            <th class="text-center">
              <img data-loading style="height: 16px;" src="images/spinner2-bluey.gif" alt=""/>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="o in _ownerSection.items">
            <td class="text-right">{{ o.DOCUMENT }}</td>
            <td>{{ o.NAME }}</td>
            <td ng-hide="_session.role==13">{{ o.CELULAR }}</td>
            <td ng-hide="_session.role==13">{{ o.PHONES }}</td>
            <td class="text-center">
              <a href="#/Owner/{{o.ID}}">
                <i class="fa fa-search-plus fa-lg"></i>
              </a>
              <a ng-show="flash.copyMode" style="cursor:pointer;" ng-href="{{urlFlashMode}}" ng-click="callbackFlashMode(o)"><i
                  class="fa fa-check-square fa-lg"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>