<div class="row">
  <div class="large-12 medium-12 columns">
    <hr>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns text-right">
      <span class="label radius secondary" style="color:#3e4095;font-size: 0.85em;" ng-show="_ownerSection.msg"><i
              class="fa fa-info-circle"></i>&nbsp;{{ _ownerSection.msg  }}</span><span ng-show="_ownerSection.msg">&nbsp;&nbsp;&nbsp;&nbsp;</span>

      <a class="button small" href="javascript:history.go(-1)"><i class="fa fa-backward"></i>&nbsp;Regresar
      </a>
      <button class="button small" ng-click="_ownerSection.edit()" ng-show="_ownerSection.readOnly"><i
              class="fa fa-pencil-square-o"></i>&nbsp;Editar
      </button>
      <button class="button small" ng-click="_ownerSection.generatePassword()" ng-show="_ownerSection.readOnly"><i
              class="fa fa-pencil-square-o"></i>&nbsp;Solicitar Contraseña
      </button>
      <button class="button small" ng-show="flash.copyMode && _ownerSection.readOnly"
              ng-click="flash.callback(_ownerSection.owner)"><i
              class="fa fa-check-square fa-lg"></i>Seleccionar Propietaro
      </button>
      <button class="button small" ng-click="_ownerSection.cancel()" ng-hide="_ownerSection.readOnly"><i
              class="fa fa-times-circle-o"></i>&nbsp;Cancelar
      </button>
      <button class="button small" ng-click="_ownerSection.save()" ng-hide="_ownerSection.readOnly"><i
              class="fa fa-save"></i>&nbsp;Guardar
      </button>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns text-left">
    <span class="error" ng-show="_ownerSection.errors.length">Errores Encontrados</span>
    <ul>
      <li ng-repeat="e in _ownerSection.errors"><label style="color: indianred;">{{ e }}</label></li>
    </ul>
  </div>
</div>

<div class="row panel">
  <form>
    <div class="large-6 medium-6 small-12 columns">

        <ul class="no-bullet">
            <li>
                <label style="color: #3e4095;">Nombre:</label>
                <span ng-show="_ownerSection.readOnly">{{ _ownerSection.owner.NAME }}</span>
                <input type="text" ng-model="_ownerSection.owner.NAME" ng-hide="_ownerSection.readOnly"/>
            </li>
            <li>
                <label style="color: #3e4095;">Documento:</label>
                <span ng-show="_ownerSection.readOnly">{{ _ownerSection.owner.DOCUMENT }}</span>
                <input type="text" ng-model="_ownerSection.owner.DOCUMENT" ng-hide="_ownerSection.readOnly"/>
            </li>
            <li ng-hide="_session.role==13">
                <label style="color: #3e4095;">Dirección:</label>
                <span ng-show="_ownerSection.readOnly">{{ _ownerSection.owner.ADDRESS }}</span>
                <textarea ng-model="_ownerSection.owner.ADDRESS" ng-hide="_ownerSection.readOnly"></textarea>
            </li>
            <li>
                <label style="color: #3e4095;">Teléfonos:</label>
                <span ng-show="_ownerSection.readOnly">{{ _ownerSection.owner.PHONES }}</span>
                <input type="text" ng-model="_ownerSection.owner.PHONES" ng-hide="_ownerSection.readOnly"/>
            </li>
        </ul>
    </div>
    <div class="large-6 medium-6 small-12 columns">
        <ul class="no-bullet">
            <li>
                <label style="color: #3e4095;">Celular:</label>
                <span ng-show="_ownerSection.readOnly">{{ _ownerSection.owner.CELULAR }}</span>
                <input type="text" ng-model="_ownerSection.owner.CELULAR" ng-hide="_ownerSection.readOnly"/>
            </li>
            <li>
                <label style="color: #3e4095;">Correo:</label>
                <span ng-show="_ownerSection.readOnly">{{ _ownerSection.owner.MAIL }}</span>
                <input type="text" ng-model="_ownerSection.owner.MAIL" ng-hide="_ownerSection.readOnly"/>
            </li>
            <li ng-hide="_session.role==13">
                <label style="color: #3e4095;">Cumpleaños:</label>
                <span ng-show="_ownerSection.readOnly">{{ _ownerSection.owner.BIRTHDAY }}</span>
                <input type="text" ng-model="_ownerSection.owner.BIRTHDAY" ng-hide="_ownerSection.readOnly"/>
            </li>
            <li>
                <label style="color: #3e4095;">Comentario:</label>
                <span ng-show="_ownerSection.readOnly">{{ _ownerSection.owner.COMMENT }}</span>
                <textarea ng-model="_ownerSection.owner.COMMENT" ng-hide="_ownerSection.readOnly"></textarea>
            </li>
        </ul>
    </div>
  </form>
</div>

<div class="row">
  <div class="large-12 medium-12 small-12 columns" ng-show="_ownerSection.readOnly">
    <table style="width: 100%;">
      <thead>
        <tr>
          <th colspan="7" class="text-center">
              Se encontraron {{ _ownerSection.ownerProperties.length }} propiedades del usuario.
          </th>
        </tr>
        <tr>
          <th class="text-center" style="width: 77px;">Cons.</th>
          <th class="text-center">Código</th>
          <th>Barrio</th>
          <th>Dirección</th>
          <th class="text-center">Área</th>
          <th class="text-center">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in _ownerSection.ownerProperties">
          <td class="text-center">
            <a style="cursor:hand;" data-reveal-id="previewProp" ng-click="getPropDetail(p.ID)">
              #{{ p.ID }}
            </a>
          </td>
          <td class="text-center">{{ p.CODE }}</td>
          <td>{{ p.NEIGHBORHOOD }}</td>
          <td>{{ p.ADDRESS }}</td>
          <td class="text-right">{{ p.AREA }}m²</td>
          <td class="text-center">{{ _statusMap[p.STATUS] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="reveal-modal large" data-reveal id="previewProp">
  <h2><small>Detalle de la propiedad #{{prop.ID}}</small></h2>
  <table class="prop small-12">
    <tbody>
      <tr class="head">
        <td colspan="3">Dirección</td>
        <td>Ciudad</td>
        <td>Barrio</td>
      </tr>
      <tr>
        <td colspan="3">
          <span>{{ prop.ADDRESS }}</span>
        </td>
        <td>
          <span> {{prop.CITY}}</span>
        </td>
        <td>
          <span>{{ prop.NEIGHBORHOOD }}</span>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr class="head">
        <td>Consecutivo</td>
        <td>Tipo de Servicio</td>
        <td>Código Interno</td>
        <td>Tipo de Propiedad</td>
        <td>Estado del Inmueble</td>
      </tr>
      <tr>
        <td>
          <span>#{{ prop.ID }}</span>
        </td>
        <td>
          <span>{{ _serviceTypesMap[prop.SERVICE_TYPE] }}</span>
        </td>
        <td>
          <span>{{ prop.CODE}}</span>
        </td>
        <td>
          <span>{{ _propertyTypesMap[prop.ID_TYPE] }}</span>
        </td>
        <td>
          <span>{{ _statusMap[prop.STATUS]}}</span>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr class="head">
        <td>Ubicación Llaves</td>
        <td>Actualización</td>
        <td>Área</td>
        <td>Precio</td>
        <td>Estrato</td>
      </tr>
      <tr>
        <td>
          <span>{{ prop.LLAVES}}</span>
        </td>
        <td>
          <span>{{prop.LAST_AVAILABLE| date:'yyyy/MM/dd' }}</span>
        </td>
        <td>
          <span>{{ prop.AREA}}m<sup>2</sup></span>
        </td>
        <td>
          <span>{{prop.PRICE| currency }}</span>
        </td>
        <td>
          <span>{{ prop.STRATA }}</span>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr class="head">
        <td colspan="5">Observaciones</td>
      </tr>
      <tr>
        <td colspan="5" style="height: 60px;">
          <textarea rows="2" ng-model="prop.OBS" readonly>
            {{prop.OBS }}
          </textarea>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr class="head">
        <td colspan="5">Comentarios</td>
      </tr>
      <tr>
        <td colspan="5" style="height: 60px;">
          <textarea rows="2" ng-model="prop.INTERNAL" readonly>
            {{prop.INTERNAL }}
          </textarea>  
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr class="head"
          ng-show="_session.role==1 || _session.role==8 || _session.role==5 || _session.role==6 || _session.role==7 || _session.id==1037571770 || _session.id==43630114">
        <td colspan="2">Propietario</td>
        <td colspan="2">Consignó</td>
        <td>Fecha Creación</td>
      </tr>

      <tr ng-show="_session.role==1 || _session.role==8 || _session.role==5 || _session.role==6 || _session.role==7 || _session.id==1037571770 || _session.id==43630114">
        <td colspan="2">
          <span>{{ prop.OWNER_NAME }}</span>
          <a class="pointer right" href="javascript:void(0)" ng-click="prop.showOwner= (!prop.showOwner)">
            <i class="fa fa-eject"></i>
          </a>
        </td>
        <td colspan="2">
          <span>
            {{ employees.map[prop.ID_EMPLOYEE].NAME }}
          </span>
        </td>
        <td colspan="1">
            <span>{{prop.REG_DATE| date:'yyyy/MM/dd' }}</span>
        </td>
      </tr>
    </tbody>
    <tbody ng-show="prop.showOwner">
      <tr class="head">
        <td colspan="1">Cédula</td>
        <td colspan="1">Teléfonos / Celular</td>
        <td colspan="1">Email</td>
        <td colspan="2">Comentarios</td>
      </tr>
      <tr>
        <td colspan="1">
            <span>{{ prop.OWNER_DOCUMENT }}</span>
        </td>
        <td colspan="1">
            <span>{{ prop.OWNER_PHONES }}&nbsp;{{ prop.OWNER_CELULAR }}</span>
        </td>
        <td colspan="1">
          <span ng-show="prop.OWNER_MAIL">
            <a ng-href="mailto:{{ prop.OWNER_MAIL }}">
              {{ prop.OWNER_MAIL }}
            </a>
          </span>
        </td>
        <td colspan="2">
            <span>{{ prop.OWNER_COMMENT }}</span>
        </td>
      </tr>
    </tbody>
    <tbody ng-show="prop.STATUS==2">
      <tr class="head">
        <td>Fecha Retiro</td>
        <td colspan="4">Motivo Retiro</td>
      </tr>
      <tr>
        <td>
          <span>{{prop.RETIRE_DATE| date:'yyyy/MM/dd' }}</span>
        </td>
        <td colspan="4">
          <span>{{prop.RETIRE_MOTIVE }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="close-reveal-modal button tiny right">
    <i class="fa fa-times-circle-o"></i>
    &nbsp;Cerrar
  </button>
</div>

<div class="reveal-modal small" data-reveal id="passwrodLog">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <p class="text-center">
        Se ha generado una nueva contraseña para <br>
        {{_ownerSection.owner.NAME}} <br>
      </p>
      <div class="small-10 small-centered column">
        <table class="small-12 text-center">
          <thead>
            <tr>
              <th class="small-6 text-center">USUARIO:</th>
              <th class="small-6 text-center">CONTRASEÑA:</th>
            </tr>
          </thead>
          <tr>
            <td>DOCUMENTO</td>
            <td>{{logPass}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns text-right">
      <button class="close-reveal-modal button tiny">
        <i class="fa fa-times-circle-o"></i>&nbsp;Cerrar
      </button>
    </div>
  </div>
</div>