<div class="row">
  <div class="row">
    <div class="large-12 medium-12 columns">
      <hr>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 small-12 columns text-right">
    <a ng-href="#{{_propSection.prevView}}" ng-show="propertiesViewsIndex>0 && _propSection.readOnly" class="button small left push-right-5">
      <i class="fa fa-backward"></i> Anterior
    </a>
    <a ng-href="#{{_propSection.nextView}}" ng-show="propertiesViewsIndex < (propertiesViews.length-1) && _propSection.readOnly"
      class="button small left push-right-5">
      <i class="fa fa-forward"></i> Siguiente
    </a>
    <span class="label radius secondary" style="color:#3e4095;font-size: 0.85em;" ng-show="_propSection.msg">
      <i class="fa fa-info-circle"></i>&nbsp;{{ _propSection.msg }}
    </span>
    <span ng-show="_propSection.msg">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a class="button small" ng-href="#{{lastPropSearch}}">
      <i class="fa fa-reply"></i>&nbsp;Regresar
    </a>

    <button class="button small" ng-click="_propSection.setRequested()" ng-show="_propSection.readOnly && (_session.role==1 || _session.role==4) && _propSection.prop.STATUS==0">
      <i class="fa fa-bookmark"></i>&nbsp;Marcar - Solicitud
    </button>
    <button class="button small" data-reveal-id="mensajeRetiro" ng-show="_propSection.readOnly && _session.role==1 && (_propSection.prop.STATUS==0 || _propSection.prop.STATUS==3)">
      <i class="fa fa-level-up"></i>&nbsp;Retirar
    </button>
    <button class="button small" ng-click="_propSection.setAvailable()" ng-show="_propSection.readOnly && (_session.role==1 || _session.role==4)  && _propSection.prop.STATUS!=0 && _propSection.prop.STATUS!=1">
      <i class="fa fa-caret-square-o-right"></i>&nbsp;Marcar - Disponible
    </button>

    <button class="button small" ng-click="_propSection.setReleased()" ng-show="_propSection.readOnly && (_session.role==1 || _session.role==6) && _propSection.prop.STATUS==1">
      <i class="fa fa-caret-square-o-right"></i>&nbsp;Marcar - Liberada
    </button>

    <button class="button small" ng-click="_propSection.edit()" ng-show="_propSection.readOnly && _session.role==1">
      <i class="fa fa-pencil-square-o"></i>&nbsp;Editar
    </button>
    <button class="button small" ng-click="_propSection.cancel(true)" ng-hide="_propSection.readOnly || _session.role!=1">
      <i class="fa fa-times-circle-o"></i>&nbsp;Cancelar
    </button>
    <button class="button small" ng-click="_propSection.save()" ng-hide="_propSection.readOnly || _session.role!=1">
      <i class="fa fa-save"></i>&nbsp;Guardar
    </button>
  </div>
</div>

<div class="row" ng-show="_propSection.editAddress">
  <div class="large-12 medium-12 small-12 columns" ng-hide="_propSection.readOnly">

    <form>
      <div class="row">
        <div class="large-3 medium-3 small-12 columns">
          <label class="head">Via:</label>
          <select ng-model="_addressBuilder.address.via1.via" ng-options="o.NAME for o in _addressBuilder.viaOptions"></select>
        </div>
        <div class="large-3 medium-3 small-12 columns">
          <label class="head">Número:</label>
          <input ng-model="_addressBuilder.address.via1.number" placeholder="No Aplica" type="text" />
        </div>
        <div class="large-3 medium-3 small-12 columns">
          <label class="head">Letra:</label>
          <input type="text" ng-model="_addressBuilder.address.via1.letter" placeholder="No Aplica" capitalize/>
        </div>
        <div class="large-3 medium-3 small-12 columns">
          <label class="head">Cuadrante:</label>
          <select ng-options="o.NAME for o in _addressBuilder.quadrantOptions" ng-model="_addressBuilder.address.via1.quadrant"></select>
        </div>
      </div>
      <div class="row">
        <div class="large-3 medium-3 small-12 columns">
          <label class="head">Número:</label>
          <input ng-model="_addressBuilder.address.via2.number" placeholder="No Aplica" type="text" />
        </div>
        <div class="large-3 medium-3 small-12 columns">
          <label class="head">Letra:</label>
          <input type="text" ng-model="_addressBuilder.address.via2.letter" placeholder="No Aplica" capitalize/>
        </div>
        <div class="large-3 medium-3 small-12 columns">
          <label class="head">Cuadrante:</label>
          <select ng-options="o.NAME for o in _addressBuilder.quadrantOptions" ng-model="_addressBuilder.address.via2.quadrant"></select>
        </div>
        <div class="large-3 medium-3 small-12 columns">
          <label class="head">Número:</label>
          <input ng-model="_addressBuilder.address.number" placeholder="No Aplica" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="large-3 medium-3 small-12 columns">
          <label class="head">Tipo Propiedad:</label>
          <select ng-options="o.NAME for o in _addressBuilder.propTypeOptions" ng-model="_addressBuilder.address.prop1.propType"></select>
        </div>
        <div class="large-3 medium-3 small-12 columns">
          <label class="head">Nombre/Número:</label>
          <input type="text" ng-model="_addressBuilder.address.prop1.number" placeholder="No Aplica" capitalize/>
        </div>
        <div class="large-3 medium-3 small-12 columns">
          <label class="head">Tipo Propiedad:</label>
          <select ng-options="o.NAME for o in _addressBuilder.propTypeOptions" ng-model="_addressBuilder.address.prop2.propType"></select>
        </div>
        <div class="large-3 medium-3 small-12 columns">
          <label class="head">Nombre/Número:</label>
          <input type="text" ng-model="_addressBuilder.address.prop2.number" placeholder="No Aplica" capitalize/>
        </div>
      </div>

      <div class="row panel">
        <div class="large-8 medium-8 small-12 columns ">
          <label class="head">Nueva Dirección:</label>
          <h4 class="subheader">
            {{ _addressBuilder.address.via1.via.ABBREVIATION+'&nbsp;'}} {{ _addressBuilder.address.via1.number?_addressBuilder.address.via1.number+'&nbsp;':''}}
            {{ _addressBuilder.address.via1.letter?_addressBuilder.address.via1.letter+'&nbsp;':'' }} {{_addressBuilder.address.via1.quadrant.NAME!='No
            Aplica' ? _addressBuilder.address.via1.quadrant.NAME+'&nbsp;':''}} {{ _addressBuilder.address.via2.number?_addressBuilder.address.via2.number+'&nbsp;':''}}
            {{ _addressBuilder.address.via2.letter?_addressBuilder.address.via2.letter +'&nbsp;':''}} {{(_addressBuilder.address.via2.quadrant.NAME!='No
            Aplica')? (_addressBuilder.address.via2.quadrant.NAME+'&nbsp;'):''}} {{ _addressBuilder.address.number?_addressBuilder.address.number+'&nbsp;':''
            }} {{_addressBuilder.address.prop1.propType.ABBREVIATION? _addressBuilder.address.prop1.propType.ABBREVIATION+'&nbsp;':''}}
            {{ _addressBuilder.address.prop1.number?_addressBuilder.address.prop1.number +'&nbsp;':''}} {{_addressBuilder.address.prop2.propType.ABBREVIATION?
            _addressBuilder.address.prop2.propType.ABBREVIATION+'&nbsp;':''}} {{ _addressBuilder.address.prop2.number}}
          </h4>
        </div>

        <div class="large-4 medium-4 small-12 columns text-right">
          <button class="button small" ng-click="_propSection.replaceAddress()">
            <i class="fa fa-thumbs-up"></i>&nbsp;Confirmar Dirección
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row panel">
  <form>
    <div class="row" ng-show="_propSection.prop.ID">
      <div class="large-12 medium-12 small-12 columns">
        <h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">
          Fotos del Inmueble
        </h5>
        <span ng-hide="_propSection.photos.length" class="label secondary">NO hay fotos del inmueble definidas</span>
        <div class="flexslider carousel" ng-show="_propSection.photos">
          <ul class="slides">
            <li ng-repeat="photo in _propSection.photos" repeat-finish render360>
              <a class="photo-thumbnails" ng-href="https://www.arrendamientosayura.com{{ photo.l }}" data-lightbox="propPhotos" style='background-image: url("https://www.arrendamientosayura.com{{ photo.s }}");'>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 medium-12 columns">
        <h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">
          Fotos panoramicas
        </h5>
        <span ng-hide="_propSection.photos360.length" class="label secondary">NO hay foto panoramas</span>
        <div class="flexslider carousel" ng-show="_propSection.photos360">
          <ul class="slides">
            <li ng-repeat="photo in _propSection.photos360" repeat-finish>
              <a class="th" ng-click="panorama($event,photo.img)" data-reveal-id="myModal" style='background-image: url("{{photo.img}}");'>
                <img ng-src="{{photo.img}}" alt="" width="100">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="myModal" class="reveal-modal" style="max-width: 980px;" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
      role="dialog">
      <a style="font-size: 2.5rem; " class="close-reveal-modal" aria-label="Close">&#215;</a>
      <div id="js-panorama"></div>
    </div>
    <div class="large-12 medium-12 small-12 columns">
      <h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">
        Datos de Inmueble {{ _statusMap[_propSection.prop.STATUS] }}
      </h5>
      <table class="prop" style="width: 100%;">
        <tbody>
          <tr class="head">
            <td colspan="3">Dirección</td>
            <td>Ciudad</td>
            <td>Barrio</td>
          </tr>
          <tr>
            <td colspan="3">
              <span>{{ _propSection.prop.ADDRESS }}</span>
              <a ng-hide="_propSection.readOnly || _propSection.editAddress" style="cursor:hand; float: right;" href="javascript:void(0)"
                ng-click="_propSection.showAddressEditor()">
                <i class="fa fa-toggle-up"></i>
              </a>
              <a ng-show="_propSection.editAddress" style="cursor:hand; float: right;" href="javascript:void(0)" ng-click="_propSection.hideAddressEditor()">
                <i class="fa fa-toggle-down"></i>
              </a>

            </td>
            <td>
              <span ng-show="_propSection.readOnly"> {{_propSection.prop.CITY}}</span>
              <select ng-hide="_propSection.readOnly" ng-model="_propSection.cityModel" ng-options="c.label for c in _cities" ng-change="_propSection.loadNeighborhoods()"></select>
            </td>
            <td>
              <span ng-show="_propSection.readOnly">{{ _propSection.prop.NEIGHBORHOOD }}</span>
              <select ng-hide="_propSection.readOnly" ng-model="_propSection.neighModel" ng-change="_propSection.neighborhoodUpdated()"
                ng-options="c.label for c in _propSection.neighborhoods">
              </select>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr class="head">
            <td>Consecutivo</td>
            <td>Tipo de Servicio</td>
            <td>Código Interno</td>
            <td>Tipo de Propiedad</td>
            <td>Estado del Inmueble</td>
          </tr>
          <tr>
            <td>
              <span ng-hide="_propSection.prop.ID==null">#{{ _propSection.prop.ID }}</span>
            </td>
            <td>
              <span ng-hide="_propSection.prop.ID==null">{{ _serviceTypesMap[_propSection.prop.SERVICE_TYPE] }}</span>
              <select ng-show="_propSection.prop.ID==null" ng-model="_propSection.prop.SERVICE_TYPE" ng-change="_propSection.loadCodeTypes()">
                <option value="0">Arriendo</option>
                <option value="1">Venta</option>
              </select>
            </td>
            <td>
              <span ng-hide="_propSection.prop.ID==null">{{ _propSection.prop.CODE}}</span>
              <select ng-show="_propSection.prop.ID==null" ng-model="_propSection.prop.CODE" ng-options="s.label for s in _propSection.codeTypes">
              </select>
            </td>
            <td>
              <span ng-show="_propSection.readOnly">{{ _propertyTypesMap[_propSection.prop.ID_TYPE] }}</span>
              <select ng-model="_propSection.prop.TYPE_MODEL" ng-hide="_propSection.readOnly" ng-options="s.label for s in _propertyTypes">
              </select>
            </td>
            <td>
              <span>{{ _statusMap[_propSection.prop.STATUS]}}</span>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr class="head">
            <td>Ubicación Llaves</td>
            <td>Actualización</td>
            <td>Área</td>
            <td>Precio</td>
            <td>Estrato</td>
          </tr>
          <tr>
            <td>
              <span ng-show="_propSection.readOnly">{{ _propSection.prop.LLAVES}}</span>
              <input type="text" ng-model="_propSection.prop.LLAVES" maxlength="105" ng-hide="_propSection.readOnly" />
            </td>
            <td>
              <span>{{_propSection.prop.LAST_AVAILABLE| date:'yyyy/MM/dd' }}</span>
            </td>
            <td>
              <span ng-show="_propSection.readOnly">{{ _propSection.prop.AREA}}m²</span>
              <input type="text" ng-model="_propSection.prop.AREA" maxlength="105" ng-hide="_propSection.readOnly" />
            </td>
            <td>
              <span ng-show="_propSection.readOnly">{{_propSection.prop.PRICE| currency }}</span>
              <input type="text" ng-model="_propSection.prop.PRICE" ng-hide="_propSection.readOnly" />
            </td>
            <td>
              <span ng-show="_propSection.readOnly">{{ _propSection.prop.STRATA }}</span>
              <input type="text" ng-model="_propSection.prop.STRATA" ng-hide="_propSection.readOnly" />
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr class="head">
            <td colspan="5">Observaciones</td>
          </tr>
          <tr>
            <td colspan="5" style="height: 60px;">
              <textarea rows="2" ng-model="_propSection.prop.OBS" readonly ng-show="_propSection.readOnly">{{
                    _propSection.prop.OBS }}</textarea>
              <textarea rows="2" ng-model="_propSection.prop.OBS" ng-hide="_propSection.readOnly"></textarea>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr class="head">
            <td colspan="5">Comentarios</td>
          </tr>
          <tr>
            <td colspan="5" style="height: 60px;">
              <textarea rows="2" ng-model="_propSection.prop.INTERNAL" readonly ng-show="_propSection.readOnly">{{
                      _propSection.prop.INTERNAL }}</textarea>
              <textarea rows="2" ng-model="_propSection.prop.INTERNAL" ng-hide="_propSection.readOnly"></textarea>
            </td>
          </tr>
        </tbody>
        <tbody ng-show="showWhen()">
          <tr class="head">
            <td colspan="2">Propietario</td>
            <td colspan="2">Consignó</td>
            <td>Fecha Creación</td>
          </tr>
          <tr>
            <td colspan="2">
              <span>{{ _propSection.prop.OWNER_NAME }}</span>
              <a ng-show="_propSection.readOnly" style="cursor:hand; float: right;" href="javascript:void(0)" ng-click="_propSection.prop.showOwner= (!_propSection.prop.showOwner)">
                <i class="fa fa-eject"></i>
              </a>
              <a ng-hide="_propSection.readOnly" style="cursor:hand; float: right;" href="javascript:void(0)" ng-click="_propSection.findOwner()">
                <i class="fa fa-plus-square"></i>
              </a>
            </td>
            <td colspan="2">
              <span ng-show="_propSection.readOnly">{{ employees.map[_propSection.prop.ID_EMPLOYEE].NAME }}</span>
              <select ng-options="o.NAME for o in employees.list" ng-change="_propSection.employeeUpdated()" ng-model="_propSection.employeeModel"
                ng-hide="_propSection.readOnly"></select>
            </td>
            <td colspan="1">
              <span>{{_propSection.prop.REG_DATE| date:'yyyy/MM/dd' }}</span>
            </td>
          </tr>
        </tbody>
        <tbody ng-show="_propSection.prop.showOwner">
          <tr class="head">
            <td colspan="1">Cédula</td>
            <td colspan="1">Teléfonos / Celular</td>
            <td colspan="1">Email</td>
            <td colspan="2">Comentarios</td>
          </tr>
          <tr>
            <td colspan="1">
              <span>{{ _propSection.prop.OWNER_DOCUMENT }}</span>
            </td>
            <td colspan="1">
              <span>{{ _propSection.prop.OWNER_PHONES }}&nbsp;{{ _propSection.prop.OWNER_CELULAR }}</span>
            </td>
            <td colspan="1">
              <span ng-show="_propSection.prop.OWNER_MAIL">
                <a ng-href="mailto:{{ _propSection.prop.OWNER_MAIL }}">{{ _propSection.prop.OWNER_MAIL }}</a>
              </span>
            </td>
            <td colspan="2">
              <span>{{ _propSection.prop.OWNER_COMMENT }}</span>
            </td>
          </tr>
        </tbody>
        <tbody ng-show="_propSection.prop.STATUS==2">
          <tr class="head">
            <td>Fecha Retiro</td>
            <td colspan="4">Motivo Retiro</td>
          </tr>
          <tr>
            <td>
              <span>{{_propSection.prop.RETIRE_DATE| date:'yyyy/MM/dd' }}</span>
            </td>
            <td colspan="4">
              <span>{{_propSection.prop.RETIRE_MOTIVE }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="large-12 medium-12 small-12 columns" ng-show="_propSection.prop.ID">
      <h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">
        Características de Inmueble
      </h5>
      <ul class="small-block-grid-1 large-block-grid-4 medium-block-grid-4">
        <li ng-repeat="f in _propSection.details">
          <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">
            {{ f.name }}
          </span>
          <a ng-hide="_propSection.readOnly" style="cursor:hand; float: right;" href="javascript:void(0)" ng-click="_propSection.removeFeature(f)">
            <i class="fa fa-minus-square"></i>
          </a>
          <div ng-switch="f.type" class="prop" style="padding: 0.220rem 0.225rem;border: solid #3e4095 1px;line-height: 1.125rem;">
            <span ng-show="_propSection.readOnly" ng-switch-when="0" style="font-size: 0.875rem;">{{ f.value }}</span>
            <input type="text" ng-model="f.value" ng-switch-when="0" ng-hide="_propSection.readOnly" />
            <span ng-switch-when="1" ng-show="_propSection.readOnly" style="font-size: 0.875rem;">{{ f.value }}</span>
            <select ng-options="o for o in range(0,40)" ng-switch-when="1" ng-model="f.value" ng-hide="_propSection.readOnly"></select>
            <span ng-switch-when="2" ng-show="_propSection.readOnly" style="font-size: 0.875rem;">{{ f.value}}</span>
            <select ng-options="o for o in featureValues.options[f.type_id]" ng-switch-when="2" ng-model="f.value" ng-hide="_propSection.readOnly"></select>
            <span ng-switch-when="3" style="font-size: 0.875rem;" ng-show="_propSection.readOnly"> {{ f.value?"Sí":"NO" }}</span>
            <input type="checkbox" ng-model="f.value" ng-switch-when="3" ng-hide="_propSection.readOnly" />
          </div>
        </li>
        <li ng-hide="_propSection.readOnly" style="background-color: lightgrey;">
          <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">
            Agregar Característica&nbsp;
          </span>
          <img data-loading style="height: 14px;float: right;margin-top: 5px;margin-left: -14px;position: relative;" src="images/spinner2-bluey.gif"
            alt="" />
          <a style="cursor:hand; float: right;" href="javascript:void(0)" ng-click="_propSection.addFeature()">
            <i class="fa fa-plus-square"></i>
          </a>
          <div class="prop" style="background-color:#ffffff;padding: 0.220rem 0.225rem;border: solid #3e4095 1px;line-height: 1.125rem;">
            <select ng-options="o.NAME for o in _propSection.features" ng-model="_propSection.newFeature"></select>
          </div>
        </li>
      </ul>
    </div>
    <div class="row" ng-show="_propSection.prop.ID">
      <div class="large-12 medium-12 small-12 columns">
        <table>
          <tbody ng-show="_propSection.readOnly" style="width: 100%;">
            <tr class="head">
              <td colspan="5">Resumen</td>
            </tr>
            <tr>
              <td colspan="5" style="height: 60px;">
                <p class="inline-list" style="margin-left: 10px;">
                  {{_propSection.prop.CODE }}, {{_propSection.prop.NEIGHBORHOOD }}, {{_propSection.prop.PRICE | currency }}
                  <span ng-repeat="f in _propSection.details" style="padding: 0;margin: 0;">
                    <span ng-switch="f.type" style="padding: 0;margin: 0;" ng-show="$index<15">,
                      <span ng-switch-when="0" style="padding: 0;margin: 0;">{{ f.name }} {{ f.value }} </span>
                      <span ng-switch-when="1" style="padding: 0;margin: 0;">{{ f.name }} {{ f.value }} </span>
                      <span ng-switch-when="2" style="padding: 0;margin: 0;">{{ f.name }} {{ f.value}} </span>
                      <span ng-switch-when="3" style="padding: 0;margin: 0;" ng-show="f.value">{{ f.name }} </span>
                    </span>
                  </span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" ng-hide="_propSection.readOnly">
      <div class="large-12 medium-12 small-12 columns" ng-show="_propSection.prop.ID">
        <h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">Subir Fotos
        </h5>
        <form>
          <input type="file" file-upload multiple/>
        </form>
        <button class="button tiny" ng-click="save()">
          <i class="fa fa-cloud-upload"></i>&nbsp;Subir Imagenes
        </button>
        <ul>
          <li ng-repeat="file in files">
            <label>
              <input ng-model="landscape[$index]" type="checkbox" style="margin-right: 10px;">
              <span>{{file.name}}</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" ng-hide="_propSection.readOnly">
      <ul class="small-block-grid-2 medium-block-grid-6 large-block-grid-7">
        <h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">Borrar Fotos
        </h5>
        <li ng-repeat="photo in _propSection.photos">
          <img ng-src="https://www.arrendamientosayura.com{{ photo.s }}">
          <br/>
          <span class="label">{{ photo.label }}</span>
        </li>
      </ul>
      <ul class="small-block-grid-2 medium-block-grid-6 large-block-grid-7">
        <h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">Borrar Fotos panoramicas
        </h5>
        <li ng-repeat="photo in _propSection.photos360">
          <img ng-src="{{ photo.img }}">
          <br/>
          <span class="label">{{ photo.label }}</span>
        </li>
      </ul>
      <div class="large-4 medium-4 small-12 columns" ng-show="_propSection.prop.ID">
        <h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">Borrar Fotos
        </h5>

        <form>
          <select ng-hide="_propSection.photos.length<1" ng-model="_propSection.photoToDelete" ng-options="p.label for p in _propSection.photos">
          </select>
          <img ng-src="https://www.arrendamientosayura.com{{ _propSection.photoToDelete.s }}" ng-show="_propSection.photoToDelete">
        </form>
        <button ng-disabled="_propSection.photoToDelete==null" class="button tiny" ng-click="_propSection.deletePhoto()">
          <i class="fa fa-cloud-upload"></i>&nbsp;Confirmar Borrado
        </button>
      </div>
      <div class="large-4 medium-4 small-12 columns" ng-show="_propSection.prop.ID && _propSection.photos360.length>1">
          <h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">Borrar Fotos panoramicas
          </h5>
  
          <form>
            <select ng-hide="_propSection.photos360.length<1" ng-model="_propSection.photoToDelete360" ng-options="p.label for p in _propSection.photos360">
            </select>
            <img ng-src="{{ _propSection.photoToDelete360.img }}" ng-show="_propSection.photoToDelete360">
          </form>
          <button ng-disabled="_propSection.photoToDelete360==null" class="button tiny" ng-click="_propSection.deletePhoto360()">
            <i class="fa fa-cloud-upload"></i>&nbsp;Confirmar Borrado
          </button>
        </div>
      <div class="large-4 medium-4 small-12 columns" ng-show="_propSection.prop.ID">
        <h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">
          Selecccionar Fachada
        </h5>
        <form>
          <select ng-hide="_propSection.photos.length<1" ng-model="_propSection.coverPhoto" ng-options="p.label for p in _propSection.photos">
          </select>
          <img ng-src="https://www.arrendamientosayura.com{{ _propSection.coverPhoto.s }}" ng-show="_propSection.coverPhoto">
        </form>
        <button ng-disabled="_propSection.coverPhoto==null" class="button tiny" ng-click="_propSection.updateCover()">
          <i class="fa fa-cloud-upload"></i>&nbsp;Actualizar Portada
        </button>
      </div>
    </div>
    <div class="row" ng-show="_propSection.prop.appointments">
      <div class="large-12 medium-12 small-12 columns" ng-show="_propSection.prop.ID">
        <h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">
          Citas Propiedad
        </h5>

        <ul class="no-bullet">
          <li>
            <hr/>
          </li>
          <li ng-repeat="ap in _propSection.prop.appointments">
            <button class="tiny right" data-reveal-id="commentsList" ng-click="loadComments( ap.contacts[0].ID )">
              ver comentarios
            </button>
            <ul class="no-bullet">
              <li style="font-size: 0.8em">
                <span style="color: #3e4095;">Fecha/Hora:</span>
                &nbsp;{{ap.SCHEDULED_LABEL}} {{hourBasicFromText(ap.TIME_FROM)}} - {{hourBasicFromText(ap.TIME_TO)}}
              </li>

              <li style="font-size: 0.8em">
                <span style="color: #3e4095;">Promotor(a):</span>&nbsp;{{ap.PROMOTER}}
              </li>
              <li style="font-size: 0.8em">
                <span style="color: #3e4095;">Asesor(a):</span>&nbsp;{{ap.CONSULTANT}}
              </li>
              <li style="font-size: 0.8em">
                <span style="color: #3e4095;">Contactos:</span>&nbsp;
                <ul class="no-bullet" ng-if="ap.contacts" style="margin: 0;padding: 0;">
                  <li ng-repeat="p in ap.contacts" style="margin: 0;padding-left: 5px;">
                    <span style="font-size: 0.9em;padding-left: 25px;">
                      <a ng-href="#/Contact/{{p.ID}}">#{{p.ID}}</a> - {{p.NAME}} - ({{p.STATUS}})
                    </span>
                  </li>
                </ul>
              </li>
              <li style="font-size: 0.8em" ng-show="ap.COMMENTS">
                <span style="color: #3e4095;">Observaciones:</span>&nbsp;
                <span style="font-size: 0.9em">{{ ap.COMMENTS}}</span>
              </li>
              <li>
                <hr/>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>

<div class="reveal-modal small" data-reveal id="commentsList">
  <h2>
    <small>Comentarios</small>
  </h2>
  <hr>
  <ul class="no-bullet scroll">
    <li ng-repeat="comment in _requestComments">
      <ul class="no-bullet">
        <li style="font-size: 0.8em">
          <span style="color: #3e4095;">Usuario:</span>
          &nbsp;{{ comment.name }}
        </li>
        <li style="font-size: 0.8em">
          <span style="color: #3e4095;">Fecha:</span>
          &nbsp;{{ comment.created | date:'yy/MM/dd hh:mm a' }}
        </li>
        <li style="font-size: 0.8em">
          <span style="color: #3e4095;">Estado:</span>
          &nbsp;{{ comment.status}}
        </li>
        <li style="font-size: 0.8em">
          <span style="color: #3e4095;">Comentario:</span>
          &nbsp;
          <span style="font-size: 0.9em" ng-bind-html="comment.comment"></span>
        </li>
        <li>
          <hr/>
        </li>
      </ul>
    </li>
    <li ng-if="_requestComments.length == 0">
      <p>No hay Comentarios</p>
    </li>
  </ul>
</div>

<div class="reveal-modal small" data-reveal id="mensajeRetiro">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <h5 class="subheader subheader--custom">
        Retirar Inmueble
      </h5>
      <br>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <label>Motivo Retiro:</label>
        <textarea ng-model="_propSection.retireComment" rows="5" maxlength="2000"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="large-12 medium-12 small-12 columns" style="text-align: right;">
        <button class="button small" ng-click="_propSection.retireProperty()">
          <i class="fa fa-check-square-o"></i>&nbsp;Confirmar Retiro
        </button>
        <button class="close-reveal-modal button small">
          <i class="fa fa-times-circle-o"></i>&nbsp;Cancelar
        </button>
      </div>
    </div>
  </form>
</div>