<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <hr/>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <form>
      <div class="row">
      </div>
    </form>
    <div class="row">
      <div class="large-8 medium-8 small-6 columns text-center">
        <ul class="pagination" ng-show="_propSection.items.length">
          <li class="current" style="cursor: hand;" ng-show="_propSection.page>1">
            <a style="cursor:hand;" ng-href="{{urlPath}}{{contSymbol}}page=1">
              <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></a>
          </li>
          <li class="current" style="cursor: hand;" ng-show="_propSection.page>1">
            <a style="cursor:hand;" ng-href="{{urlPath}}{{contSymbol}}page={{_propSection.page - 1}}">
              <i class="fa fa-chevron-left"></i>
            </a>
          </li>
          <li class="current">P&aacute;gina:&nbsp;{{ _propSection.page }}</li>
          <li>de</li>
          <li>{{ _propSection.totalPages }}</li>
          <li class="current" style="cursor:hand;" ng-show="_propSection.page<_propSection.totalPages">
            <a style="cursor:hand;" ng-href="{{urlPath}}{{contSymbol}}page={{_propSection.page + 1}}">
              <i class="fa fa-chevron-right"></i>
            </a>
          </li>
          <li class="current" style="cursor: hand;" ng-show="_propSection.page<_propSection.totalPages">
            <a style="cursor:hand;" ng-href="{{urlPath}}{{contSymbol}}page={{_propSection.totalPages}}">
              <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="large-4 medium-4 small-6 columns text-right">
        <button class="button tiny" data-reveal-id="propSearch"><i
            class="fa fa-search"></i>&nbsp;Buscar
        </button>
        <a class="button tiny" href="#/Properties/add" ng-hide="_session.role!=1"><i
            class="fa fa-file-text-o"></i>&nbsp;Nuevo
        </a>
      </div>
    </div>

    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <table style="width: 100%;">
          <thead>
          <tr>
            <th class="text-center" style="width: 77px;">Cons.</th>
            <th class="text-center">Código</th>

            <th>Barrio</th>
            <th>Dirección</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Estado</th>
            <th class="text-center">
              <img data-loading style="height: 16px;" src="images/spinner2-bluey.gif" alt=""/>
            </th>
          </tr>
          </thead>
          <tbody ng-hide="_propSection.items.length">
          <tr>
            <td colspan="7">
              <h6 class="subheader">No se encontraron propiedades, por favor cambie los filtros y busque
                de
                nuevo.</h6>
            </td>
          </tr>
          </tbody>
          <tbody ng-show="_propSection.items.length">
          <tr ng-repeat="p in _propSection.items">
            <td class="text-center">{{ p.ID }}</td>
            <td class="text-center">{{ p.CODE }}</td>
            <td>{{ p.NEIGHBORHOOD }}</td>
            <td>{{ p.ADDRESS }}</td>
            <td class="text-right">{{ p.PRICE| currency }}</td>
            <td class="text-center">{{ _statusMap[p.STATUS] }}</td>
            <td class="text-center">
              <a style="cursor:hand;" href="#/Properties/{{p.ID}}"><i
                  class="fa fa-search-plus fa-2x"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<div class="reveal-modal" data-reveal id="propSearch">
  <form>
    <ul class="small-block-grid-1 large-block-grid-5 medium-block-grid-4 filter-blocks">
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Código Interno:</span>
        <span style="font-size: 0.875rem;"><input type="text" ng-model="_propSection.internalFilter"></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Consecutivo #:</span>
        <span style="font-size: 0.875rem;"><input type="text" ng-model="_propSection.codeFilter"></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Estado:</span>
        <span style="font-size: 0.875rem;"><select class="combobox" ng-options="s.label for s in _statusList"
                               ng-model="_propSection.statusFilter"></select></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Tipo:</span>
        <span style="font-size: 0.875rem;"><select
            ng-options="c.label for c in _propertyTypes"
            ng-model="_propSection.typeFilter"></select></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Ciudad:</span>
        <span style="font-size: 0.875rem;"> <select ng-options="c.label for c in _cities"
                              ng-model="_propSection.cityFilter"
                              ng-change="_propSection.loadCityNeighborhoods()"></select></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Barrio:</span>
        <span style="font-size: 0.875rem;"> <input type="text"
                               ng-model="_propSection.neighborhoodFilter"></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Dirección:</span>
        <span style="font-size: 0.875rem;"> <input type="text" ng-model="_propSection.addressFilter"></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Conjunto Cerrado:</span>
        <span style="font-size: 0.875rem;">  <input type="text" ng-model="_propSection.condoFilter"></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Precio Desde($):</span>
        <span style="font-size: 0.875rem;"> <input type="text" ng-model="_propSection.priceFrom"
                               onkeydown="return numbersOnly(event)"></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Precio Hasta($):</span>
        <span style="font-size: 0.875rem;"> <input type="text" ng-model="_propSection.priceTo"
                               onkeydown="return numbersOnly(event)"></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Área Desde(m²):</span>
        <span style="font-size: 0.875rem;"> <input type="text" ng-model="_propSection.areaFrom"
                               onkeydown="return numbersOnly(event)"></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Área Hasta(m²):</span>
        <span style="font-size: 0.875rem;"> <input type="text" ng-model="_propSection.areaTo"
                               onkeydown="return numbersOnly(event)"></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;"># Habitaciones:</span>
        <span style="font-size: 0.875rem;"> <input type="text" ng-model="_propSection.roomsFilter"
                               onkeydown="return numbersOnly(event)"></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;"># Ba&ntilde;os:</span>
        <span style="font-size: 0.875rem;"> <input type="text" ng-model="_propSection.wcFilter"
                               onkeydown="return numbersOnly(event)"></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;"># Closets:</span>
        <span style="font-size: 0.875rem;"> <input type="text" ng-model="_propSection.closetsFilter"
                               onkeydown="return numbersOnly(event)"></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Parqueadero:</span>
        <span style="font-size: 0.875rem;"> <select id="inputParking" ng-model="_propSection.parkingFilter"
                              ng-options="p.label for p in boolOptions"></select></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Piscina:</span>
        <span style="font-size: 0.875rem;"> <select id="inputPool" ng-model="_propSection.poolFilter"
                              ng-options="p.label for p in boolOptions"></select></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Ascensor:</span>
        <span style="font-size: 0.875rem;"> <select id="inputElevator" ng-model="_propSection.elevatorFilter"
                              ng-options="p.label for p in boolOptions"></select></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Conjunto:</span>
        <span style="font-size: 0.875rem;"> <select id="inputUnit" ng-model="_propSection.unitFilter"
                              ng-options="p.label for p in boolOptions"></select></span>
      </li>
      <li>
        <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Agua Caliente:</span>
        <span style="font-size: 0.875rem;"> <select id="inputHot" ng-model="_propSection.hotFilter"
                              ng-options="p.label for p in boolOptions"></select></span>
      </li>
    </ul>
  </form>
  <div class="row">
    <div class="large-12 medium-12 columns text-right">
      <button class="button tiny close-reveal-modal" ng-click="_propSection.search()">
        <i class="fa fa-search"></i>&nbsp;Buscar
      </button>
      <button class="button tiny" ng-click="_propSection.clear()">
        <i class="fa fa-eraser"></i>&nbsp;Limpiar
      </button>
    </div>
  </div>
</div>
