<div class="row">
  <hr>
</div>
<div class="row">
  <div class="small-12 column text-right">
    <button class="small" ng-click="refresh()">
      <i class="fa fa-refresh"></i> Actualizar
    </button>
    <button class="small" data-reveal-id="contactSearch">Buscar Solicitud</button>
  </div>
</div>
<div class="row">
  <table class="small-12">
    <thead>
      <tr>
        <th>Radicado</th>
        <th>Cons. Propiedad</th>
        <th class="medium-1">Creada</th>
        <th class="medium-2">Titular</th>
        <th class="medium-3">Estado</th>
        <th class="medium-3">Acciones</th>
        <th class="text-center">
          <img data-loading style="height: 16px;" src="images/spinner2-bluey.gif" alt=""/>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="request in requests" class="pointer" ng-class="{selected: (request.id == requestIdSelected)}" ng-click="request.selected()">
        <td class="text-center">#{{request.id}}</td>
        <td class="text-center">
          <button data-reveal-id="addPropToRequest" class="tiny mb-0" ng-click="request.addProp()" ng-if="!request.propId">
            Agregar
          </button>
          <a data-reveal-id="previewProp" ng-if="request.propId">
            #{{request.propId}}
          </a>
        </td>
        <td>{{request.createdDate}}</td>
        <td>{{request.owner}}</td>
        <td>{{request.status}}</td>
        <td>
          <select class="mb-0" ng-model="request.actionSelected" ng-options="a.label for a in request.actions" ng-click="prevent($event);" ng-if="request.statusId!=4 && request.statusId!=5">
          </select>
         
        </td>
        <td class="text-center">
          <button class="tiny mb-0" ng-click="request.finish($event)" ng-disabled="request.statusId == 4 || request.statusId == 5">
            Finalizar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-centered">
    <ul class="pagination">
      <li class="current pointer" ng-show="mainPage>1">
        <a class="pointer" ng-click="prevMain()">
          <i class="fa fa-arrow-left"></i>
        </a>
      </li>
      <li class="current">{{mainPage}}</li>
      <li>de</li>
      <li>{{mainTotalPages}}</li>
      <li class="current pointer" ng-show="mainPage<mainTotalPages">
        <a class="pointer" ng-click="nextMain()">
          <i class="fa fa-arrow-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="row collapse" ng-show="requestIdSelected">
  <hr>
  <div class="small-12 columns">
    <div class="row">
      <div class="small-6 columns">
        <h2>
          <small>
            <i class="fa fa-comments fa-2x pull-left"></i> Mensajes
          </small>
        </h2>
      </div>
      <div class="small-6 columns text-right">
        <a ng-href="#/DigitalArchive/1/{{requestIdSelected}}?backRequest=true" class="button small">
          <i class="fa fa-folder fa-lg"></i>
          Archivos
        </a>
      </div>
    </div> 
    <div class="block">
      <div class="row">
        <div class="small-12 medium-6 columns bright-1">
          <div class="scroll">
            <ul class="no-bullet">
              <li ng-repeat="comment in _requestComments.listComments">
                <p class="font-small">
                  <strong>[{{ comment.created | date : 'MM/dd/yyyy h:mma'}}] {{comment.name}} Escribi&oacute;:</strong><br>
                  {{comment.comment}}
                </p>
              </li>
            </ul>
          </div>
          <hr>
          <form>
            <div class="row">
              <div class="medium-8 columns">
                <label>
                  <textarea class="not-resize" rows="4" ng-model="_requestComments.comment"></textarea>
                </label>
              </div>
              <div class="medium-4 columns">
                <button class="small" ng-click="_requestComments.addComment()">
                  <i class="fa fa-comment"></i> Enviar
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="small-12 medium-6 columns">

          <h3>
            <small>
              <i class="fa fa-info-circle fa-2x"></i> Informaci&oacute;n Contacto:
            </small>
          </h3>
          <ul class="no-bullet font-small">
            <li>
              <b>Nombre: </b>{{requestSelected.contact_name}}
            </li>
            <li>
              <b>C.C.: </b>{{requestSelected.contact_document}}
            </li>
            <li>
              <b>Email: </b>{{requestSelected.contact_email}}
            </li>
            <li>
              <b>Telefono: </b>{{requestSelected.contact_phone}}
            </li>
            <li>
              <b>Estado Solicitud: </b>{{requestSelected.status}}
            </li>
            <li>
              <b>Atendido por: </b>{{requestSelected.user_created_name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>           
</div>
<div class="reveal-modal" data-reveal id="contactSearch" style="padding:1em;">
  <form>
    <div class="row">
      <fieldset>
        <legend>Buscar Contacto</legend>
        <div class="row">
          <div class="medium-4 columns">
            <label><span style="color: #3e4095;">Radicado</span>
              <input type="text" ng-model="_ContactFilters.requestId" onkeydown="return numbersOnly(event)"/>
            </label>
          </div>
          <div class="medium-4 columns">
            <label><span style="color: #3e4095;">CC. del contacto</span>
              <input type="text" ng-model="_ContactFilters.docId" onkeydown="return numbersOnly(event)"/>
            </label>
          </div>
          <div class="medium-4 columns">
            <label><span style="color: #3e4095;">Consecutivo Contacto</span>
              <input type="text" ng-model="_ContactFilters.contactId" onkeydown="return numbersOnly(event)"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-offset-1 medium-5 columns">
            <label><span style="color: #3e4095;">Nombre</span>
              <input type="text" capitalize ng-model="_ContactFilters.name"/>
            </label>
          </div>
          <div class="medium-5 columns medium-uncentered">
            <label><span style="color: #3e4095;">Estado</span>
              <select ng-model="_ContactFilters.state" ng-options="s.label for s in states">
              </select>
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="row text-right">
      <button class="small" ng-click="_ContactFilters.filter($event)">
        <i class="fa fa-search"></i> Buscar
      </button>
      <button class="small" ng-click="_ContactFilters.clear($event)">
        <i class="fa fa-eraser"></i>&nbsp;Limpiar
      </button>
    </div>
  </form>
</div>
<div class="reveal-modal large" data-reveal id="previewProp">
  <h2><small>Detalle de la propiedad #{{prop.ID}}</small></h2>
  <table class="prop small-12">
    <tbody>
      <tr class="head">
        <td colspan="3">Dirección</td>
        <td>Ciudad</td>
        <td>Barrio</td>
      </tr>
      <tr>
        <td colspan="3">
          <span>{{ prop.ADDRESS }}</span>
        </td>
        <td>
          <span> {{prop.CITY}}</span>
        </td>
        <td>
          <span>{{ prop.NEIGHBORHOOD }}</span>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr class="head">
        <td>Consecutivo</td>
        <td>Tipo de Servicio</td>
        <td>Código Interno</td>
        <td>Tipo de Propiedad</td>
        <td>Estado del Inmueble</td>
      </tr>
      <tr>
        <td>
          <span>#{{ prop.ID }}</span>
        </td>
        <td>
          <span>{{ _serviceTypesMap[prop.SERVICE_TYPE] }}</span>
        </td>
        <td>
          <span>{{ prop.CODE}}</span>
        </td>
        <td>
          <span>{{ _propertyTypesMap[prop.ID_TYPE] }}</span>
        </td>
        <td>
          <span>{{ _statusMap[prop.STATUS]}}</span>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr class="head">
        <td>Ubicación Llaves</td>
        <td>Actualización</td>
        <td>Área</td>
        <td>Precio</td>
        <td>Estrato</td>
      </tr>
      <tr>
        <td>
          <span>{{ prop.LLAVES}}</span>
        </td>
        <td>
          <span>{{prop.LAST_AVAILABLE| date:'yyyy/MM/dd' }}</span>
        </td>
        <td>
          <span>{{ prop.AREA}}m<sup>2</sup></span>
        </td>
        <td>
          <span>{{prop.PRICE| currency }}</span>
        </td>
        <td>
          <span>{{ prop.STRATA }}</span>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr class="head">
        <td colspan="5">Observaciones</td>
      </tr>
      <tr>
        <td colspan="5" style="height: 60px;">
          <textarea rows="2" ng-model="prop.OBS" readonly>
            {{prop.OBS }}
          </textarea>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr class="head">
        <td colspan="5">Comentarios</td>
      </tr>
      <tr>
        <td colspan="5" style="height: 60px;">
          <textarea rows="2" ng-model="prop.INTERNAL" readonly>
            {{prop.INTERNAL }}
          </textarea>  
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr class="head"
          ng-show="_session.role==1 || _session.role==8 || _session.role==5 || _session.role==6 || _session.role==7 || _session.id==1037571770 || _session.id==43630114">
        <td colspan="2">Propietario</td>
        <td colspan="2">Consignó</td>
        <td>Fecha Creación</td>
      </tr>

      <tr ng-show="_session.role==1 || _session.role==8 || _session.role==5 || _session.role==6 || _session.role==7 || _session.id==1037571770 || _session.id==43630114">
        <td colspan="2">
          <span>{{ prop.OWNER_NAME }}</span>
          <a class="pointer right" href="javascript:void(0)" ng-click="prop.showOwner= (!prop.showOwner)">
            <i class="fa fa-eject"></i>
          </a>
        </td>
        <td colspan="2">
          <span>
            {{ employees.map[prop.ID_EMPLOYEE].NAME }}
          </span>
        </td>
        <td colspan="1">
            <span>{{prop.REG_DATE| date:'yyyy/MM/dd' }}</span>
        </td>
      </tr>
    </tbody>
    <tbody ng-show="prop.showOwner">
      <tr class="head">
        <td colspan="1">Cédula</td>
        <td colspan="1">Teléfonos / Celular</td>
        <td colspan="1">Email</td>
        <td colspan="2">Comentarios</td>
      </tr>
      <tr>
        <td colspan="1">
            <span>{{ prop.OWNER_DOCUMENT }}</span>
        </td>
        <td colspan="1">
            <span>{{ prop.OWNER_PHONES }}&nbsp;{{ prop.OWNER_CELULAR }}</span>
        </td>
        <td colspan="1">
          <span ng-show="prop.OWNER_MAIL">
            <a ng-href="mailto:{{ prop.OWNER_MAIL }}">
              {{ prop.OWNER_MAIL }}
            </a>
          </span>
        </td>
        <td colspan="2">
            <span>{{ prop.OWNER_COMMENT }}</span>
        </td>
      </tr>
    </tbody>
    <tbody ng-show="prop.STATUS==2">
      <tr class="head">
        <td>Fecha Retiro</td>
        <td colspan="4">Motivo Retiro</td>
      </tr>
      <tr>
        <td>
          <span>{{prop.RETIRE_DATE| date:'yyyy/MM/dd' }}</span>
        </td>
        <td colspan="4">
          <span>{{prop.RETIRE_MOTIVE }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="close-reveal-modal button tiny right">
    <i class="fa fa-times-circle-o"></i>
    &nbsp;Cerrar
  </button>
</div>
<div class="reveal-modal tiny" data-reveal id="addPropToRequest">
  <form>
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <label>Propiedad:</label>
        <input type="text" ng-model="propToRequest" ng-disabled="requestInfo" onkeydown="return numbersOnly(event)">
      </div>
    </div>
    <div class="row" ng-show="createMsg">
      <ul>
        <li ng-repeat="error in requestError">
          {{error}}
        </li>
      </ul>
      <p>
        {{requestInfo}}
      </p>
    </div>
  </form>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns text-right">
      <button class="tiny" ng-click="addProp()" ng-show="!requestInfo">
        <i class="fa fa-arrow-circle-right"></i>&nbsp;Agregar Propiedad
      </button>
      <a class="button tiny close-reveal-modal" ng-click="clearRequest()" ng-show="requestInfo">
        <i class="fa fa-times-circle-o"></i>&nbsp;Cerrar
      </a>
      <a class="button tiny close-reveal-modal" ng-click="clearRequest()" ng-show="!requestInfo">
        <i class="fa fa-times-circle-o"></i>&nbsp;Cancelar
      </a>
    </div>
  </div>
</div>
