<div class="row">
  <div class="large-12 medium-12 columns">
    <div class="row">
      <div class="large-12 medium-12 columns">
        <hr>
      </div>
    </div>

    <!-- Filters -->
    <form>
      <div class="row">
        <div class="large-3 medium-3 columns">
          <label>Contrato</label>
          <input type="text" ng-model="_tenantSection.contractFilter">
        </div>
        <div class="large-4 medium-4 columns">
          <label>Doc. Inquilino</label>
          <input type="text" ng-model="_tenantSection.documentFilter">
        </div>
        <div class="large-3 medium-3 columns">
          <label>Cons. Propiedad </label>
          <input type="text" ng-model="_tenantSection.propertyFilter">
        </div>
        <div class="large-2 medium-2 columns">
          <label>&nbsp;</label>
          <a ng-href="{{urlSearchPath}}" class="button tiny" ng-click="_tenantSection.search()"><i class="fa fa-search"></i>&nbsp;Buscar
          </a>

        </div>
      </div>
      <div class="row">
        <div class="large-5 medium-5 columns">
          <label>Nombre Inquilino</label>
          <input type="text" ng-model="_tenantSection.nameFilter">
        </div>
        <div class="large-5 medium-5 columns">
          <label>Nombre Propietario</label>
          <input type="text" ng-model="_tenantSection.ownerFilter">
        </div>
        <div class="large-2 medium-2 columns">
          <label>&nbsp;</label>
          <a class="button tiny" href="#/Tenant/add"><i class="fa fa-file-text-o"></i>&nbsp;Nuevo
          </a>
        </div>
      </div>
    </form>

    <div class="row" ng-show="_tenantSection.totalPages==0">
      <div class="large-4 medium-6 small-8 small-centered medium-centered large-centered columns">
        <label>No se encontraron Inquilinos/contratos con los filtros ingresados, intente de nuevo.</label>
      </div>
    </div>

    <div class="row" ng-hide="_tenantSection.totalPages==0">
      <div class="large-4 medium-6 small-8 small-centered medium-centered large-centered columns">
        <ul class="pagination">
          <li class="current" style="cursor: pointer;" ng-show="_tenantSection.page>1">
            <a style="cursor:hand;" ng-href="{{urlPath}}{{contSymbol}}page={{_tenantSection.page - 1}}">
              <i class="fa fa-arrow-left"></i>
            </a>
          </li>
          <li class="current">P&aacute;gina:&nbsp;{{ _tenantSection.page}}</li>
          <li>de</li>
          <li>{{ _tenantSection.totalPages }}</li>
          <li class="current" style="cursor:pointer;" ng-show="_tenantSection.page<_tenantSection.totalPages">
            <a style="cursor:hand;" ng-href="{{urlPath}}{{contSymbol}}page={{_tenantSection.page + 1}}">
              <i class="fa fa-arrow-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Table -->
    <div class="row">
      <div class="large-12 medium-12 columns">
        <table style="width: 100%;">
          <thead>
          <tr>
            <th class="text-center">Documento</th>
            <th>Inquilino</th>
            <th>Propietario</th>
            <th class="text-center">
              <img data-loading style="height: 16px;" src="images/spinner2-bluey.gif" alt=""/>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="o in _tenantSection.items">
            <td class="text-right">{{ o.DOCUMENT }}</td>
            <td>{{ o.NAME }}</td>
            <td>{{ o.OWNER_NAME }}</td>
            <td class="text-center">
              <a style="cursor:pointer;" href="#/Tenant/{{o.ID}}" ng-click="saveTenant(o)"><i
                  class="fa fa-search-plus fa-lg"></i></a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>