<div class="row">

  <div class="large-12 medium-12 columns">
    <hr>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns text-right">
    <span class="label radius secondary" style="color:#3e4095;font-size: 0.85em;" ng-show="_tenantSection.msg">
      <i class="fa fa-info-circle"></i>&nbsp;{{ _tenantSection.msg }}
    </span>
    <span ng-show="_tenantSection.msg">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a class="button small" href="javascript:history.go(-1)">
      <i class="fa fa-backward"></i>&nbsp;Regresar
    </a>
    <button class="button small" ng-click="_tenantSection.edit()" ng-show="_tenantSection.readOnly">
      <i class="fa fa-pencil-square-o"></i>&nbsp;Editar
    </button>
    <button class="button small" ng-click="_tenantSection.cancel()" ng-hide="_tenantSection.readOnly">
      <i class="fa fa-times-circle-o"></i>&nbsp;Cancelar
    </button>
    <button class="button small" ng-click="_tenantSection.save()" ng-hide="_tenantSection.readOnly">
      <i class="fa fa-save"></i>&nbsp;Guardar
    </button>
    <button data-reveal-id="agregarContrato" ng-click="_tenantSection.createContract()" class="button small" ng-show="_tenantSection.readOnly && (_session.role==1 || _session.role==4)">
      <i class="fa fa-plus-square"></i>&nbsp;Agregar Contrato
    </button>
    <button data-reveal-id="actualizarContrasenia" ng-click="_tenantSection.createContract()" class="button small" ng-show="_tenantSection.readOnly && (_session.role==1 || _session.role==4)">
      <i class="fa fa-plus-square"></i>&nbsp;{{_tenantSection.tenant.LOGIN ? 'Actaulizar' : 'Asignar'}} Contraseña
    </button>


  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns text-left">
    <span class="error" ng-show="_tenantSection.errors.length">Errores Encontrados</span>
    <ul>
      <li ng-repeat="e in _tenantSection.errors">
        <label style="color: indianred;">{{ e }}</label>
      </li>
    </ul>

  </div>
</div>

<div class="row panel">
  <form>
    <div class="large-6 medium-6 small-12 columns">

      <ul class="no-bullet">
        <li>
          <label style="color: #3e4095;">Documento:</label>
          <span ng-show="_tenantSection.readOnly">{{ _tenantSection.tenant.DOCUMENT }}</span>
          <input type="text" ng-model="_tenantSection.tenant.DOCUMENT" ng-hide="_tenantSection.readOnly" />
        </li>
        <li>
          <label style="color: #3e4095;">Nombre:</label>
          <span ng-show="_tenantSection.readOnly">{{ _tenantSection.tenant.NAME }}</span>
          <input type="text" ng-model="_tenantSection.tenant.NAME" ng-hide="_tenantSection.readOnly" />
        </li>
      </ul>
    </div>
    <div class="large-6 medium-6 small-12 columns">
      <ul class="no-bullet">
        <li>
          <label style="color: #3e4095;">Correo:</label>
          <span ng-show="_tenantSection.readOnly">{{ _tenantSection.tenant.MAIL }}</span>
          <input type="text" ng-model="_tenantSection.tenant.MAIL" ng-hide="_tenantSection.readOnly" />
        </li>
      </ul>

    </div>
  </form>
</div>

<div class="row collapse" ng-show="_session.role==1 || _session.role==4">
  <div class="large-12 medium-12 columns">
    <table style="width: 100%;">
      <thead>
        <tr>
          <th># Contrato</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Propiedad</th>
          <th>Nombre Propietario</th>
          <th>Tels Propietario</th>
          <th class="small-1">Archivo</th>
          <th>Solicitud</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-hide="_tenantSection.contracts.length">
          <td colspan="4">
            <label>No se han encontrado contratos para este inquilino.</label>
          </td>
        </tr>
        <tr ng-repeat="c in _tenantSection.contracts" refresh-dropdown>
          <td class="text-center">{{c.CODE}}</td>
          <td class="text-center">{{c.START_DATE}}</td>
          <td class="text-center">{{c.END_DATE}}</td>
          <td class="text-center">
            <a ng-href="#/Properties/{{c.ID_PROPERTY}}">#{{c.ID_PROPERTY}}</a>
          </td>
          <td>{{c.PROPERTY_OWNER}}</td>
          <td>{{c.PROPERTY_OWNER_PHONES}}&nbsp;{{c.PROPERTY_OWNER_CELULAR}}</td>
          <td class="text-center">
            <a ng-href="#/DigitalArchive/2/{{c.CODE}}">
              <i class="fa fa-folder"></i>
            </a>
          </td>
          <td class="text-center">
            <a ng-href="#/Solicitudes?frequestId={{c.ID_REQUEST}}" ng-show="c.ID_REQUEST">
              #{{c.ID_REQUEST}}
            </a>
            <!-- class="dropdown" data-options="align:left" data-dropdown="addLinked" -->
            <a href="javascript:void(0)" data-reveal-id="addLinked" ng-click="formLink.init(c)">
              <i class="fa fa-plus-circle fa-lg"></i>
            </a>
            </th>
        </tr>

      </tbody>
    </table>

  </div>
</div>

<div id="addLinked1" data-dropdown-content class="small f-dropdown text-left">
  <a style="position: absolute;top: 0.5rem;right: 0.6875rem;color: #aaa;font-size: 1.375rem;font-weight: bold;cursor: pointer;z-index:2"
    onclick="$('#addLinked').foundation('dropdown', 'close', $('#addLinked'))">
    &#215;
  </a>
  <br/>
  <form>
    <div class="row" ng-show="formLink.requestError">
      <div class="large-12 columns">
        <label class="error">{{formLink.requestError}}</label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="row collapse">
          <label style="color: #3e4095;">Solicitud:</label>
          <div class="small-9 columns">
            <input type="text" ng-model="formLink.requestSearch" ng-enter="formLink.search()" />
          </div>
          <div class="small-3 columns">
            <button class="postfix" ng-click="formLink.search()">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <label>
          <span>Solicitud:</span>

        </label>
      </div>
    </div>
    <div class="row collapse" ng-show="formLink.request">
      <table class="small-11 small-centered column">
        <tbody>
          <tr>
            <td style="color: #3e4095">Radicado:&nbsp;</td>
            <td>#{{formLink.request.id}}</td>
          </tr>
          <tr>
            <td style="color: #3e4095">Contacto:&nbsp;</td>
            <td>{{formLink.request.contact_name}}</td>
          </tr>
          <tr>
            <td style="color: #3e4095">Propiedad</td>
            <td>{{formLink.request.property_id}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" ng-show="formLink.request">
      <div class="large-12 columns text-right">
        <a href="javascript:void(0)" class="button tiny" ng-click="formLink.linked()">Asociar</a>
      </div>
    </div>
  </form>
</div>

<div class="reveal-modal small" data-reveal id="addLinked">
  <a style="position: absolute;top: 0.5rem;right: 0.6875rem;color: #aaa;font-size: 1.375rem;font-weight: bold;cursor: pointer;z-index:2"
    onclick="$('#addLinked').foundation('dropdown', 'close', $('#addLinked'))">
    &#215;
  </a>
  <br/>
  <form>
    <div class="row" ng-show="formLink.requestError">
      <div class="large-12 columns">
        <label class="error">{{formLink.requestError}}</label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="row collapse">
          <label style="color: #3e4095;">Solicitud:</label>
          <div class="small-9 columns">
            <input type="text" ng-model="formLink.requestSearch" ng-enter="formLink.search()" />
          </div>
          <div class="small-3 columns">
            <button type="button" class="postfix" ng-click="formLink.search()">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row collapse" ng-show="formLink.request">
      <table class="small-11 small-centered column">
        <tbody>
          <tr>
            <td style="color: #3e4095">Radicado:&nbsp;</td>
            <td>#{{formLink.request.id}}</td>
          </tr>
          <tr>
            <td style="color: #3e4095">Contacto:&nbsp;</td>
            <td>{{formLink.request.contact_name}}</td>
          </tr>
          <tr>
            <td style="color: #3e4095">Propiedad</td>
            <td>{{formLink.request.property_id}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" ng-show="formLink.request">
      <div class="large-12 columns text-right">
        <a href="javascript:void(0)" class="button tiny" ng-click="formLink.linked()">Asociar</a>
      </div>
    </div>
  </form>
</div>

<div class="reveal-modal medium" data-reveal id="agregarContrato">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">Agregar Contrato
      </h5>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 medium-6 columns">
      <label>Inquilino:</label>
      <h6 class="subheader">{{ _tenantSection.tenant.NAME }}</h6>
    </div>
    <div class="small-12 large-6 medium-6 columns">
      <label>Número de Contrato (anterior = {{_tenantSection.lastContract}}):</label>
      <input type="text" ng-model="_tenantSection.contract.CODE" ng-blur="_tenantSection.validateContract()" onkeydown="return numbersOnly(event)">
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 medium-6 columns">
      <label>Fecha Inicio:</label>
      <input type="text" ng-model="_tenantSection.contract.START_DATE" class="date" readonly>
    </div>
    <div class="small-12 large-6 medium-6 columns">
      <label>Fecha Fin:</label>
      <input type="text" ng-model="_tenantSection.contract.END_DATE" class="date" readonly>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-3 medium-3 columns">
      <label>Solicitud:</label>
      <input type="text" ng-model="_tenantSection.contract.REQUEST_CODE" capitalize>
    </div>
    <div class="small-12 large-3 medium-3 columns">
      <label>Propiedad:</label>
      <input type="text" ng-model="_tenantSection.contract.PROPERTY" capitalize ng-blur="_tenantSection.loadPropertyData()" ng-enter="_tenantSection.loadPropertyData()">
    </div>
    <div class="small-12 large-6 medium-6 columns">
      <label ng-if="!_tenantSection.contract.PROPERTY_ADDRESS">&nbsp;</label>
      <div class="label secondary" style="display:block;font-size: 0.875rem;">
        {{ _tenantSection.contract.PROPERTY_ADDRESS }}
        <div>-</div>
        {{_tenantSection.contract.PROPERTY_OWNER}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 medium-6 columns">
      <label>Empleado Contacto:</label>
      <select ng-options="o.NAME for o in employees.list" ng-model="_tenantSection.contract.EMPLOYEE_CONTACT"></select>
    </div>
    <div class="small-12 large-6 medium-6 columns">
      <label>Empleado Inventario:</label>
      <select ng-options="o.NAME for o in employees.list" ng-model="_tenantSection.contract.EMPLOYEE"></select>
    </div>

  </div>

  <div class="row" ng-hide="!_tenantSection.contract.errors.length">
    <div class="small-12 large-4 medium-6 small-centered columns">
      <ul class="circle">
        <li ng-repeat="e in _tenantSection.contract.errors">
          <label style="color: tomato; padding: 0;margin: 0;">{{ e}}
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns" style="text-align: right;">
      <button class="close-reveal-modal button small" ng-click="_tenantSection.saveContract()" ng-hide="_tenantSection.contract.ID"
        ng-disabled="_tenantSection.invalidContract">
        <i class="fa fa-save"></i>&nbsp;Guardar
      </button>
      <button class="close-reveal-modal button small">
        <i class="fa fa-times-circle-o"></i>&nbsp;Cerrar
      </button>
    </div>
  </div>
</div>

<div class="reveal-modal small" data-reveal id="actualizarContrasenia">
  <div class="row">
    <div class="small-12 columns">
      <h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">Contraseña Inquilino</h5>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <label>Contraseña:</label>
      <input type="password" autocomplete="off" name="new_password" ng-model="_tenantSection.password">
    </div>
  </div>

  <div class="row" ng-hide="!_tenantSection.contract.errors.length">
    <div class="small-12 large-4 medium-6 small-centered columns">
      <ul class="circle">
        <li ng-repeat="e in _tenantSection.contract.errors">
          <label style="color: tomato; padding: 0;margin: 0;">{{ e}}
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns" style="text-align: right;">
      <button class="close-reveal-modal button small" ng-click="_tenantSection.saveTenantPassword()">
        <i class="fa fa-save"></i>&nbsp;Guardar
      </button>
      <button class="close-reveal-modal button small">
        <i class="fa fa-times-circle-o"></i>&nbsp;Cerrar
      </button>
    </div>
  </div>
</div>