<!doctype html>
<html ng-app="adminayura">

<head>
  <meta charset="utf-8" />
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-site-verification" content="lyQKJ3wdhkP4awS7h0wxwP3klm2KgfZtIbo6qsxnUPw" />
  <title>Administración de Propiedades | Arrendamientos Ayurá</title>
  <meta name="description" content="Busca tu Inmueble para Venta o Arriendo en Envigado, Medellín, Itagüí, Sabaneta y La Estrella. Encuentra Apartamentos, Casas, Locales, Fincas y Lotes"
  />
  <meta name="keywords" content="arriendo, arriendo Apartamento Envigado, arrendamientos Envigado, Arrendamientos Sabaneta, venta de inmuebles, arrendamiento inmueble, envigado, propiedad raiz, arrendamientos, avaluos,tramites inmobiliarios, propiedad raiz en medellin, arriendo sabaneta,arriendo medellin,arrendamientos+medellin, arrendamientos+sabaneta, arrendamientos+envigado">
  <meta name="author" content="SOCOBOX SAS - www.socobox.co" />
  <link rel="canonical" href="http://www.arrendamientosayura.com" />
  <meta property="og:title" content="Arrendamientos Ayurá" />
  <meta property="og:description" content="Busca tu Inmueble para Venta o Arriendo en Envigado, Medellín, Itagüí, Sabaneta, y La Estrella. Encuentra Apartamentos, Casas, Locales, Fincas y Lotes"
  />

  <link href="font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="foundation/css/foundation.css" />
  <link rel="stylesheet" href="css/flexslider.css" type="text/css">
  <link href="css/lightbox.css" rel="stylesheet" />
  <link rel="stylesheet" href="js/datepicker/f-datepicker.css">
  <link rel="stylesheet" href="css/angucomplete.css" />
  <link rel="stylesheet" href="css/vendor/alertify.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="css/vendor/photo-sphere-viewer.css">
  
  <link rel="stylesheet" href="css/vendor/magnific-popup.css">
  <link rel="stylesheet" href="css/vendor/Chart.min.css">

  <script src="foundation/js/modernizr.js"></script>
  <style>
    .ng-cloak {
      display: none;
    }

    table tr th,
    table tr td {
      padding: 0.220rem 0.225rem;
      font-size: 0.875rem;
      color: #222222;
    }
  </style>
</head>

<body class="ng-cloak">

  <header class="main-header">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1>
            <a href="#/">
              <img src="images/logo_square.png" style="height: 40px" />
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="javascript:void(0)">
            <span>menu</span>
          </a>
        </li>
      </ul>

      <section class="top-bar-section">

        <!-- Right Nav Section -->
        <ul class="right" ng-hide="flash.copyMode">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="javascript:void(0)">
              <i class="fa fa-phone-square"></i>&nbsp;Contactos</a>
            <ul class="dropdown">
              <li>
                <a href="#/dashboard">
                  <i class="fa fa-bar-chart-o"></i>&nbsp;Resumen</a>
              </li>
              <li>
                <a href="#/Contact">
                  <i class="fa fa-phone-square"></i>&nbsp;Contactos</a>
              </li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="javascript:void(0)">
              <i class="fa fa-calendar"></i>&nbsp;Agenda</a>
            <ul class="dropdown">
              <li>
                <a href="#/Agenda">
                  <i class="fa fa-print"></i>&nbsp;Resumen</a>
              </li>
              <li>
                <a href="#/AgendarCita">
                  <i class="fa fa-calendar-o"></i>&nbsp;Agendar Cita</a>
              </li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#/Properties" ng-click="_propSection.init()">
              <i class="fa fa-home"></i>&nbsp;Propiedades</a>
            <ul class="dropdown">
              <li>
                <a href="#/Properties" ng-click="_propSection.init()">
                  <i class="fa fa-home"></i>&nbsp;Búsqueda</a>
              </li>
              <li class="link-properties js-properties">
                <a href="#/Owner">
                  <i class="fa fa-group"></i>&nbsp;Propietarios</a>
              </li>
              <li class="link-inquilinos js-inquilinos">
                <a href="#/Tenant">
                  <i class="fa fa-building-o"></i>&nbsp;Inquilinos
                </a>
              </li>
              <li class="link-inquilinos js-inquilinos">
                <a href="#/Solicitudes">
                  <i class="fa fa-tasks"></i>&nbsp;Solicitudes
                </a>
              </li>
              <li>
                <a href="#/DigitalArchive">
                  <i class="fa fa-folder"></i>&nbsp;Archivo</a>
              </li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="js-solicitudes link-reportes">
            <a ng-href="#/Contract">
              <i class="fa fa-book"></i>&nbsp;Contratos</a>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown js-solicitudes link-reportes">
            <a href="javascript:void(0)">
              <i class="fa fa-tachometer"></i>&nbsp;Reportes</a>
            <ul class="dropdown">
              <li>
                <a ng-href="/report/properties/type" target="_blank">
                  <i class="fa fa-cloud-download"></i>&nbsp;Propiedades</a>
              </li>
              <li>
                <a href="#/contact-request/status">
                  <i class="fa fa-cloud-download"></i>&nbsp;Solicitudes (Estado)
                </a>
              </li>
              <li>
                <a href="#/Consultants">
                  <i class="fa fa-cloud-download"></i>&nbsp;Asesores y Promotores</a>
              </li>
              <!--<li>-->
              <!--<a href="#!" data-reveal-id="propertiesByStatus"><i class="fa fa-bar-chart-o"></i>&nbsp;Propiedades(Estado)</a>-->
              <!--</li>-->

            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="javascript:void(0)">
              <i class="fa fa-user"></i>&nbsp;Mi Cuenta
            </a>
            <ul class="dropdown">
              <li>
                <a href="#/Account">
                  <i class="fa fa-lock"></i>&nbsp;Cambiar Contrase&ntilde;a</a>
              </li>
              <li>
                <a href="#/">
                  <i class="fa fa-power-off"></i>&nbsp;Salir
                </a>
              </li>
            </ul>
          </li>
          <li class="divider"></li>
        </ul>
      </section>
    </nav>
  </header>

  <!-- End Top Bar -->
  <div ng-view></div>

  <!-- En proceso -->

  <!-- <div class="reveal-modal medium" data-reveal id="verContrato">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">
        Contrato</h5>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 medium-6 columns">
      <label>Inquilino:</label>
      <h6 class="subheader">{{ _tenantSection.tenant.NAME }}</h6>
    </div>
    <div class="small-12 large-6 medium-6 columns">
      <label>Número de Contrato (anterior = {{_tenantSection.lastContract}}):</label>
      <input type="text" ng-model="_tenantSection.contract.CODE" ng-blur="_tenantSection.validateContract()"
           onkeydown="return numbersOnly(event)">
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 medium-6 columns">
      <label>Fecha Inicio:</label>
      <input type="text" ng-model="_tenantSection.contract.START_DATE" class="date" readonly>
    </div>
    <div class="small-12 large-6 medium-6 columns">
      <label>Fecha Fin:</label>
      <input type="text" ng-model="_tenantSection.contract.END_DATE" class="date" readonly>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-2 medium-2 columns">
      <label>Propiedad:</label>
      <input type="text" ng-model="_tenantSection.contract.PROPERTY" capitalize
           ng-blur="_tenantSection.loadPropertyData()" ng-enter="_tenantSection.loadPropertyData()">
    </div>
    <div class="small-12 large-10 medium-10 columns">
      <label>&nbsp</label>
      <span class="label secondary" style=" width:100%;height:100%;font-size: 0.875rem;line-height: 1;">{{ _tenantSection.contract.PROPERTY_ADDRESS }} - {{_tenantSection.contract.PROPERTY_OWNER}}</span>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 medium-6 columns">
      <label>Empleado Contacto:</label>
      <select ng-options="o.NAME for o in employees.list"
          ng-model="_tenantSection.contract.EMPLOYEE_CONTACT"></select>
    </div>
    <div class="small-12 large-6 medium-6 columns">
      <label>Empleado Inventario:</label>
      <select ng-options="o.NAME for o in employees.list"
          ng-model="_tenantSection.contract.EMPLOYEE"></select>
    </div>

  </div>

  <div class="row" ng-hide="!_tenantSection.contract.errors.length">
    <div class="small-12 large-4 medium-6 small-centered columns">
      <ul class="circle">
        <li ng-repeat="e in _tenantSection.contract.errors"><label style="color: tomato; padding: 0;margin: 0;">{{
          e}}</label></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns" style="text-align: right;">
      <button class="close-reveal-modal button small" ng-click="_tenantSection.saveContract()"
          ng-hide="_tenantSection.contract.ID" ng-disabled="_tenantSection.invalidContract">
        <i class="fa fa-save"></i>&nbsp;Guardar
      </button>
      <button class="close-reveal-modal button small"><i
          class="fa fa-times-circle-o"></i>&nbsp;Cerrar
      </button>
    </div>
  </div>
</div> -->

  <!-- <div class="reveal-modal small" data-reveal id="propertiesByStatus">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">Generar Reporte</h5>
      <br>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <table>
          <tr>
            <td>
              <label>Estado:</label>
            </td>
            <td>
              <select class="combobox" ng-options="s.label for s in _statusList"
                  ng-model="_reportManager.propStatus"></select>
            </td>
          </tr>
          <tr>
            <td>
              <label>Fecha Inicio:</label>
            </td>
            <td>
              <input type="text" readonly ng-model="_reportManager.propStatusFrom" class="date"
                   style="margin:0;padding:0;text-align:center;width: 6.6em;display:inline;">
            </td>
          </tr>
          <tr>
            <td>
              <label>Fecha Fin:</label>
            </td>
            <td>
              <input type="text" readonly ng-model="_reportManager.propStatusTo" class="date"
                   style="margin:0;padding:0;text-align:center;width: 6.6em;display:inline;">
            </td>
          </tr>
        </table>

      </div>
    </div>
    <div class="row">
      <div class="large-12 medium-12 small-12 columns" style="text-align: right;">
        <a ng-href="/report/properties/types?status={{_reportManager.propStatus.value}}" target="_blank" class="button small"
           onclick="$('#propertiesByStatus').foundation('reveal', 'close')" >
          <i class="fa fa-check-square-o"></i>&nbsp;Generar Reporte
        </a>
        <a class="close-reveal-modal button small"><i
            class="fa fa-times-circle-o"></i>&nbsp;Cancelar
        </a>
      </div>
    </div>
  </form>
</div> -->


  <script src="foundation/js/vendor/jquery.js"></script>
  <script src="js/jquery.flexslider-min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <script src="foundation/js/foundation.min.js"></script>
  <script src="js/datepicker/f-datepicker.js"></script>
  <script src="js/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/vendor/alertify.js"></script>
  <script src="js/vendor/angular-1.4.js"></script>
  <script src="js/vendor/ngCookies.js"></script>
  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script> -->
  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-cookies.js"></script> -->
  <script src="js/angucomplete.js"></script>
  <script src="js/angular-route.js"></script>
  <!-- MAIN -->
  <script src="js/services.js?v=20171025"></script>
  <script src="js/digital-archive.js?v=20171025"></script>
  <script src="js/digital-archive-upload.js?v=20171025"></script>
  <script src="js/controller.js?v=20171025"></script>
  <script src="js/controller/contract.js?v=20171025"></script>
  <script src="js/controller/consultantsCtrl.js"></script>
  <script src="js/controller/requestCtrl.js"></script>
  <script src="js/adminApp.js?v=20171025"></script>
  <script src="//ajax.googleapis.com/ajax/libs/threejs/r69/three.min.js"></script>
  <script src="js/vendor/jquery.magnific-popup.js"></script>
  <script src="js/vendor/jquery.pano.js"></script>

  <script src="js/vendor/ChartJs/Chart.bundle.min.js"></script>
  <script src="js/vendor/ChartJs/Chart.min.js"></script>
  <!-- END MAIN -->

	<!-- External library -->
  <script src="js/vendor/angular-sanitize.min.js"></script>
  <script src="js/vendor/ng-csv.min.js"></script>
	<script src="js/vendor/src/three.min.js"></script>
	<script src="js/vendor/src/D.min.js"></script>
	<script src="js/vendor/src/uevent.min.js"></script>
	<script src="js/vendor/src/doT.min.js"></script>

	<!-- External library, but included in the build -->
	<script src="js/vendor/src/sphoords.js"></script>

	<!-- Photo Sphere Viewer files -->
	<script src="js/vendor/src/PhotoSphereViewer.js"></script>

  <!-- Test script -->
  <script>
    function numbersOnly(e) {
      var keyCode = e.which; // Capture the event
      //190 is the key code of decimal if you dont want decimals remove this condition keyCode != 190
      if (keyCode != 8 && keyCode != 9 && keyCode != 13 && keyCode != 37 && keyCode != 38 && keyCode != 39 && keyCode != 40 && keyCode != 46 && keyCode != 110 && keyCode != 190) {
        if (keyCode < 48) {
          e.preventDefault();
        } else if (keyCode > 57 && keyCode < 96) {
          e.preventDefault();
        } else if (keyCode > 105) {
          e.preventDefault();
        }
      }
    };
  </script>
  <script>
    $(document).foundation();

    $(function () {
      $(".date").fdatepicker({ language: "es" });
    });

    String.prototype.endsWith = function (s) {
      return this.length >= s.length && this.substr(this.length - s.length) == s;
    };

    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
  </script>

</body>

</html>
