<!doctype html>
<html class="no-js" lang="es-CO" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)" ng-app="mainApp">

<head>
	<meta charset="utf-8" />
	<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="google-site-verification" content="lyQKJ3wdhkP4awS7h0wxwP3klm2KgfZtIbo6qsxnUPw" />
	<meta name="alexaVerifyID" content="uPWmqvx9-jNwCCaCqoW4kd-LfIM" />
	<title>Su Inmobiliaria en Envigado | Arrendamientos Ayurá</title>
	<meta name="description" content="Arrendamientos Ayurá - Busca tu Inmueble para Venta o Arriendo en Envigado, Medellín, Itagüí, Sabaneta y La Estrella. Encuentra Apartamentos, Casas, Locales, Fincas y Lotes"
	/>
	<meta name="keywords" content="arriendo, arriendo Apartamento Envigado, arrendamientos Envigado, Arrendamientos Sabaneta, venta de inmuebles, arrendamiento inmueble, envigado, propiedad raiz, arrendamientos, avaluos,tramites inmobiliarios, propiedad raiz en medellin, arriendo sabaneta,arriendo medellin,arrendamientos+medellin, arrendamientos+sabaneta, arrendamientos+envigado">
	<meta name="author" content="SOCOBOX SAS - www.socobox.co" />
	<link rel="canonical" href="http://www.arrendamientosayura.com" />
	<meta property="og:title" content="Arrendamientos Ayurá" />
	<meta property="og:description" content="Busca tu Inmueble para Venta o Arriendo en Envigado, Medellín, Itagüí, Sabaneta, y La Estrella. Encuentra Apartamentos, Casas, Locales, Fincas y Lotes"
	/>
	<link rel="shortcut icon" href="assets/img/favicon.ico">
	<style>
		.ng-cloak {
			display: none;
		}
	</style>
	<link href="font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="foundation/css/foundation.css" />
	<link href="css/lightbox.css" rel="stylesheet" />
	<link href="css/vendor/swiper.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/vendor/magnific-popup.css">
	<link rel="stylesheet" href="css/vendor/photo-sphere-viewer.css">

	<script src="foundation/js/modernizr.js"></script>

</head>

<body ng-controller="MainCtrl" class="ng-cloak" style="background-color: lightgray;">
	<!-- Start Alexa Certify Javascript -->
	<script type="text/javascript">
		_atrk_opts = { atrk_acct: "o3y1j1a4ZP00O/", domain: "arrendamientosayura.com", dynamic: true };
		(function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
	</script>
	<noscript>
		<img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=o3y1j1a4ZP00O/" style="display:none" height="1" width="1"
		 alt="" />
	</noscript>
	<!-- End Alexa Certify Javascript -->
	<div class="row" style="background-color: #ffffff;">

		<div class="large-12 medium-12 columns">
			<!-- Navigation -->
			<div class="row" ng-hide="webView">
				<div class="large-12 medium-12      columns">
					<div class="row">
						<div class="large-6 medium-6  small-12 columns">

							<a href="#" style="padding-left: 10px;">
								<img style="{{styleLogo}}" ng-src="{{logo}}" alt="Home">
							</a>
							<br/>

						</div>
						<div id="badges" class="large-6 medium-6         medium-6      medium-6 hide-for-small columns">
							<!-- <div class="js-banner-partner swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide text-center">
									<img src="images/badges/la-lonja-antioquia.png" alt="slide 1" style="margin-left: auto;margin-right: auto;"/>
								</div>
							</div>
							<div class="swiper-wrapper">
								<div class="swiper-slide text-center">
									<img src="images/badges/libertador.png" alt="slide 1" style="margin-left: auto;margin-right: auto;"/>
								</div>
							</div>
							<div class="swiper-wrapper">
								<div class="swiper-slide text-center">
									<img src="images/badges/lonjaPropRaiz.jpeg" alt="slide 1" style="margin-left: auto;margin-right: auto;"/>
								</div>
							</div>
							<div class="swiper-wrapper">
								<div class="swiper-slide text-center">
									<img src="images/badges/socio-data-credito.png" alt="slide 1" style="margin-left: auto;margin-right: auto;"/>
								</div>
							</div>
							<div class="swiper-wrapper">
								<div class="swiper-slide text-center">
									<img src="images/badges/suramericana.jpg" alt="slide 1" style="margin-left: auto;margin-right: auto;"/>
								</div>
							</div>
						</div> -->

							<ul class="example-orbit" data-orbit data-options="navigation_arrows: false;pause_on_hover: false;slide_number: false;bullets:false;animation_speed:777;timer_speed: 3000;">
								<li>
									<img src="images/badges/la-lonja-antioquia.png" alt="slide 1" style="margin-left: auto;margin-right: auto;" />
								</li>
								<li>
									<img src="images/badges/libertador.png" alt="slide 1" style="margin-left: auto;margin-right: auto;" />

								</li>
								<li>
									<img src="images/badges/lonjaPropRaiz.jpeg" alt="slide 1" style="margin-left: auto;margin-right: auto;" />
								</li>

								<li>
									<img src="images/badges/socio-data-credito.png" alt="slide 1" style="margin-left: auto;margin-right: auto;" />

								</li>
								<li>
									<img src="images/badges/suramericana.jpg" alt="slide 1" style="margin-left: auto;margin-right: auto;" />

								</li>
							</ul>

						</div>
					</div>
					<div class="row">
						<div class="large-12 medium-12 columns hide-for-small text-center">
							<h2 style="margin-top: 0;margin-bottom: 0;">
								<small>Nuestro lema es servirle cada vez mejor con experiencia, cumplimiento y calidad en el servicio
								</small>
							</h2>
						</div>
					</div>
					<div class="row">
						<div class="large-12 medium-12   columns">
							<nav class="top-bar" data-topbar>
								<ul class="title-area">
									<!-- Title Area -->

									<li class="name">
									</li>

									<li class="toggle-topbar menu-icon">
										<a href="#">
											<span></span>
										</a>
									</li>
								</ul>

								<section class="top-bar-section">
									<!-- Right Nav Section -->

									<ul class="right">
										<li class="divider"></li>
										<li>
											<a href="/" ng-click="searchMode=false">
												<i class="fa fa-home"></i>&nbsp;Inicio</a>
										</li>
										<li>
											<a href="quienesSomos.html">
												<i class="fa fa-users"></i>&nbsp;Qui&eacute;nes&nbsp;Somos</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="servicios.html">
												<i class="fa fa-flag"></i>&nbsp;Servicios</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="requisitos.html">
												<i class="fa fa-check-square"></i>&nbsp;Requisitos</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="contactenos.html">
												<i class="fa fa-phone-square"></i>&nbsp;Cont&aacute;ctenos</a>
										</li>
										<li class="divider"></li>
										<li class="has-dropdown">
											<a href="#">
												<i class="fa fa-sign-in"></i>&nbsp;Ingresos</a>
											<ul class="dropdown">
												<li>
													<a href="contratos.html">
														<i class="fa fa-search"></i>&nbsp;Propietario</a>
												</li>
												<li>
													<a href="consultas.html">
														<i class="fa fa-search"></i>&nbsp;Consultar Solicitud</a>
												</li>
												<li>
													<a href="inquilinos.html">
														<i class="fa fa-search"></i>&nbsp;Inquilinos</a>
												</li>
											</ul>
										</li>
										<li class="divider"></li>
										<li>
											<a href="registrarInmueble.html">
												<i class="fa fa-building-o"></i>&nbsp;Registrar&nbsp;Inmueble</a>
										</li>
									</ul>
								</section>
							</nav>
							<!-- End Top Bar -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="row" ng-hide="webView" ng-class="{'no-mobile':searchMode}">
				<div class="large-12 medium-12 hide-for-small-only columns">
					<div class="banner-slider ayura-banner">
						<div class="js-banner-primary swiper-container contenido">
							<!-- Additional required wrapper -->
							<div class="swiper-wrapper">
								<div class="swiper-slide text-center" ng-repeat="i in banners" end-repeat>
									<span ng-if="!i.link && i.message">
										<span class="link_swiper">{{i.message}}</span>
										<img class="banner-image" ng-src="{{i.image}}" />
									</span>
									<span ng-if="!i.link && !i.message">
										<img class="banner-image" ng-src="{{i.image}}" />
									</span>
									<span ng-if="i.link && !i.message">
										<a ng-href="{{i.link}}" target="_blank">
											<img class="banner-image" ng-src="{{i.image}}" />
										</a>
									</span>
									<span ng-if="i.link && i.message">
										<a ng-if="i.link && i.message" class="link_swiper" ng-href="{{i.link}}" target="_blank">
											{{i.message}}
										</a>
										<img class="banner-image" ng-src="{{i.image}}" />
									</span>

								</div>
							</div>
							<!-- If we need pagination -->
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row" style="background-color: #ffffff; padding-top: 10px;" ng-hide="webView" ng-show="!_property">
				<!-- Side Bar -->
				<div class="large-4 medium-4 small-12 columns">


					<div class="panel">

						<div class="row" style="text-align: center;">
							<div class="large-12 medium-12      columns" style="text-align: center;">
								<h5 style="color: #3e4095;font-weight: bolder;">BUSCAR INMUEBLE</h5>
							</div>
						</div>
						<div class="row">
							<div class="large-12 medium-12      columns" style="text-align: center;">
								<input type="radio" ng-model="_target" value="0" id="arrendar" ng-change="targetChanged()">
								<label for="arrendar" style="color: #3e4095">Arrendar</label>
								<input type="radio" ng-model="_target" value="1" id="comprar" ng-change="targetChanged()">
								<label for="comprar" style="color: #3e4095">Comprar</label>
							</div>
						</div>
						<div class="row">
							<div class="large-12 medium-12      columns">
								<label for="inputType">Tipo Inmueble:</label>
								<select id="inputType" ng-model="_propertyType" ng-options="t.label for t in propertyTypes">
								</select>
							</div>
						</div>
						<div class="row">
							<div class="large-12 medium-12      columns">
								<label for="inputLocation">Ciudad:</label>
								<select id="inputLocation" ng-model="_city" ng-options="c.label for c in cities">
								</select>
							</div>
						</div>
						<div class="row">
							<div class="large-12 medium-12      columns">
								<label for="inputPrice">Precio:</label>
								<select id="inputPrice" ng-model="_propertyPrice" ng-options="p.label for p in propertyPrices">
								</select>
							</div>
						</div>
						<div class="row">
							<div class="large-12 medium-12      columns">
								<label for="inputArea">&Aacute;rea:</label>
								<select id="inputArea" ng-model="_propertyArea" ng-options="p.label for p in propertyAreas">
								</select>
							</div>
						</div>

						<div class="row">
							<div class="large-12 medium-12      columns">
								<label for="inputCode">C&oacute;digo:</label>
								<input type="text" id="inputCode" ng-model="_propertyCode" />
							</div>
						</div>

						<div class="row" ng-show="extraOptions">
							<div class="large-12 medium-12      columns">
								<label for="inputRooms">Habitaciones:</label>
								<select id="inputRooms" ng-model="_propertyRoom" ng-options="p.label for p in propertyRooms">
								</select>
							</div>
						</div>

						<div class="row" ng-show="extraOptions">
							<div class="large-12 medium-12      columns">
								<label for="inputParking">Parqueadero:</label>
								<select id="inputParking" ng-model="_propertyParking" ng-options="p.label for p in parkingOptions">
								</select>
							</div>
						</div>
						<div class="row" ng-show="extraOptions">
							<div class="large-12 medium-12      columns">
								<label for="inputBuilding">Conjunto Cerrado:</label>
								<select id="inputBuilding" ng-model="_propertyCondo" ng-options="p.label for p in condoOptions">

								</select>
							</div>
						</div>


						<div class="row" ng-hide="extraOptions">
							<div class="large-12 medium-12 text-right columns">
								<a style="cursor:hand;padding-bottom: 5px;" href="javascript:void(0)" ng-click="extraOptions=true">
									<i class="fa fa-plus-square-o"></i>&nbsp;Filtros Adicionales</a>
								<br/>
								<br/>
							</div>
						</div>

						<div class="row">
							<div class="large-12 medium-12 columns" style="text-align: right;">
								<a href="javascript:void(0)" class="small button" ng-click="clear()">
									<i class="fa fa-eraser"></i>&nbsp;&nbsp;Limpiar</a>
								<a href="#results" class="small button" ng-click="search()">
									<i class="fa fa-search"></i>&nbsp;&nbsp;Buscar</a>
							</div>
						</div>
						<div class="row">
							<div class="large-12 medium-12 columns" style="text-align: right;">
								<hr>
								<label class="left inline" style="color: #3e4095">S&iacute;guenos:
									<a href="http://www.facebook.com/arrendamientos.ayura">
										<i class="fa fa-facebook-square fa-2x"></i>
									</a>&nbsp;
									<a href="http://www.twitter.com/arrendaayura">
										<i class="fa fa-twitter-square fa-2x"></i>
									</a>
								</label>
							</div>
						</div>

						<div class="row" style="text-align: center;" ng-hide="myProperties.length">
							<div class="large-12 medium-12 hide-for-small columns">
								<div style="width: 100%; text-align: center;background-color: #ffffff;">
									<a class="twitter-timeline" href="https://twitter.com/arrendaayura" data-widget-id="408649498060025856">Tweets por @arrendaayura</a>
									<script>!function (d, s, id) {
											var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
											if (!d.getElementById(id)) {
												js = d.createElement(s);
												js.id = id;
												js.src = p + "://platform.twitter.com/widgets.js";
												fjs.parentNode.insertBefore(js, fjs);
											}
										}(document, "script", "twitter-wjs");</script>

								</div>

							</div>
						</div>
						<div class="row" style="text-align: center;" ng-show="myProperties.length">
							<div class="large-12 medium-12      columns" style="text-align: center;">
								<h5 style="color: #3e4095;font-weight: bolder;">PROPIEDADES VISTAS HOY</h5>
							</div>
						</div>
						<div class="row">
							<div class="large-12 medium-12      columns">
								<ul class="no-bullet">
									<li ng-repeat="p in myProperties" style="font-size: 0.8em;">
										<a ng-href="#?propId={{p.ID}}" ng-click="watchProperty($index)">
											<i class="fa fa-search"></i>&nbsp;#{{ p.ID }}&nbsp;-&nbsp;{{ p.NEIGHBORHOOD }}&nbsp;-&nbsp;{{p.CITY}}
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- End Side Bar -->
				<!-- Thumbnails -->
				<div class="large-8 medium-8  medium-8 columns">
					<div class="row" ng-show="tab==0" id="results">
						<div class="large-12 medium-12 small-12 columns text-right" style="margin-bottom: 5px;">
							<div class="fb-like" data-href="http://www.arrendamientosayura.com" data-layout="button_count" data-action="like" data-show-faces="false"
							 data-share="true"></div>
						</div>
					</div>
					<div class="row" ng-show="tab==0">
						<div class="medium-6 small-8 small-centered medium-centered columns">
							<ul class="pagination" ng-show="properties.length">
								<li class="current" style="cursor: hand;" ng-show="hasPrev">
									<a style="cursor:hand;" href="javascript:void(0)" ng-click="firstPage()">
										<i class="fa fa-chevron-left"></i>
										<i class="fa fa-chevron-left"></i>
									</a>
								</li>
								<li class="current" style="cursor: hand;" ng-show="hasPrev">
									<a style="cursor:hand;" href="javascript:void(0)" ng-click="previousPage()">
										<i class="fa fa-chevron-left"></i>
									</a>
								</li>
								<li class="current">P&aacute;gina:&nbsp;{{ currentPage }}</li>
								<li>de</li>
								<li>{{ totalPages }}</li>
								<li class="current" style="cursor:hand;" ng-show="hasMore">
									<a style="cursor:hand;" href="javascript:void(0)" ng-click="nextPage()">
										<i class="fa fa-chevron-right"></i>
									</a>
								</li>
								<li class="current" style="cursor: hand;" ng-show="hasMore">
									<a style="cursor:hand;" href="javascript:void(0)" ng-click="lastPage()">
										<i class="fa fa-chevron-right"></i>
										<i class="fa fa-chevron-right"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>


					<div class="row" ng-show="tab==0">

						<div class="large-12 medium-12 small-12 columns" style="background-color: #e7e7e7;border: 2px solid #FFFFFF;" ng-hide="properties.length">
							<h6 class="subheader">No se encontraron propiedades, por favor cambie los filtros y busque de nuevo.</h6>
						</div>

						<div class="large-6 medium-6         medium-6     small-12 columns" style="background-color: #e7e7e7;border: 2px solid #FFFFFF;"
						 ng-repeat="p in properties">
							<div class="row">
								<div class="large-12 medium-12      small-12 columns" style="background-color: #3e4095;">
									<h6 style="color: #ffffff;">{{ p.NEIGHBORHOOD }}&nbsp;-&nbsp;{{ p.CITY }}</h6>
								</div>
							</div>
							<div class="row" style="vertical-align:middle;">
								<div class="large-6 medium-6         medium-6     small-6 columns radius" style="text-align: left;">
									<a class="th radius" href="#?propId={{p.ID}}" ng-click="setProperty($index)">
										<img id="logo" ng-src="{{ p.COVER}}" src="images/noDisponible.jpg" alt="{{ p.NEIGHBORHOOD }}">
									</a>
								</div>
								<div class="large-6 medium-6         medium-6     small-6 columns">
									<br/>
									<h6 class="subheader">
										<span style="color: #3e4095">C&oacute;digo:</span>&nbsp;#{{ p.ID }}</h6>
									<h6 class="subheader">
										<span style="color: #3e4095">&Aacute;rea:</span>&nbsp;{{ p.AREA }}m²</h6>
									<h6 class="subheader">
										<span style="color: #3e4095">Habitaciones:</span>&nbsp;{{ p['N. Alcobas'] }}
									</h6>
									<h6 class="subheader">
										<span style="color: #3e4095">Baños:</span>&nbsp;{{ p['N. Baños'] }}</h6>
									<h6 class="subheader">
										<span style="color: #3e4095">Precio:</span>&nbsp;${{ p.PRICE |number }}
									</h6>
									<br/>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-show="tab==0">
						<div class="medium-6 small-8 small-centered medium-centered columns">
							<ul class="pagination" ng-show="properties.length">
								<li class="current" style="cursor: hand;" ng-show="hasPrev">
									<a style="cursor:hand;" href="javascript:void(0)" ng-click="firstPage()">
										<i class="fa fa-chevron-left"></i>
										<i class="fa fa-chevron-left"></i>
									</a>
								</li>
								<li class="current" style="cursor: hand;" ng-show="hasPrev">
									<a style="cursor:hand;" href="javascript:void(0)" ng-click="previousPage()">
										<i class="fa fa-chevron-left"></i>
									</a>
								</li>
								<li class="current">P&aacute;gina:&nbsp;{{ currentPage }}</li>
								<li>de</li>
								<li>{{ totalPages }}</li>
								<li class="current" style="cursor:hand;" ng-show="hasMore">
									<a style="cursor:hand;" href="javascript:void(0)" ng-click="nextPage()">
										<i class="fa fa-chevron-right"></i>
									</a>
								</li>
								<li class="current" style="cursor: hand;" ng-show="hasMore">
									<a style="cursor:hand;" href="javascript:void(0)" ng-click="lastPage()">
										<i class="fa fa-chevron-right"></i>
										<i class="fa fa-chevron-right"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row" ng-show="tab==1">
						<!-- End Managed By -->
					</div>

				</div>
			</div>

			<div class="row" style="background-color: #ffffff; padding-top: 10px;min-height: 400px;" ng-show="_property">

				<div class="large-12 medium-12      columns">
					<div class="row" style="background-color: #ffffff; padding-top: 10px;">
						<div class="large-12 medium-12      columns">
						</div>
					</div>

					<div class="row" style="background-color: #ffffff; padding-top: 10px;">

						<div class="large-12 medium-12  small-12 columns">
							<div class="row">
								<div class="large-3 columns" ng-hide="webView">
									<a class="small button" href="/#" ng-click="_property=null">
										<i class="fa fa-backward"></i>&nbsp;Regresar</a>
								</div>
								<div class="large-9 columns">
									<h5 style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">
										#{{_property.ID }}&nbsp;-&nbsp; {{_property.NEIGHBORHOOD }}&nbsp;-&nbsp; {{ _property.CITY}}
									</h5>
								</div>
							</div>
							<div class="row">
								<div class="large-3 medium-3 hide-for-small columns">
									<!-- <a ng-href="https://www.arrendamientosayura.com/#?propId={{_property.ID}}"><i class="fa fa-share"></i>Share Facenbook</a> -->
								</div>
								<div class="large-3 medium-3 small-6 columns">
									<div class="row">
										<div class="small-7 columns">
											<label class="right inline" style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Precio:</label>
										</div>
										<div class="small-5 columns">
											<label class="left inline" style="font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">${{ _property.PRICE |number }}</label>
										</div>
									</div>
								</div>
								<div class="large-3 medium-3 small-6 columns">
									<div class="row">
										<div class="small-7 columns">
											<label class="right inline" style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">&Aacute;rea:</label>
										</div>
										<div class="small-5 columns">
											<label class="left inline" style="font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">{{ _property.AREA }}m²</label>
										</div>
									</div>
								</div>
								<div class="large-3 medium-3 hide-for-small columns">
									&nbsp;
								</div>
							</div>
							<div class="row">
								<div class="large-12 medium-12 small-12 columns">

									<h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">
										Características de Inmueble</h5>

									<ul class="small-block-grid-2 large-block-grid-4 medium-block-grid-4">
										<li ng-repeat="f in _property.details" ng-if="validateDetail(f, _property)">
											<span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">{{ f.name }}</span>

											<div ng-switch="f.type" class="prop" style="padding: 0.220rem 0.225rem;border: solid #3e4095 1px;line-height: 1.125rem;">
												<span ng-switch-when="0" style="font-size: 0.875rem;">{{ f.value }}</span>
												<span ng-switch-when="1" style="font-size: 0.875rem;">{{ f.value }}</span>
												<span ng-switch-when="2" style="font-size: 0.875rem;">{{ f.value}}</span>
												<span ng-switch-when="3" style="font-size: 0.875rem;"> {{ f.value?"Sí":"NO" }}</span>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="row" ng-show="_property.OBS">
								<div class="large-12 medium-12   small-12    columns text-center">
									<h5 style="color: #3e4095;">
										<i class="fa fa-star"></i>&nbsp;{{ _property.OBS }}</h5>
								</div>
							</div>
							<div class="row" ng-show="contactMe" id="contactMe">
								<div class="large-12 medium-12   small-12   columns text-center">
									<h5 class="subheader" style="padding-left:5px;background-color:#3e4095;width: 100%;color: #ffffff;">
										Por favor ingrese sus datos</h5>
								</div>
							</div>
							<div class="row" ng-show="contactMe">
								<div class="large-4 medium-4 small-12       columns">
									<label style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Nombre:</label>
									<input type="text" ng-model="contactPropertyName" />
								</div>
								<div class="large-4 medium-4   small-12     columns">
									<label style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Correo:</label>
									<input type="text" ng-model="contactPropertyEmail" />
								</div>
								<div class="large-4 medium-4   small-12     columns">
									<label style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Tel&eacute;fono:</label>
									<input type="text" ng-model="contactPropertyPhone" />
								</div>
							</div>

							<div class="row">
								<div class="large-12 medium-12  small-12  columns text-right">
									<a class="small button" href="javascript:void(0)" ng-click="addPropertyContactRequest()" ng-show="contactMe">
										<i class="fa fa-phone"></i>&nbsp;Contactarme</a>
									<a class="small button" href="javascript:void(0)" ng-click="contactMe=true;" ng-hide="contactMe">
										<i class="fa fa-check-circle"></i>&nbsp;Me interesa esta propiedad.</a>
								</div>
							</div>
							<div class="row" style="background-color: #ffffff; padding-top: 10px;">

								<div class="large-12 medium-12 small-12  columns columns" style="min-height:250px;">
									<ul class="clearing-thumbs">
										<li ng-repeat="photo in _property.ths">
											<a class="th" ng-href="https://www.arrendamientosayura.com{{ _property.photos[$index] }}" data-lightbox="prop">
												<img ng-src="https://www.arrendamientosayura.com{{ photo }}">
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="">


							</div>
							<div class="row" style="background-color: #ffffff; padding-top: 10px;">

								<div class="large-12 medium-12 small-12  columns columns" style="min-height:250px;">
									<ul class="clearing-thumbs">
										<li ng-repeat="photo in _property.photos360">
											<a class="th" ng-click="panorama($event,'https://www.arrendamientosayura.com'+photo)" data-reveal-id="myModal" style='background-image: url("https://www.arrendamientosayura.com{{photo}}");'>
												<img ng-src="https://www.arrendamientosayura.com{{photo}}" alt="" width="100">
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div id="myModal" class="reveal-modal" style="max-width: 980px; width: 100%; margin-left:-490px;" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
								<a style="font-size: 2.5rem; "  class="close-reveal-modal" aria-label="Close">&#215;</a>
								<div id="js-panorama"></div>

							</div>
						</div>


					</div>
				</div>


				<!-- Footer -->

				<div class="row" id="datos" ng-hide="webView">
					<div class="large-12 medium-12  1columns panel">
						<div class="row">
							<div class="large-4 medium-4        medium-4 columns">
								<label class="left inline" style="color: #3e4095">Teléfono: +574 2766856</label>
							</div>
							<div class="large-5 medium-5 columns text-center" style="color: #3e4095">
								<label class="left inline" style="color: #3e4095">Correo:
									<a href="mailto:arrendaayura@une.net.co ">arrendaayura@une.net.co </a>
								</label>
							</div>
							<div class="large-3 medium-3 columns" style="color: #3e4095">
								<label class="left inline" style="color: #3e4095">S&iacute;guenos:
									<a href="http://www.facebook.com/arrendamientos.ayura">
										<i class="fa fa-facebook-square fa-lg"></i>
									</a>&nbsp;
									<a href="http://www.twitter.com/arrendaayura">
										<i class="fa fa-twitter-square fa-lg"></i>
									</a>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="small-4 columns">
								<label class="left inline" style="color: #3e4095">Celular: 3106062560 - 3218300846</label>
							</div>
							<div class="small-8 columns">
								<label class="left inline" style="color: #3e4095">Dirección: Calle. 37 Sur No. 41 - 26 Segundo Piso. Envigado, Antioquia, Colombia.
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row" ng-hide="webView">
				<div class="large-12 medium-12      columns text-center">
					<p>© Copyright 2013
						<a href="http://www.arrendamientosayura.com/">Arrendamientos Ayurá</a>. Todos los derechos reservados.</p>
				</div>
			</div>
			<!-- End Footer -->
			<div id="news-modals" class="reveal-modal small news-modals" data-reveal>
				<div class="news-container">
					<div class="news-container__wrapper">
						<img src="images/OFICINA_NAVIDAD.jpg" alt="">
						<p class="news-container__info">
							A PARTIR DEL MARTES 9 DE DIC SE PRESTARÁ SERVICIO EN EL SIGUIENTE HORARIO DE 8:00AM A 12:30 Y DE 1:00 A 4:30 PM Y SABADOS
							DE 8:00 AM A 1:30 PM</p>
					</div>
				</div>
				<a class="close-reveal-modal">&#215;</a>
			</div>
		</div>
	</div>
	<div ng-hide="true">
		<a class="intro_link" href="../gallery/intro.png" data-lightbox="intro"></a>
	</div>

	<script src="foundation/js/vendor/jquery.js"></script>
	<script src="foundation/js/foundation.min.js"></script>
	<script src="js/lightbox.min.js"></script>
	<script src="js/vendor/swiper.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js"></script>
	<script src="js/services.js"></script>
	<script src="js/app.js"></script>
	<!-- External library -->
	<script src="js/vendor/src/three.min.js"></script>
	<script src="js/vendor/src/D.min.js"></script>
	<script src="js/vendor/src/uevent.min.js"></script>
	<script src="js/vendor/src/doT.min.js"></script>

	<!-- External library, but included in the build -->
	<script src="js/vendor/src/sphoords.js"></script>

	<!-- Photo Sphere Viewer files -->
	<script src="js/vendor/src/PhotoSphereViewer.js"></script>
	<script>
				 $(document).ready(function () {
					 $(document).foundation();
					 // setTimeout(function(){ $('#news-modals').foundation('reveal', 'open');}, 1000);
					 $('div#badges').show();
					 $('div#badges').addClass("orbit");
				 });

				 String.prototype.endsWith = function (s) {
					 return this.length >= s.length && this.substr(this.length - s.length) == s;
				 };

				 var doc = document.documentElement;
				 doc.setAttribute('data-useragent', navigator.userAgent);
	</script>
	<script>
				 (function (i, s, o, g, r, a, m) {
					 i['GoogleAnalyticsObject'] = r;
					 i[r] = i[r] || function () {
						 (i[r].q = i[r].q || []).push(arguments)
					 }, i[r].l = 1 * new Date();
					 a = s.createElement(o),
						 m = s.getElementsByTagName(o)[0];
					 a.async = 1;
					 a.src = g;
					 m.parentNode.insertBefore(a, m)
				 })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
				 ga('create', 'UA-46641718-1', 'arrendamientosayura.com');
				 ga('send', 'pageview');
	</script>
	<div id="fb-root"></div>
	<script>
				 (function (d, s, id) {
					 var js, fjs = d.getElementsByTagName(s)[0];
					 if (d.getElementById(id)) return;
					 js = d.createElement(s);
					 js.id = id;
					 js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=1388457928072182";
					 fjs.parentNode.insertBefore(js, fjs);
				 }(document, 'script', 'facebook-jssdk'));
	</script>
	<!--Start of Zendesk Chat Script-->
	<script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
            d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
            $.src="https://v2.zopim.com/?5uZlJOXYEyqrIw5AhQe2pvHpxdtoWRqj";z.t=+new Date;$.
                type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
	</script>
	<!--End of Zendesk Chat Script-->
</body>

</html>