<!doctype html>
<html ng-app="adminAyuraTenant">

<head>
    <meta charset="utf-8" />
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="lyQKJ3wdhkP4awS7h0wxwP3klm2KgfZtIbo6qsxnUPw" />
    <title>Cosulta de Contratos | Arrendamientos Ayurá</title>
    <meta name="description" content="Busca tu Inmueble para Venta o Arriendo en Envigado, Medellín, Itagüí, Sabaneta y La Estrella. Encuentra Apartamentos, Casas, Locales, Fincas y Lotes"
    />
    <meta name="keywords" content="arriendo, arriendo Apartamento Envigado, arrendamientos Envigado, Arrendamientos Sabaneta, venta de inmuebles, arrendamiento inmueble, envigado, propiedad raiz, arrendamientos, avaluos,tramites inmobiliarios, propiedad raiz en medellin, arriendo sabaneta,arriendo medellin,arrendamientos+medellin, arrendamientos+sabaneta, arrendamientos+envigado">
    <meta name="author" content="SOCOBOX SAS - www.socobox.co" />
    <link rel="canonical" href="http://www.arrendamientosayura.com" />
    <meta property="og:title" content="Arrendamientos Ayurá" />
    <meta property="og:description" content="Busca tu Inmueble para Venta o Arriendo en Envigado, Medellín, Itagüí, Sabaneta, y La Estrella. Encuentra Apartamentos, Casas, Locales, Fincas y Lotes"
    />

    <link href="font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="foundation/css/foundation.css" />
    <link rel="stylesheet" href="css/flexslider.css" type="text/css">
    <link href="css/lightbox.css" rel="stylesheet" />
    <link rel="stylesheet" href="js/datepicker/f-datepicker.css">
    <link rel="stylesheet" href="css/angucomplete.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="foundation/js/modernizr.js"></script>
    <style>
        .ng-cloak {
            display: none;
        }

        table tr th,
        table tr td {
            padding: 0.220rem 0.225rem;
            font-size: 0.875rem;
            color: #222222;
        }
    </style>
</head>

<body class="ng-cloak">
    <div ng-controller="tenantCtrl">
        <header ng-class="{'main-header': view == 2}" class="clearfix">
            <h1 class="main-logo left" ng-if="view == 2">
                <a ng-href="/">
                    <img src="images/logo25Years.png" style="height: 40px" />
                </a>
            </h1>
            <nav ng-if="view == 2" class="right">
                <a ng-click="_loginForm.logOut()" class="button small mb-0">
                    <i class="fa fa-sign-out"></i> Salir
                </a>
            </nav>
            <div class="row" ng-if="view == 1">
                <div class="small-8 large-4 medium-6 text-center small-centered columns">
                    <hr>
                    <img src="images/logo25Years.png" />
                    <hr>
                </div>
            </div>
        </header>
        <div ng-if="view == 1">
            <form>
                <div class="row">
                    <div class="medium-6 large-4 column medium-centered">
                        <div class="row">
                            <div class="small-12">
                                <label>C&eacute;dula:
                                    <input type="text" ng-model="_loginForm.login" onkeydown="return numbersOnly(event);">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12">
                                <label>Contraseña:
                                    <input type="password" ng-model="_loginForm.password">
                                </label>
                            </div>
                        </div>
                        <div class="row" ng-hide="!_loginForm.errors.length">
                            <div class="small-12 column">
                                <ul class="circle">
                                    <li ng-repeat="e in _loginForm.errors">
                                        <label>{{ e}}</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12">
                                <button class="small" ng-click="_loginForm.doLogin()">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="small-8 large-4 medium-6 text-center small-centered columns">
                    <img src="images/corazon.png" />
                </div>
            </div>
        </div>
        <div ng-if="view == 2">
            <h2 class="text-center">
                <small>Sus Contratos</small>
            </h2>
            <div class="row">
                <table class="small-12">
                    <thead>
                        <tr>
                            <th class="small-3 text-center">Contrato</th>
                            <th class="text-center">Cons. Propiedad</th>
                            <th class="small-3 text-center">Propietario</th>
                            <th class="small-3 text-center">CC. Propietario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contract in contracts" ng-class="{'selected': contractIdSelected == contract.id}" ng-click="contract.selected()"
                            class="pointer">
                            <td class="text-center">{{contract.contract}}</td>
                            <td class="text-center">#{{contract.propiedad}}</td>
                            <td>{{contract.owner}}</td>
                            <td class="text-center">{{contract.ownerId}}</td>
                        </tr>
                        <tr ng-show="contracts.length==0">
                            <td colspan="6" class="text-center">
                                <p>No se ha encontrado ningún contrato para este propietario</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <hr>
                <div class="medium-12 columns">
                    <div class="block-tab">
                        <div class="clearfix">
                            <div class="block-tab__tab" ng-click="tabActive = true" ng-class="{active: tabActive}">
                                Documentos
                            </div>
                        </div>
                        <div class="block-tab__content">
                            <div class="row collapse">
                                <div class="content" ng-show="tabActive" style="min-height: 350px;">
                                    <div class="row">
                                        <!-- ng-class="{'medium-6 content-right':docType_name?true:false}" -->
                                        <div class="columns">
                                            <div class="row">
                                                <a ng-click="levelUp();" class="button tiny expand" ng-show="nav" style="padding-right: 16px">
                                                    {{docType_name}}
                                                    <i class="fa fa-level-up fa-lg"></i>
                                                </a>
                                            </div>
                                            <div class="row">
                                                <ul class="small-block-grid-2 medium-block-grid-4 text-center">
                                                    <li ng-repeat="item in collection">
                                                        <div ng-switch="item.metadataInfo.ICON_TYPE">
                                                            <div ng-switch-when="Folder">
                                                                <a ng-click="item.action($event)" class="item pointer">
                                                                    <div class="item__icon" style="pointer-events: none;">
                                                                        <i class="fa-2x fa fa-{{item.type}}"></i>
                                                                    </div>
                                                                    <span class="item__caption" style="pointer-events: none;">
                                                                        {{item.name}}
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div ng-switch-when="Document">
                                                                <a class="item pointer" data-dropdown="content{{item.metadataInfo.ID}}">
                                                                    <div class="item__icon" style="pointer-events: none;">
                                                                        <i class="fa-2x fa fa-{{item.type}}"></i>
                                                                    </div>
                                                                    <span class="item__caption" style="pointer-events: none;">
                                                                        {{item.name}}
                                                                    </span>
                                                                </a>
                                                                <div id="content{{item.metadataInfo.ID}}" class="f-dropdown content small" data-dropdown-content>
                                                                    <a ng-href="{{item.metadataInfo.CONTENT_PATH}}" class="button tiny" data-lightbox="image-items" ng-if="item.metadataInfo.isImage">
                                                                        <i class="item-icon fa fa-camera"></i>
                                                                    </a>
                                                                    <a ng-href="{{item.metadataInfo.CONTENT_PATH}}" targe="_blank" class="button tiny">
                                                                        <i class="item-icon fa fa-cloud-download"></i>
                                                                    </a>
                                                                    <a href="javascript:alert('muy pronto')" class="button tiny">
                                                                        <i class="item-icon fa fa-share-square-o"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="medium-8 column medium-centered">
                                                    <div class="text-center" ng-if="sw">
                                                        <img data-loading style="height: 16px;" src="images/spinner2-bluey.gif" alt="" />
                                                    </div>
                                                    <p class="text-center" ng-if="collection.length==0 && !sw">
                                                        No se han entrado Documentos Existentes
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="false" class="medium-6 columns content-left">
                                            <form ng-show="docType">
                                                <div class="row">
                                                    <div class="medium-6 column">
                                                        <label>Subir Documentos:</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="medium-5 columns">
                                                        <div class="button tiny button-file">
                                                            Selecione los Archivos
                                                            <input type="file" file-upload multiple>
                                                        </div>
                                                        <div dropzone class="dropzone">Arrastre sus
                                                            <br> archivos ac&aacute;</div>
                                                    </div>
                                                    <div class="medium-7 columns">
                                                        <button class="tiny right" ng-show="files.length>0 || filesSend.length>0" ng-disabled="files.length==0" ng-click="save()">
                                                            Subir
                                                        </button>
                                                        <table ng-show="files.length>0 || filesSend.length>0" class="small-12">
                                                            <thead>
                                                                <tr>
                                                                    <th>Documento</th>
                                                                    <th class="medium-5">Estado</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="file in filesSend">
                                                                    <td>
                                                                        {{file.name}}
                                                                    </td>
                                                                    <td>
                                                                        <div class="progress mb-0" ng-class="{success: file.upload, alert: file.error}">
                                                                            <img ng-show="!file.status" src="img/progress-bar.gif" alt="loading bar">
                                                                            <span class="meter info-error" ng-show="file.status">
                                                                                <span ng-show="file.error" class="pointer" ng-click="showErrors()">
                                                                                    Error!
                                                                                </span>
                                                                                <span ng-show="file.upload">
                                                                                    Completado!
                                                                                </span>
                                                                            </span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-repeat="file in files">
                                                                    <td>{{file.name}}</td>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="!sw">
                                        <div class="medium-4 small-3 small-centered columns">
                                            <div class="pagination-centered" ng-show="mainTotalPages>1">
                                                <ul class="pagination">
                                                    <li class="current pointer" ng-show="mainPage>1">
                                                        <a class="pointer" ng-click="prevMain();">
                                                            <i class="fa fa-arrow-left"></i>
                                                        </a>
                                                    </li>
                                                    <li class="current">P&aacute;gina:&nbsp;{{ mainPage }}</li>
                                                    <li>de</li>
                                                    <li>{{ mainTotalPages }}</li>
                                                    <li class="current pointer" ng-show="mainPage<mainTotalPages">
                                                        <a class="pointer" ng-click="nextMain();">
                                                            <i class="fa fa-arrow-right"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="foundation/js/vendor/jquery.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="foundation/js/foundation.min.js"></script>
    <script src="js/datepicker/f-datepicker.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-cookies.js"></script>
    <script src="js/angucomplete.js"></script>
    <script src="js/services.js"></script>
    <script src="js/tenantApp.js"></script>
    <script>
        function numbersOnly(e) {
            var keyCode = e.which; // Capture the event
            //190 is the key code of decimal if you dont want decimals remove this condition keyCode != 190
            if (keyCode != 8 && keyCode != 9 && keyCode != 13 && keyCode != 37 && keyCode != 38 && keyCode != 39 && keyCode != 40 && keyCode != 46 && keyCode != 110 && keyCode != 190) {
                if (keyCode < 48) {
                    e.preventDefault();
                } else if (keyCode > 57 && keyCode < 96) {
                    e.preventDefault();
                } else if (keyCode > 105) {
                    e.preventDefault();
                }
            }
        }
        ;
    </script>
    <script>
        $(document).foundation();

        $(function () {
            $(".date").fdatepicker({ language: "es" });
        });

        String.prototype.endsWith = function (s) {
            return this.length >= s.length && this.substr(this.length - s.length) == s;
        };

        var doc = document.documentElement;
        doc.setAttribute('data-useragent', navigator.userAgent);
    </script>

    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
            d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
            $.src="https://v2.zopim.com/?5uZlJOXYEyqrIw5AhQe2pvHpxdtoWRqj";z.t=+new Date;$.
                type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zendesk Chat Script-->
</body>

</html>