<!doctype html>
<html class="no-js" lang="es-CO" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)"
      ng-app="mainApp">
<head>
    <meta charset="utf-8"/>
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-site-verification" content="lyQKJ3wdhkP4awS7h0wxwP3klm2KgfZtIbo6qsxnUPw" />
    <title>Quiénes Somos | Arrendamientos Ayurá</title>
    <meta name="description"
          content="Busca tu Inmueble para Venta o Arriendo en Envigado, Medellín, Itagüí, Sabaneta y La Estrella. Encuentra Apartamentos, Casas, Locales, Fincas y Lotes"/>
    <meta name="keywords" content="arriendo, arriendo Apartamento Envigado, arrendamientos Envigado, Arrendamientos Sabaneta, venta de inmuebles, arrendamiento inmueble, envigado, propiedad raiz, arrendamientos, avaluos,tramites inmobiliarios, propiedad raiz en medellin, arriendo sabaneta,arriendo medellin,arrendamientos+medellin, arrendamientos+sabaneta, arrendamientos+envigado">
    <meta name="author" content="SOCOBOX SAS - www.socobox.co"/>
    <link rel="canonical" href="http://www.arrendamientosayura.com" />
    <meta property="og:title" content="Arrendamientos Ayurá"/>
    <meta property="og:description" content="Busca tu Inmueble para Venta o Arriendo en Envigado, Medellín, Itagüí, Sabaneta, y La Estrella. Encuentra Apartamentos, Casas, Locales, Fincas y Lotes"/>

    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <link href="font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="foundation/css/foundation.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script src="foundation/js/modernizr.js"></script>
</head>
<body ng-controller="MainCtrl" style="background-color: lightgray;">
<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
    _atrk_opts = { atrk_acct:"o3y1j1a4ZP00O/", domain:"arrendamientosayura.com",dynamic: true};
    (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=o3y1j1a4ZP00O/" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->

<div class="row" style="background-color: #ffffff;">
<div class="large-12 medium-12      columns">
<!-- Navigation -->

<div class="row">
    <div class="large-12 medium-12      columns">
        <div class="row">
            <div class="large-6 medium-6  small-12 columns">

                <a href="#" style="padding-left: 10px;">
                    <img style="{{styleLogo}}" ng-src="{{logo}}" alt="Home">
                </a>
            </div>
            <div id="badges" class="large-6 medium-6         medium-6      medium-6 hide-for-small columns"
                 style="display: none;">
                <ul class="example-orbit" data-orbit
                    data-options="navigation_arrows: false;pause_on_hover: false;slide_number: false;bullets:false;animation_speed:777;timer_speed: 3000;">
                    <li>
                        <img src="images/badges/la-lonja-antioquia.png" alt="slide 1"
                             style="margin-left: auto;margin-right: auto;"/>
                    </li>
                    <li>
                        <img src="images/badges/libertador.png" alt="slide 1"
                             style="margin-left: auto;margin-right: auto;"/>

                    </li>
                    <li>
                        <img src="images/badges/lonjaPropRaiz.jpeg" alt="slide 1"
                             style="margin-left: auto;margin-right: auto;"/>
                    </li>

                    <li>
                        <img src="images/badges/socio-data-credito.png" alt="slide 1"
                             style="margin-left: auto;margin-right: auto;"/>

                    </li>
                    <li>
                        <img src="images/badges/suramericana.jpg" alt="slide 1"
                             style="margin-left: auto;margin-right: auto;"/>

                    </li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="large-12 medium-12 columns hide-for-small text-center">
                <h2 style="margin-top: 0;margin-bottom: 0;">
                    <small>Nuestro lema es servirle cada vez mejor con experiencia, cumplimiento y calidad en el
                        servicio
                    </small>
                </h2>
            </div>
        </div>
        <div class="row" id="results">
            <div class="large-12 medium-12   columns">
                <nav class="top-bar" data-topbar>
                    <ul class="title-area">
                        <!-- Title Area -->

                        <li class="name">
                        </li>

                        <li class="toggle-topbar menu-icon">
                            <a href="#"><span></span></a>
                        </li>
                    </ul>

                    <section class="top-bar-section">
                      <!-- Right Nav Section -->

                      <ul class="right">
                        <li class="divider"></li>
                        <li>
                          <a href="/"><i class="fa fa-home"></i>&nbsp;Inicio</a>
                        </li>
                        <li>
                          <a href="quienesSomos.html"><i
                              class="fa fa-users"></i>&nbsp;Qui&eacute;nes&nbsp;Somos</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <a href="servicios.html"><i class="fa fa-flag"></i>&nbsp;Servicios</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <a href="requisitos.html"><i class="fa fa-check-square"></i>&nbsp;Requisitos</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <a href="contactenos.html"><i class="fa fa-phone-square"></i>&nbsp;Cont&aacute;ctenos</a>
                        </li>
                        <li class="divider"></li>
                        <li class="has-dropdown">
                          <a href="#"><i class="fa fa-sign-in"></i>&nbsp;Ingresos</a>
                          <ul class="dropdown">
                            <li>
                              <a href="contratos.html"><i class="fa fa-search"></i>&nbsp;Propietario</a>
                            </li>
                            <li>
                              <a href="consultas.html"><i class="fa fa-search"></i>&nbsp;Consultar Solicitud</a>
                            </li>
                          </ul>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <a href="registrarInmueble.html"><i
                              class="fa fa-building-o"></i>&nbsp;Registrar&nbsp;Inmueble</a>
                        </li>
                      </ul>
                    </section>
                </nav>
                <!-- End Top Bar -->
            </div>
        </div>
    </div>
</div>
<!-- End Navigation -->
<div class="row">
    <div  class="large-6 medium-6         medium-6     columns" style="text-align: center;">
        <br>
 <img src="images/quienesSomosImagen.jpg"/>
         
    </div>
     <div class="large-6 medium-6         medium-6     columns">
        

         
             
         <h5 class="subheader">Reseña Histórica</h5>
         <p style="font-size: 0.9em;text-align:justify; text-justify: inter-word;">
             
ARRENDAMIENTOS AYURA S.A. Fue fundada el 19 de octubre de 1.988 mediante escritura pública Nº 0004558 de la notaria 18 de Medellín, con domicilio en el municipio de Envigado. Además cuenta con el respaldo de la lonja de propiedad raíz de Medellín y Antioquia, lonja de Antioquia.
  </p>
   <h5 class="subheader">Misión</h5>
   <p style="font-size: 0.9em; text-align:justify; text-justify: inter-word; ">
Para ARRENDAMIENTOS AYURA S.A. Lo más importante es prestar a toda su clientela un servicio excelente, con gran profesionalismo. Brindar una imagen de solidez financiera y de cumplimiento en las obligaciones y deberes, tanto para arrendatarios como para propietarios.
      
        </p>   
       
    </div>
   
</div>
 <div>
       <div class="large-12 medium-12      columns">  
             <h5 class="subheader">  Visión</h5>
 <p style="font-size: 0.9em;text-align:justify; text-justify: inter-word;">
Para el año 2.020 consolidarnos como una gran empresa inmobiliaria en el sur del Valle de Aburra, con un excelente servicio al cliente. Igualmente establecer las estrategias necesarias para penetrar en el mercado nacional e internacional.



 
             
        </p>  
    </div>
     </div>
<div>
    
    
     <div class="large-12 medium-12      columns">
           <h5 class="subheader">  Valores</h5>
    <ul class="inline-list">
        <li><em>Corporativos</em></li>
  <li><em>Responsabilidad</em></li>
  <li><em>Cumplimiento </em></li>
  <li><em>Transparencia</em></li>
  <li><em>Organización</em></li>
  <li><em>Calidad en el servicio</em></li>
 </ul>
  </div>  
</div>
<!-- Footer -->

<div class="row" id="datos">
    <div class="large-12 medium-12      columns panel">
        <div class="row">
            <div class="large-4 medium-4        medium-4 columns">
                <label class="left inline" style="color: #3e4095">Teléfono: +574 2766856</label>
            </div>
            <div class="large-5 medium-5 columns text-center" style="color: #3e4095">
                <label class="left inline" style="color: #3e4095">Correo: <a href="mailto:arrendaayura@une.net.co ">arrendaayura@une.net.co </a></label>
            </div>
            <div class="large-3 medium-3 columns" style="color: #3e4095">
                <label class="left inline" style="color: #3e4095">S&iacute;guenos: <a
                        href="http://www.facebook.com/arrendamientos.ayura"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;<a
                        href="http://www.twitter.com/arrendaayura"><i
                        class="fa fa-twitter-square fa-lg"></i></a></label>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label class="left inline" style="color: #3e4095">Celular: 3106062560 - 3218300846</label>
            </div>
            <div class="small-8 columns">
                        <label class="left inline" style="color: #3e4095">Dirección: Calle. 37 Sur No. 41 - 26 Segundo Piso. Envigado, Antioquia,
                            Colombia.</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 medium-12      columns text-center">
        <p>© Copyright 2013 <a href="http://www.arrendamientosayura.com/">Arrendamientos Ayurá</a>. Todos
            los derechos reservados.</p>
    </div>
</div>
<!-- End Footer -->
</div>
</div>

<script src="foundation/js/vendor/jquery.js"></script>
<script src="foundation/js/foundation.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js"></script>

<script src="js/services.js"></script>
<script src="js/app.js"></script>
<script>

  $(document).ready(function(){
    $(document).foundation();
    $('div#badges').show();
    $('div#badges').addClass("orbit");
  });


    //$(document).foundation().foundation('joyride', 'start');


    String.prototype.endsWith = function (s) {
        return this.length >= s.length && this.substr(this.length - s.length) == s;
    };

    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-46641718-1', 'arrendamientosayura.com');
    ga('send', 'pageview');

</script>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        // init the FB JS SDK
        FB.init({
            appId: '1388457928072182',                        // App ID from the app dashboard
            status: false,                                 // Check Facebook Login status
            xfbml: true                                  // Look for social plugins on the page
        });

        // Additional initialization code such as adding Event Listeners goes here
    };

    // Load the SDK asynchronously
    (function () {
        // If we've already installed the SDK, we're done
        if (document.getElementById('facebook-jssdk')) {
            return;
        }

        // Get the first script element, which we'll use to find the parent node
        var firstScriptElement = document.getElementsByTagName('script')[0];

        // Create a new script element and set its id
        var facebookJS = document.createElement('script');
        facebookJS.id = 'facebook-jssdk';

        // Set the new script's source to the source of the Facebook JS SDK
        facebookJS.src = '//connect.facebook.net/en_US/all.js';

        // Insert the Facebook JS SDK into the DOM
        firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
    }());
</script>

<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="https://v2.zopim.com/?5uZlJOXYEyqrIw5AhQe2pvHpxdtoWRqj";z.t=+new Date;$.
            type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
</body>
</html>