<!doctype html>
<html class="no-js" lang="es-CO" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)"
			ng-app="adminayuraRegister">
<head>
		<meta charset="utf-8"/>
		<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="google-site-verification" content="lyQKJ3wdhkP4awS7h0wxwP3klm2KgfZtIbo6qsxnUPw" />
		<title>Registrar Inmueble | Arrendamientos Ayurá</title>
		<meta name="description"
					content="Busca tu Inmueble para Venta o Arriendo en Envigado, Medellín, Itagüí, Sabaneta y La Estrella. Encuentra Apartamentos, Casas, Locales, Fincas y Lotes"/>
		<meta name="keywords" content="arriendo, arriendo Apartamento Envigado, arrendamientos Envigado, Arrendamientos Sabaneta, venta de inmuebles, arrendamiento inmueble, envigado, propiedad raiz, arrendamientos, avaluos,tramites inmobiliarios, propiedad raiz en medellin, arriendo sabaneta,arriendo medellin,arrendamientos+medellin, arrendamientos+sabaneta, arrendamientos+envigado">
		<meta name="author" content="SOCOBOX SAS - www.socobox.co"/>
		<link rel="canonical" href="http://www.arrendamientosayura.com" />
		<meta property="og:title" content="Arrendamientos Ayurá"/>
		<meta property="og:description" content="Busca tu Inmueble para Venta o Arriendo en Envigado, Medellín, Itagüí, Sabaneta, y La Estrella. Encuentra Apartamentos, Casas, Locales, Fincas y Lotes"/>

		<link rel="shortcut icon" href="assets/img/favicon.ico">
		<link href="font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="foundation/css/foundation.css"/>
		<link rel="stylesheet" href="css/main.css"/>

		<script src="foundation/js/modernizr.js"></script>
</head>
<body ng-controller="registerCtrl" style="background-color: lightgray;">
<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
		_atrk_opts = { atrk_acct:"o3y1j1a4ZP00O/", domain:"arrendamientosayura.com",dynamic: true};
		(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=o3y1j1a4ZP00O/" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->

<div class="row" style="background-color: #ffffff;">
<div class="large-12 medium-12     columns">
<!-- Navigation -->

	<div class="row">
		<div class="large-12 medium-12 columns">
			<div class="row">
					<div class="large-6 medium-6  small-12 columns">
						<a href="/">
							<img style="{{styleLogo}}" ng-src="{{logo}}" alt="Home">
						</a>
					</div>
					<div id="badges" class="large-6 medium-6 hide-for-small columns" style="display: none;">
							<ul class="example-orbit" data-orbit
									data-options="navigation_arrows: false;pause_on_hover: false;slide_number: false;bullets:false;animation_speed:777;timer_speed: 3000;">
									<li>
											<img src="images/badges/la-lonja-antioquia.png" alt="slide 1"
													 style="margin-left: auto;margin-right: auto;"/>
									</li>
									<li>
											<img src="images/badges/libertador.png" alt="slide 1"
													 style="margin-left: auto;margin-right: auto;"/>

									</li>
									<li>
											<img src="images/badges/lonjaPropRaiz.jpeg" alt="slide 1"
													 style="margin-left: auto;margin-right: auto;"/>
									</li>

									<li>
											<img src="images/badges/socio-data-credito.png" alt="slide 1"
													 style="margin-left: auto;margin-right: auto;"/>

									</li>
									<li>
											<img src="images/badges/suramericana.jpg" alt="slide 1"
													 style="margin-left: auto;margin-right: auto;"/>

									</li>
							</ul>
					</div>
			</div>
			<div class="row">
				<div class="large-12 medium-12 columns hide-for-small text-center">
					<h2 style="margin-top: 0;margin-bottom: 0;">
						<small>Nuestro lema es servirle cada vez mejor con experiencia, cumplimiento y calidad en el
								servicio
						</small>
					</h2>
				</div>
			</div>
			<div class="row" id="results">
				<div class="">
					<nav class="top-bar" data-topbar>
						<ul class="title-area">
							<li class="name">
							</li>

							<li class="toggle-topbar menu-icon">
								<a href="#"><span></span></a>
							</li>
						</ul>

						<section class="top-bar-section">
							<!-- Right Nav Section -->

							<ul class="right">
								<li class="divider"></li>
								<li>
									<a href="/"><i class="fa fa-home"></i>&nbsp;Inicio</a>
								</li>
								<li>
									<a href="quienesSomos.html"><i
											class="fa fa-users"></i>&nbsp;Qui&eacute;nes&nbsp;Somos</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="servicios.html"><i class="fa fa-flag"></i>&nbsp;Servicios</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="requisitos.html"><i class="fa fa-check-square"></i>&nbsp;Requisitos</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="contactenos.html"><i class="fa fa-phone-square"></i>&nbsp;Cont&aacute;ctenos</a>
								</li>
								<li class="divider"></li>
								<li class="has-dropdown">
									<a href="#"><i class="fa fa-sign-in"></i>&nbsp;Ingresos</a>
									<ul class="dropdown">
										<li>
											<a href="contratos.html"><i class="fa fa-search"></i>&nbsp;Propietario</a>
										</li>
										<li>
											<a href="consultas.html"><i class="fa fa-search"></i>&nbsp;Consultar Solicitud</a>
										</li>
									</ul>
								</li>
								<li class="divider"></li>
								<li>
									<a href="registrarInmueble.html"><i
											class="fa fa-building-o"></i>&nbsp;Registrar&nbsp;Inmueble</a>
								</li>
							</ul>
						</section>
					</nav>
					<!-- End Top Bar -->
				</div>
			</div>
		</div>
	</div>
<!-- End Navigation -->
	<h4 class="subheader">Registro de Inmueble</h4>
	<div class="row panel">

		<div  class="medium-4 columns">
				<div class="row">
				<div class="large-12 medium-12     columns"> 
					<label class="bold color-black" >Nombre</label>
					<div class="row">
						<div class="large-12 medium-12        columns"> 							
							<input type="text" class="js-type-text js-required" id="nombre" ng-model="nombre" required/>
						</div>
							 
					</div>
				</div>
			</div>
			
				<div class="row">
					<div class="column"> 
						<label class="bold color-black" >Tipo de servicio</label>
						<select class="js-type-select" id="tipoServicio" onchange="javascript:cambioTipoServicio()" ng-init="tipoServicio = 'arrendamiento'" ng-model="tipoServicio">
							<option id="arrendamiento" value="arrendamiento">Arrendamiento</option>
							<option id="venta" value="venta">Venta</option>

						</select>
					</div>
				</div>

				<div class="row">
					<div class="large-12 medium-12     columns"> 
						<label class="bold color-black" >Propietario</label>
						<div class="row">
							<div class="large-12 medium-12        columns"> 							
								<input type="text" class="js-type-text" id="propietario" ng-model="propietario"/>
							</div>
								 
						</div>
					</div>
				</div>
				<div class="row">
					<div class="column">
						<label class="bold color-black" >Dirección</label>
						<textarea name="" class="js-type-text" id="direccion" rows="3" ng-model="direccion"></textarea>
					</div>
				</div>
				
		</div>
		<div  class="medium-4 columns">
			<div class="row">
				<div class="large-12 medium-12     columns"> 
					<label class="bold color-black" >Telefono</label>
					<div class="row">
						<div class="large-12 medium-12        columns"> 							
							<input type="text" class="js-type-text js-required" id="telefono" ng-model="telefono" required/>
						</div>
							 
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-12 medium-12     columns"> 
					<label class="bold color-black" >Teléfono Propietario</label>
					<div class="row">
						<div class="large-12 medium-12        columns"> 
							<input type="text" class="js-type-text" id="telefonoPropietario" ng-model="telefonoPropietario" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-12 medium-12 columns">
					<label class="bold color-black" >Tipo de Propiedad</label>
					<select class="js-type-select" id="tipoPropiedad" ng-model="tipoPropiedad">
						<option value="apartaestudios">Apartaestudios</option>
						<option value="apartamento">Apartamento</option>
						<option value="casa">Casa</option>
						<option value="casalocal">Casa-Local</option>
						<option value="finca">Finca</option>
						<option value="local">Local</option>
						<option value="oficina">Oficina</option>
						<option value="oficinaconsultorio">Oficina-Consultorio</option>
						<option value="parqueadero">Parqueadero</option>
						<option value="terreno">Terreno</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="large-12 medium-12     columns"> 
					<label class="bold color-black" >Barrio</label>
					<input type="text" class="js-type-text" id="barrio" ng-model="barrio"/>
				</div>
			</div>
		</div>
		<div  class="medium-4 columns">
			<div class="row">
				<div class="large-12 medium-12     columns"> 
					<label class="bold color-black" >Email</label>
					<div class="row">
						<div class="large-12 medium-12        columns"> 							
							<input type="text" class="js-type-text js-required email" id="email" ng-model="email" required/>
						</div>
							 
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-12 medium-12  columns">
				 	<label class="bold color-black" >Precio</label>
					<input type="text" class="js-type-text" id='precioInmueble' ng-model="precioInmueble"/>
				</div>
		 	</div>
		 	<div class="row">
				<div class="large-12 medium-12     columns"> 
					<label class="bold color-black" >Área (mts)</label>
					<input type="text" class="js-type-text" id="area" ng-model="area" />
				</div>
			</div>
			<div class="row">
				<div class="large-12 medium-12     columns">
					<label class="bold color-black" >Estrato</label>
					<select class="js-type-select" id="estrato" ng-model="estrato">
						<option value="e1">1</option>
						<option value="e2">2</option>
						<option value="e3">3</option>
						<option value="e4">4</option>
						<option value="e5">5</option>
						<option value="e6">6</option>
						<option value="e7">7</option>
					</select>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div  class="large-12 medium-12     columns" style="background-color: #3e4095; ">
			<h5 class="subheader" style="color: white;margin-left:auto;margin-right: auto;background-color: #3e4095; ">Características del Inmueble</h5>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="row panel">
				<div  class="medium-12 columns">
					<div class="row" ng-cloack>
						<div ng-repeat="o in options"  class="medium-3 small-6 small-uncentered columns">
							<input type="checkbox" class="js-type-check" id="{{o.label}}" ng-model="o['model']">
							<label class="bold color-black" for="{{o.label}}">{{o.label}}</label>
						</div>
						<div  class="medium-3 small-6 small-uncentered columns">
							<input type="checkbox" class="js-type-check" id="unidadCerrada" ng-model="unidadCerrada" onclick="javascript:validarUnidadCerrada();">
							<label class="bold color-black"  for="unidadCerrada">Unidad Cerrada:</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row panel" id='valoresUnidadCerrada' hidden>
				<div class="medium-6 columns">
					<div class="row">
						<div  class="large-4 medium-4 columns" style="text-align: left">
							<label class="bold color-black" >Nombre Unidad:</label>
						</div>
						<div  class="large-8 medium-8        columns" style="text-align: center">
							<input type="text" class="js-type-text" id="nombreUnidad" ng-model="nombreUnidad" style="height: 2em;"/>
						</div>
					</div>
					<div id='valorAdministracion' hidden>
						<div class="row">  
							<div  class="large-4 medium-4        columns" style="text-align: left">
								<label class="bold color-black" >Valor Admon:</label>
							</div>
							<div  class="large-8 medium-8        columns" style="text-align: center">
								<input type="text" class="js-type-text" id="valorAdmon" ng-model="valorAdmon" style="height: 2em;"/>
							</div>
						</div>
					</div>
				</div>
				<div class="medium-6 columns">
					<div ng-repeat="o in unidadCerradaOptions"  class="medium-6 medium-uncentered columns">
						<input type="checkbox" class="js-type-check" id="{{o.label}}" ng-model="o['model']">
						<label class="bold color-black" for="{{o.label}}">{{o.label}}</label>
					</div>
				</div>
			</div>
			<div class="row panel">
				<div class="medium-4 columns">
					<label class="bold color-black" >N. Alcobas:</label> 
					<input type="text" class="js-type-text" id="numeroalcobas" ng-model="numeroAlcobas"/>
				</div>
				<div class="medium-4 columns">
					<label class="bold color-black" >N. Closets :</label>
					<input type="text" class="js-type-text" id="numeroclosets" ng-model="numeroClosets"/>
				</div>
				<div class="medium-4 columns">
					<label class="bold color-black" >N. Baños:</label> 
					<input type="text" class="js-type-text" id="numerobanos" ng-model="numeroBanos"/>
				</div>
				<div class="medium-4 columns">
					<label class="bold color-black" >Cocina:</label> 
					<select class="js-type-select" id="cocina" ng-model="cocina">
						<option value="">Seleccionar</option>
						<option value="0">Integral</option>
						<option value="1">Cocineta Sencilla</option>
						<option value="2">Semi-Integral</option>
						<option value="3">Integral Mixta</option>
						<option value="4">Sin cocina</option></select>
				</div>
				<div class="medium-4 columns">
					<label class="bold color-black" >Gas:</label> 
					<select class="js-type-select" ng-model="gas">
						<option value="">Selecionar</option>
						<option value="Red">Red</option>
						<option value="Ninguna">Ninguna</option>
						<option value="Pipeta">Pipeta</option>
					</select>
					
				</div>
				<div class="medium-4 columns" ng-show="parqueadero">
					<label class="bold color-black" >N. Garajes:</label> 
					<input type="text" class="js-type-text" id="numgarajes" ng-model="numGarajes"/>
				</div>
				<div class="medium-4 columns">
					<label class="bold color-black" >Pisos:</label> 
					<input type="text" class="js-type-text" id="pisos" ng-model="pisos"/>
				</div>
				<div class="medium-4 columns">
					<label class="bold color-black" >Nivel #:</label> 
					<input type="text" class="js-type-text" id="numNivel" ng-model="numNivel"/>
				</div>
				<div class="medium-4 columns">
					<label class="bold color-black" >Tipo Inmueble:</label> 
					<select class="js-type-select" id="tipoInmueble" ng-model="tipoInmueble">
						<option value="ininmueble">Independiente</option>
						<option value="induplex">Duplex</option>
						<option value="inbifamiliar">Bifamiliar</option>
						<option value="inunifamiliar">Unifamiliar</option>
						<option value="intriplex">Triplex</option>
					</select>
				</div>
				<div class="medium-4 medium-uncentered columns">
					<label class="bold color-black" >N. Patios:</label> 
					<input type="text" class="js-type-text" id="numPatios" ng-model="numPatios"/>
				</div>
				<div class="large-12 column">
					<button class="btn btn-primary" ng-click="sendData()">Enviar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row panel">
	
	</div>
</div>
</div>

<!-- Footer -->

<div class="row" id="datos">
		<div class="large-12 medium-12     columns panel">
				<div class="row">
						<div class="large-4 medium-4        medium-4 columns">
								<label class="left inline" style="color: #3e4095">Teléfono: +574 2766856</label>
						</div>
						<div class="large-5 medium-5 columns text-center" style="color: #3e4095">
								<label class="left inline" style="color: #3e4095">Correo: <a href="mailto:arrendaayura@une.net.co ">arrendaayura@une.net.co </a></label>
						</div>
						<div class="large-3 medium-3 columns" style="color: #3e4095">
								<label class="left inline" style="color: #3e4095">S&iacute;guenos: <a
												href="http://www.facebook.com/arrendamientos.ayura"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;<a
												href="http://www.twitter.com/arrendaayura"><i
												class="fa fa-twitter-square fa-lg"></i></a></label>
						</div>
				</div>
				<div class="row">
						<div class="small-4 columns">
								<label class="left inline" style="color: #3e4095">Celular: 3106062560 - 3218300846</label>
						</div>
						<div class="small-8 columns">
												<label class="left inline" style="color: #3e4095">Dirección: Calle. 37 Sur No. 41 - 26 Segundo Piso. Envigado, Antioquia,
														Colombia.</label>
								</div>
						</div>
				</div>
		</div>
 

<div class="row">
		<div class="large-12 medium-12     columns text-center">
				<p>© Copyright 2013 <a href="http://www.arrendamientosayura.com/">Arrendamientos Ayurá</a>. Todos
						los derechos reservados.</p>
		</div>
</div>
<!-- End Footer -->
 
 

<script src="foundation/js/vendor/jquery.js"></script>
<script src="foundation/js/foundation.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js"></script>

<script src="js/services.js"></script>
<script src="js/registerApp.js"></script>
<script src="js/vendor/alertify.js"></script>
<script src="js/vendor/ngAlertify.js"></script>
<script>

	$(document).ready(function(){
		$(document).foundation();
		$('div#badges').show();
		$('div#badges').addClass("orbit");
	});


		//$(document).foundation().foundation('joyride', 'start');
	function validarUnidadCerrada() {
		if (document.getElementById('unidadCerrada').checked) {
			$('div#valoresUnidadCerrada').show();
		} else {
			$('div#valoresUnidadCerrada').hide();
		}
	}
	function cambioTipoServicio(){
		var tipoServicio = document.getElementById("tipoServicio");
		var strSel = tipoServicio.options[tipoServicio.selectedIndex].value;
		if (strSel=="venta") {
			$('div#valorAdministracion').show();
		}else{
			$('div#valorAdministracion').hide();
		}
	}
	String.prototype.endsWith = function (s) {
		return this.length >= s.length && this.substr(this.length - s.length) == s;
	};

	var doc = document.documentElement;
	doc.setAttribute('data-useragent', navigator.userAgent);
</script>

<script>
		(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function () {
						(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o),
								m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-46641718-1', 'arrendamientosayura.com');
		ga('send', 'pageview');

</script>
<div id="fb-root"></div>
<script>
		window.fbAsyncInit = function () {
				// init the FB JS SDK
				FB.init({
						appId: '1388457928072182',                        // App ID from the app dashboard
						status: false,                                 // Check Facebook Login status
						xfbml: true                                  // Look for social plugins on the page
				});

				// Additional initialization code such as adding Event Listeners goes here
		};

		// Load the SDK asynchronously
		(function () {
				// If we've already installed the SDK, we're done
				if (document.getElementById('facebook-jssdk')) {
						return;
				}

				// Get the first script element, which we'll use to find the parent node
				var firstScriptElement = document.getElementsByTagName('script')[0];

				// Create a new script element and set its id
				var facebookJS = document.createElement('script');
				facebookJS.id = 'facebook-jssdk';

				// Set the new script's source to the source of the Facebook JS SDK
				facebookJS.src = '//connect.facebook.net/en_US/all.js';

				// Insert the Facebook JS SDK into the DOM
				firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
		}());
</script>
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="https://v2.zopim.com/?5uZlJOXYEyqrIw5AhQe2pvHpxdtoWRqj";z.t=+new Date;$.
            type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
</body>
</html>