<!doctype html>
<html class="no-js" lang="es-CO" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)" ng-app="mainApp">
<head>
    <meta charset="utf-8"/>
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-site-verification" content="lyQKJ3wdhkP4awS7h0wxwP3klm2KgfZtIbo6qsxnUPw" />
    <title>Requisitos para Arrendar | Arrendamientos Ayurá</title>
    <meta name="description"
          content="Busca tu Inmueble para Venta o Arriendo en Envigado, Medellín, Itagüí, Sabaneta y La Estrella. Encuentra Apartamentos, Casas, Locales, Fincas y Lotes"/>
    <meta name="keywords" content="arriendo, arriendo Apartamento Envigado, arrendamientos Envigado, Arrendamientos Sabaneta, venta de inmuebles, arrendamiento inmueble, envigado, propiedad raiz, arrendamientos, avaluos,tramites inmobiliarios, propiedad raiz en medellin, arriendo sabaneta,arriendo medellin,arrendamientos+medellin, arrendamientos+sabaneta, arrendamientos+envigado">
    <meta name="author" content="SOCOBOX SAS - www.socobox.co"/>
    <link rel="canonical" href="http://www.arrendamientosayura.com" />
    <meta property="og:title" content="Arrendamientos Ayurá"/>
    <meta property="og:description" content="Busca tu Inmueble para Venta o Arriendo en Envigado, Medellín, Itagüí, Sabaneta, y La Estrella. Encuentra Apartamentos, Casas, Locales, Fincas y Lotes"/>

    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <link href="font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="foundation/css/foundation.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script src="foundation/js/modernizr.js"></script>
</head>
<body ng-controller="MainCtrl" style="background-color: lightgray;">
<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
    _atrk_opts = { atrk_acct:"o3y1j1a4ZP00O/", domain:"arrendamientosayura.com",dynamic: true};
    (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=o3y1j1a4ZP00O/" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->

<div class="row" style="background-color: #ffffff;">
<div class="large-12 medium-12      columns">
<!-- Navigation -->

<div class="row">
    <div class="large-12 medium-12      columns">
        <div class="row">
            <div class="large-6 medium-6  small-12 columns">

                <a href="#" style="padding-left: 10px;">
                    <img style="{{styleLogo}}" ng-src="{{logo}}" alt="Home">
                </a>

            </div>
            <div id="badges" class="large-6 medium-6         medium-6      medium-6 hide-for-small columns"
                 style="display: none;">
                <ul class="example-orbit" data-orbit
                    data-options="navigation_arrows: false;pause_on_hover: false;slide_number: false;bullets:false;animation_speed:777;timer_speed: 3000;">
                    <li>
                        <img src="images/badges/la-lonja-antioquia.png" alt="slide 1"
                             style="margin-left: auto;margin-right: auto;"/>
                    </li>
                    <li>
                        <img src="images/badges/libertador.png" alt="slide 1"
                             style="margin-left: auto;margin-right: auto;"/>

                    </li>
                    <li>
                        <img src="images/badges/lonjaPropRaiz.jpeg" alt="slide 1"
                             style="margin-left: auto;margin-right: auto;"/>
                    </li>

                    <li>
                        <img src="images/badges/socio-data-credito.png" alt="slide 1"
                             style="margin-left: auto;margin-right: auto;"/>

                    </li>
                    <li>
                        <img src="images/badges/suramericana.jpg" alt="slide 1"
                             style="margin-left: auto;margin-right: auto;"/>

                    </li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="large-12 medium-12 columns hide-for-small text-center">
                <h2 style="margin-top: 0;margin-bottom: 0;">
                    <small>Nuestro lema es servirle cada vez mejor con experiencia, cumplimiento y calidad en el
                        servicio
                    </small>
                </h2>
            </div>
        </div>
        <div class="row" id="results">
            <div class="large-12 medium-12   columns">
                <nav class="top-bar" data-topbar>
                    <ul class="title-area">
                        <!-- Title Area -->

                        <li class="name">
                        </li>

                        <li class="toggle-topbar menu-icon">
                            <a href="#"><span></span></a>
                        </li>
                    </ul>

                    <section class="top-bar-section">
                      <!-- Right Nav Section -->

                      <ul class="right">
                        <li class="divider"></li>
                        <li>
                          <a href="/"><i class="fa fa-home"></i>&nbsp;Inicio</a>
                        </li>
                        <li>
                          <a href="quienesSomos.html"><i
                              class="fa fa-users"></i>&nbsp;Qui&eacute;nes&nbsp;Somos</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <a href="servicios.html"><i class="fa fa-flag"></i>&nbsp;Servicios</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <a href="requisitos.html"><i class="fa fa-check-square"></i>&nbsp;Requisitos</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <a href="contactenos.html"><i class="fa fa-phone-square"></i>&nbsp;Cont&aacute;ctenos</a>
                        </li>
                        <li class="divider"></li>
                        <li class="has-dropdown">
                          <a href="#"><i class="fa fa-sign-in"></i>&nbsp;Ingresos</a>
                          <ul class="dropdown">
                            <li>
                              <a href="contratos.html"><i class="fa fa-search"></i>&nbsp;Propietario</a>
                            </li>
                            <li>
                              <a href="consultas.html"><i class="fa fa-search"></i>&nbsp;Consultar Solicitud</a>
                            </li>
                          </ul>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <a href="registrarInmueble.html"><i
                              class="fa fa-building-o"></i>&nbsp;Registrar&nbsp;Inmueble</a>
                        </li>
                      </ul>
                    </section>
                </nav>
                <!-- End Top Bar -->
            </div>
        </div>
    </div>
</div>
<!-- End Navigation -->
<div class="row">
    <div  class="large-12 medium-12      columns" style="text-align: center">
 <h4 class="subheader">Requisitos para arrendar un inmueble</h4>
    <p style="font-size: 0.8em;text-align:justify; text-justify: inter-word;"><i class="fa fa-check"></i>&nbsp;Comprar la solicitud de arrendamiento. Valor $500 y diligenciarla en su totalidad.</p>
     <p style="font-size: 0.8em;text-align:justify; text-justify: inter-word;"><i class="fa fa-check"></i>&nbsp;Cancelar $31.500 para estudio <strong>INCLUYE</strong> Certificado de libertad y estudio de Data Crédito.</p>
  </div>
   
</div>

 <div class="row">
    <div  class="large-6 medium-6         medium-6     columns" style="background-color: #3e4095; ">
         
            <h5 class="subheader" style="color: white;margin-left:auto;margin-right: auto;">DOCUMENTOS TITULAR</h5>
    <div class="panel" style="height: 20em">
      <ul class="no-bullet" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">
          <li><i class="fa fa-check"></i>&nbsp;<strong>EMPLEADO</strong>: Carta laboral, fotocopia de cédula ampliada al 200%. </li>
  <li> <i class="fa fa-check"></i>&nbsp;<strong>PENSIONADO</strong>: Colilla de pago actual, fotocopia de cédula ampliada al 200%.</li>
  <li> <i class="fa fa-check"></i>&nbsp;<strong>INDEPENDIENTE</strong>: Fotocopia de cédula ampliada al 200%, RUT, cámara de comercio, certificado de ingresos, declaración de renta y extractos bancarios.</li>
  
 
 </ul>
      </div>
    </div>
     <div class="large-6 medium-6         medium-6     columns" style="text-align: center;background-color: #3e4095;">
        
<h5 class="subheader" style="color: white;">DOCUMENTOS COARRENDATARIO</h5>
        <div class="panel" style="height: 20em">
       <ul class="no-bullet" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">
          <li><i class="fa fa-check"></i>&nbsp;<strong>COARRENDATARIO CON PROPIEDAD RAÍZ</strong>: Fotocopia de cédula ampliada al 200 %, impuesto predial y la propiedad no puede ser patrimonio o no puede tener afectación de vivienda familiar, copia de servicios públicos. Si la propiedad esta ubicada fuera del área metropolitana se firmará contrato con la aseguradora. </li>
  <li> <i class="fa fa-check"></i>&nbsp;<strong>COARRENDATARIO EMPLEADO</strong>: Carta laboral, Fotocopia cédula ampliada al 200%.</li>
  <li> <i class="fa fa-check"></i>&nbsp;<strong>COARRENDATARIO INDEPENDIENTE</strong>: Fotocopia de cédula ampliada al 200%, RUT, cámara de comercio, certificado de ingresos y extractos bancarios.</li>
  
  
 </ul>
           
      </div>
    </div>
     
    </div>
<br>
     <br>
<div class="row">
    <div class="large-8 medium-8          columns" style="text-align:justify; text-justify: inter-word;">
     
    
     <h5 class="subheader" >NOTA:</h5>
     
     <ul class="disc" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">
          <li>Ninguno de los solicitantes puede estar reportado a Data Crédito.</li>
  <li> Si alguno posee veh&iacute;culo o motocicleta debe anexar la copia de la matrícula.</li>
  <li> Anexar fotocopia de los dos últimos recibos de pago de arrendamiento.</li>
  <li> Para facilitar el estudio de su solicitud, sea preciso con sus datos.</li>
  <li> Diligenciar totalmente la solicitud con huella y firma.</li>
  
  
 </ul>
         
      <p style="font-size: 0.8em">De ser aprobada su solicitud, solo se entrega el inmueble una vez todos los contratantes hayan firmado y autenticado los documentos respectivos y cancelando canon de arrendamiento, mas el 20% de comisión, mas IVA de comisión, mas papelería.</p>
      <p style="font-size: 0.8em">Tramitar esta solicitud, no implica compromiso por parte de <strong>ARRENDAMIENTOS AYURA S.A.</strong>, de arrendar el inmueble al solicitante, consúltenos previamente sobre cualquier duda.</p>
      <p style="font-size: 0.8em">Autorizo a <strong>ARRENDAMIENTOS AYURA S.A.</strong>, para que los datos suministrados sean consultados en los bancos de datos.</p>
      <p style="font-size: 0.8em"> <strong>ARRENDAMIENTOS AYURA S.A.</strong>, se reserva las causas en caso de no ser aceptada la solicitud.</p>
    </div>
    <div class="large-4 medium-4        columns" style="text-align: center;background-color: #3e4095;">
        
            <div class="row">
                <div class="large-12 medium-12      columns" style="text-align: center;background-color: #3e4095;">
            <h5 class="subheader" style="color: white;">Descargar Formatos</h5>
                </div>
                </div>
            <div class="row">
                <div class="panel" style="text-align: left;">
                    <a href="images/solicitud_persona_juridica.pdf"  style="font-size: 0.8em"> <img id="logo" style="height: 2em" src="images/pdf.png"
                                 alt="">&nbsp;&nbsp;Formato de solicitud persona juridica.</a>
                    <br>
                    <br>
                     <a href="images/solicitud_persona_natural.pdf" style="font-size: 0.8em" > <img id="logo" style="height: 2em" src="images/pdf.png"
                                 alt="">&nbsp;&nbsp;Formato de solicitud persona natural.</a>
                    <br>
                    <br>
                     <a href="images/requisitos.pdf" style="font-size: 0.8em" > <img id="logo" style="height: 2em" src="images/pdf.png"
                                 alt="">&nbsp;&nbsp;Requisitos.</a>
                    
                     <br>
                    <br>
                     <a href="images/formularioPersonaJuridica.pdf" style="font-size: 0.8em" > <img id="logo" style="height: 2em" src="images/pdf.png"
                                 alt="">&nbsp;&nbsp;Formulario persona jurídica - Aseguradora.</a>
                     <br>
                    <br>
                    
                     <a href="images/formularioPersonaNatural.pdf" style="font-size: 0.8em" > <img id="logo" style="height: 2em" src="images/pdf.png"
                                 alt="">&nbsp;&nbsp;Formulario persona natural - Aseguradora.</a>
                    <br>
                    <br>
                    <a href="images/instruccionesPersonaNatural.pdf" style="font-size: 0.8em" > <img id="logo" style="height: 2em" src="images/pdf.png"
                                 alt="">&nbsp;&nbsp;Instrucciones uso-persona natural.</a>
                    <br>
                    <br>
                    <a href="images/instruccionesPersonaJuridica.pdf" style="font-size: 0.8em" > <img id="logo" style="height: 2em" src="images/pdf.png"
                                 alt="">&nbsp;&nbsp;Instrucciones uso-persona jurídica.</a>
                    <br>
                    <br>
                     <a href="images/solicitudAVALCREAR.pdf" style="font-size: 0.8em" > <img id="logo" style="height: 2em" src="images/pdf.png"
                                 alt="">&nbsp;&nbsp;Solicitud AVALCREAR.</a>
                    <br>
                    <br>
                     <a href="images/solicitud_avalcrear_tomador.pdf" style="font-size: 0.8em" > <img id="logo" style="height: 2em" src="images/pdf.png"
                                 alt="">&nbsp;&nbsp;Solicitud AVALCREAR Tomador.</a>
                </div>
            </div>
       
    </div>
</div>


<!-- Footer -->

<div class="row">
    <div class="large-12 medium-12      columns panel">
        <div class="row">
            <div class="large-4 medium-4        medium-4 columns">
                <div class="row">
                    <div class="small-4 columns">
                        <label class="right inline" style="color: #3e4095">Teléfono:</label>
                    </div>
                    <div class="small-8 columns">
                        <label class="left inline">+574 276 68 56</label>
                    </div>
                </div>
            </div>
            <div class="large-5 medium-5 columns text-center" style="color: #3e4095">
                <div class="row">
                    <div class="small-4 columns">
                        <label class="right inline" style="color: #3e4095">Correo:</label>
                    </div>
                    <div class="small-8 columns">
                        <label class="left inline"><a href="mailto:arrendaayura@une.net.co">arrendaayura@une.net.co</a></label>
                    </div>
                </div>
            </div>
            <div class="large-3 medium-3 columns" style="color: #3e4095">
                <div class="row">
                    <div class="small-4 columns">
                        <label class="right inline" style="color: #3e4095">S&iacute;guenos:</label>
                    </div>
                    <div class="small-8 columns">
                        <label class="left inline"><a href="http://www.facebook.com/arrendamientos.ayura"><i class="fa fa-facebook-square fa-lg"></i></a>&nbsp;<a href="http://www.twitter.com/arrendaayura"><i class="fa fa-twitter-square fa-lg"></i></a></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <label class="right inline" style="color: #3e4095">Dirección:</label>
            </div>
            <div class="small-9 columns">
                <label class="left inline">Calle. 37 Sur No. 41 - 26 Segundo Piso. Envigado, Antioquia,
                    Colombia.</label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 medium-12      columns text-center">
        <p>© Copyright 2013 <a href="http://www.arrendamientosayura.com/">Arrendamientos Ayurá</a>. Todos
            los derechos reservados.</p>
    </div>
</div>
<!-- End Footer -->
</div>
</div>

<script src="foundation/js/vendor/jquery.js"></script>
<script src="foundation/js/foundation.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js"></script>
<script src="js/services.js"></script>
<script src="js/app.js"></script>
<script>

  $(document).ready(function(){
    $(document).foundation();
    $('div#badges').show();
    $('div#badges').addClass("orbit");
  });


    //$(document).foundation().foundation('joyride', 'start');


    String.prototype.endsWith = function (s) {
        return this.length >= s.length && this.substr(this.length - s.length) == s;
    };

    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-46641718-1', 'arrendamientosayura.com');
    ga('send', 'pageview');

</script>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        // init the FB JS SDK
        FB.init({
            appId: '1388457928072182',                        // App ID from the app dashboard
            status: false,                                 // Check Facebook Login status
            xfbml: true                                  // Look for social plugins on the page
        });

        // Additional initialization code such as adding Event Listeners goes here
    };

    // Load the SDK asynchronously
    (function () {
        // If we've already installed the SDK, we're done
        if (document.getElementById('facebook-jssdk')) {
            return;
        }

        // Get the first script element, which we'll use to find the parent node
        var firstScriptElement = document.getElementsByTagName('script')[0];

        // Create a new script element and set its id
        var facebookJS = document.createElement('script');
        facebookJS.id = 'facebook-jssdk';

        // Set the new script's source to the source of the Facebook JS SDK
        facebookJS.src = '//connect.facebook.net/en_US/all.js';

        // Insert the Facebook JS SDK into the DOM
        firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
    }());
</script>
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="https://v2.zopim.com/?5uZlJOXYEyqrIw5AhQe2pvHpxdtoWRqj";z.t=+new Date;$.
            type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
</body>
</html>