<!doctype html>
<html class="no-js" lang="es-CO" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)"
      ng-app="mainApp">
<head>
    <meta charset="utf-8"/>
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-site-verification" content="lyQKJ3wdhkP4awS7h0wxwP3klm2KgfZtIbo6qsxnUPw"/>
    <title>Nuestros Servicios | Arrendamientos Ayurá</title>
    <meta name="description"
          content="Busca tu Inmueble para Venta o Arriendo en Envigado, Medellín, Itagüí, Sabaneta y La Estrella. Encuentra Apartamentos, Casas, Locales, Fincas y Lotes"/>
    <meta name="keywords"
          content="arriendo, arriendo Apartamento Envigado, arrendamientos Envigado, Arrendamientos Sabaneta, venta de inmuebles, arrendamiento inmueble, envigado, propiedad raiz, arrendamientos, avaluos,tramites inmobiliarios, propiedad raiz en medellin, arriendo sabaneta,arriendo medellin,arrendamientos+medellin, arrendamientos+sabaneta, arrendamientos+envigado">
    <meta name="author" content="SOCOBOX SAS - www.socobox.co"/>
    <link rel="canonical" href="http://www.arrendamientosayura.com"/>
    <meta property="og:title" content="Arrendamientos Ayurá"/>
    <meta property="og:description"
          content="Busca tu Inmueble para Venta o Arriendo en Envigado, Medellín, Itagüí, Sabaneta, y La Estrella. Encuentra Apartamentos, Casas, Locales, Fincas y Lotes"/>

    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <link href="font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="foundation/css/foundation.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script src="foundation/js/modernizr.js"></script>
</head>
<body ng-controller="MainCtrl" style="background-color: lightgray;">
    <!-- Start Alexa Certify Javascript -->
    <script type="text/javascript">
        _atrk_opts = { atrk_acct:"o3y1j1a4ZP00O/", domain:"arrendamientosayura.com",dynamic: true};
        (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();

    </script>
    <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=o3y1j1a4ZP00O/" style="display:none"
                   height="1" width="1" alt=""/></noscript>
    <!-- End Alexa Certify Javascript -->

    <div class="row" style="background-color: #ffffff;">
        <div class="large-12 medium-12 columns">
            <!-- Navigation -->
            <div class="row" style="margin-bottom:15px;">
                <div class="large-12 medium-12      columns">
                    <div class="row">
                        <div class="large-6 medium-6  small-12 columns">

                            <a href="#" style="padding-left: 10px;">
                                <img style="{{styleLogo}}" ng-src="{{logo}}" alt="Home">
                            </a>

                        </div>
                        <div id="badges" class="large-6 medium-6         medium-6      medium-6 hide-for-small columns"
                             style="display: none;">
                            <ul class="example-orbit" data-orbit
                                data-options="navigation_arrows: false;pause_on_hover: false;slide_number: false;bullets:false;animation_speed:777;timer_speed: 3000;">
                                <li>
                                    <img src="images/badges/la-lonja-antioquia.png" alt="slide 1"
                                         style="margin-left: auto;margin-right: auto;"/>
                                </li>
                                <li>
                                    <img src="images/badges/libertador.png" alt="slide 1"
                                         style="margin-left: auto;margin-right: auto;"/>

                                </li>
                                <li>
                                    <img src="images/badges/lonjaPropRaiz.jpeg" alt="slide 1"
                                         style="margin-left: auto;margin-right: auto;"/>
                                </li>

                                <li>
                                    <img src="images/badges/socio-data-credito.png" alt="slide 1"
                                         style="margin-left: auto;margin-right: auto;"/>

                                </li>
                                <li>
                                    <img src="images/badges/suramericana.jpg" alt="slide 1"
                                         style="margin-left: auto;margin-right: auto;"/>

                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 medium-12 columns hide-for-small text-center">
                            <h2 style="margin-top: 0;margin-bottom: 0;">
                                <small>Nuestro lema es servirle cada vez mejor con experiencia, cumplimiento y calidad en el
                                    servicio
                                </small>
                            </h2>
                        </div>
                    </div>
                    <div class="row" id="results">
                        <div class="large-12 medium-12   columns">
                            <nav class="top-bar" data-topbar>
                                <ul class="title-area">
                                    <!-- Title Area -->

                                    <li class="name">
                                    </li>

                                    <li class="toggle-topbar menu-icon">
                                        <a href="#"><span></span></a>
                                    </li>
                                </ul>

                                <section class="top-bar-section">
                                    <!-- Right Nav Section -->

                                    <ul class="right">
                                        <li class="divider"></li>
                                        <li>
                                            <a href="/"><i class="fa fa-home"></i>&nbsp;Inicio</a>
                                        </li>
                                        <li>
                                            <a href="quienesSomos.html"><i
                                                    class="fa fa-users"></i>&nbsp;Qui&eacute;nes&nbsp;Somos</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="servicios.html"><i class="fa fa-flag"></i>&nbsp;Servicios</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="requisitos.html"><i class="fa fa-check-square"></i>&nbsp;Requisitos</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="contactenos.html"><i class="fa fa-phone-square"></i>&nbsp;Cont&aacute;ctenos</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="has-dropdown">
                                            <a href="#"><i class="fa fa-sign-in"></i>&nbsp;Ingresos</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="contratos.html"><i
                                                            class="fa fa-search"></i>&nbsp;Propietario</a>
                                                </li>
                                                <li>
                                                    <a href="consultas.html"><i class="fa fa-search"></i>&nbsp;Consultar
                                                        Solicitud</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="registrarInmueble.html"><i
                                                    class="fa fa-building-o"></i>&nbsp;Registrar&nbsp;Inmueble</a>
                                        </li>
                                    </ul>
                                </section>
                            </nav>
                            <!-- End Top Bar -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Navigation -->
            <div class="row">
                <div class="large-3 hide-for-small-only columns">
                    <div class="panel">
                        <ul class="no-bullet">
                            <li>
                                <a data-orbit-link="Arrendamientos" class="">Arrendamientos</a>
                            </li>
                            <li>
                                <a data-orbit-link="Ventas" class="">Ventas</a>
                            </li>
                            <li>
                                <a data-orbit-link="Estudiodesolicitudes" class="">Estudio de solicitudes</a>
                            </li>
                            <li>
                                <a data-orbit-link="Cartera" class="">Cartera</a>
                            </li>
                            <li>
                                <a data-orbit-link="Reparaciones" class="">Reparaciones</a>
                            </li>
                            <li>
                                <a data-orbit-link="Servicioalcliente" class="">Servicio al cliente</a>
                            </li>
                            <li>
                                <a data-orbit-link="Serviciospublicos" class="">Servicios públicos</a>
                            </li>
                            <li>
                                <a data-orbit-link="pagoPrediales" class="">Pago prediales</a>
                            </li>
                            <li>
                                <a data-orbit-link="Garantiaycubrimientos" class="">Garantia y cubrimientos</a>
                            </li>
                            <li>
                                <a data-orbit-link="Avaluos" class="">Avaluos</a>
                            </li>
                            <li>
                                <a data-orbit-link="reubicacion" class="">Reubicaci&oacute;n</a>
                            </li>
                            <li>
                                <a data-orbit-link="auxiliarSistemas" class="">Auxiliar de Sistemas</a>
                            </li>
                            <li>
                                <a data-orbit-link="archivoDigital" class="">Archivo Digital</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="large-3 show-for-small-only columns">
                    <a href="#" data-dropdown="drop" class="button dropdown">Seleccione:</a><br>
                    <ul id="drop" data-dropdown-content class="f-dropdown">
                        <li><a data-orbit-link="Arrendamientos" class="">Arrendamientos</a></li>
                        <li><a data-orbit-link="Ventas" class="">Ventas</a></li>
                        <li><a data-orbit-link="Estudiodesolicitudes" class="">Estudio de solicitudes</a></li>
                        <li><a data-orbit-link="Cartera" class="">Cartera</a></li>
                        <li><a data-orbit-link="Reparaciones" class="">Reparaciones</a></li>
                        <li><a data-orbit-link="Servicioalcliente" class="">Servicio al cliente</a></li>
                        <li><a data-orbit-link="Serviciospublicos" class="">Servicios públicos</a></li>
                        <li><a data-orbit-link="pagoPrediales" class="">Pago prediales</a></li>
                        <li><a data-orbit-link="Garantiaycubrimientos" class="">Garantia y cubrimientos</a></li>
                        <li><a data-orbit-link="Avaluos" class="">Avaluos</a></li>
                        <li><a data-orbit-link="reubicacion" class="">reubicaci&oacute;n</a></li>
                        <li><a data-orbit-link="auxiliarSistemas" class="">Auxiliar de Sistemas</a></li>
                        <li><a data-orbit-link="archivoDigital" class="">Archivo Digital</a></li>
                    </ul>
                </div>
                <div class="large-9 columns" style="text-align: center;">
                    <ul class="example-orbit-content" data-orbit
                        data-options="navigation_arrows: false;pause_on_hover: false;slide_number: false;bullets:false;timer_speed: 20000;">
                        <li data-orbit-slide="Arrendamientos">
                            <div class="row" style="text-align: center">
                                <div class="large-6 medium-6 medium-6 columns">
                                    <h4 class="subheader"> Arrendamientos</h4>
                                    <ul class="disc" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">
                                        <li>
                                            Arrendamos sus inmuebles en tiempo record, realizamos el pago de servicios
                                                públicos, impuestos, obligaciones y administración.
                                        </li>
                                        <li>
                                            Contamos con el mejor equipo humano especializado en la promoción de
                                                inmuebles, donde establecemos los planes de comercialización.
                                        </li>
                                        <li>
                                            Velamos por la buena conservación y prevención de los inmuebles realizando
                                                inventario antes y después de arrendarlos.
                                        </li>
                                    </ul>
                                    <br>
                                    <img src="images/serviciosLlave.jpg">
                                </div>
                                <div class="large-6 medium-6 medium-6 columns" style="text-align: center">


                                    <img src="images/serviciosArrendamientos.jpg"/>
                                    <br>
                                    <ul class="disc" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">

                                        <li> Además en nuestro sitio web promocionamos sus inmuebles con toma fotográfica.
                                        </li>

                                    </ul>
                                    <p style="font-size: 0.8em">Consígnenos ya su inmueble, estaremos orgullosos de
                                        servirle.</p>

                                </div>

                            </div>
                        </li>
                        <li data-orbit-slide="Ventas">
                            <div class="row">
                                <div class="large-6 medium-6         medium-6     columns">


                                    <img src="images/serviciosVentas.jpg" />
                                    <br>
                                    <ul class="disc" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">

                                        <li> Contamos con la asesoría de la consecución de créditos hipotecarios.</li>
                                        <li> Trabajamos para establecer relaciones entre propietarios y compradores,
                                            relaciones de negociación claras y justas, sabemos lo que significa para usted
                                            conservar su patrimonio, porque su bienestar es nuestro compromiso.
                                        </li>
                                        <li> Con nosotros su negocio es seguro y eficaz para propietarios y compradores.
                                        </li>
                                        <li> Asesoramos en la elaboración de promesas de compraventa y escrituras.</li>

                                    </ul>
                                </div>
                                <div class="large-6 medium-6         medium-6     columns">


                                    <h4 class="subheader"> Ventas</h4>

                                    <p style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">Ofrecemos a
                                        los propietarios un plan de comercialización para la venta de sus inmuebles en el
                                        menor tiempo posible, igualmente ofrecemos a nuestros compradores la asesoría
                                        inmobiliaria necesaria según su necesidad.

                                    </p>

                                    <p style="font-size: 0.8em">La estrategia de Mercadeo:</p>
                                    <ul class="disc" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">
                                        <li>Toma fotográfica para su publicación en nuestra página web:
                                            www.arrendamientosayura.com, Portales de búsqueda de inmuebles y publicación en
                                            periódicos.
                                        </li>

                                    </ul>
                                    <br>
                                    <img src="images/serviciosVentas2.jpg"/>
                                    <br>
                                </div>
                            </div>
                        </li>
                        <li data-orbit-slide="Estudiodesolicitudes">
                            <div class="row">


                                <div class="large-6 medium-6         medium-6     columns">


                                    <h4 class="subheader"> Estudio de solicitudes</h4>


                                    <p style="font-size: 0.8em">La estrategia de Mercadeo:</p>
                                    <ul class="disc" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">
                                        <li>Contamos con un equipo humano especializado en el área de créditos, con un
                                            servicio ágil y veraz en la aprobación de sus solicitudes.
                                        </li>
                                        <li> Realizamos cuidadosamente el estudio de las solicitudes de los arrendatarios,
                                            generando la respuesta en un tiempo no mayor de ocho horas. Verificamos y
                                            analizamos la documentación para lograr una operación segura del proceso de
                                            arrendamiento.
                                        </li>

                                    </ul>
                                    <p style="font-size: 0.8em">Si sus coarrendatarios son de fuera del área metrolitana le
                                        ofrecemos la posibilidad de arrendar por la Aseguradora El Libertador S.A. y
                                        Avalcrear, los cuales cuentan con un personal capacitado y suficiente.

                                    </p>
                                </div>
                                <div class="large-6 medium-6         medium-6     columns">


                                    <img src="images/serviciosEstudio.jpg"/>
                                </div>
                            </div>
                        </li>
                        <li data-orbit-slide="Reparaciones">
                            <div class="row">
                                <div class="large-6 medium-6         medium-6     columns">
                                    <img src="images/serviciosReparaciones.jpg"/>
                                </div>
                                <div class="large-6 medium-6         medium-6     columns">


                                    <h4 class="subheader">Reparaciones</h4>


                                    <ul class="disc" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">
                                        <li>Nos encargamos por los daños físicos y los faltantes causados por el
                                            arrendatario en su inmueble.
                                        </li>
                                        <li> Contamos con personal capacitado en el campo para asesorarlo en todo lo que
                                            usted necesite referente a su inmueble. Electricidad, plomería, ebanistería,
                                            para que realicen los trabajos.
                                        </li>

                                    </ul>

                                </div>

                            </div>
                        </li>
                        <li data-orbit-slide="Cartera">
                            <div class="row">


                                <div class="large-6 medium-6         medium-6     columns">


                                    <h4 class="subheader"> Cartera</h4>


                                    <ul class="disc" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">
                                        <li>Es el Departamento que busca soluciones al recaudo efectivo de la cartera.</li>
                                        <li> Satisfacemos los requerimientos de información exacta que garanticen el éxito
                                            en la administración de cartera de nuestros clientes fortaleciendo sus
                                            relaciones comerciales.
                                        </li>
                                        <li>Contamos con una organización jurídica especializada en trámites de procesos de
                                            restitución de inmuebles arrendados y ejecutivos por el incumplimiento de los
                                            arrendatarios.
                                        </li>


                                    </ul>
                                    <br>
                                    <img src="images/serviciosCartera.jpg"/>
                                    <br>
                                </div>
                                <div class="large-6 medium-6         medium-6     columns">


                                    <img src="images/serviciosCartera2.jpg"/>
                                    <br>
                                    <ul class="disc" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">
                                        <li>Realizamos el cobro prejurídico y jurídico de cánones de arrendamiento, cuotas
                                            de administración y servicios públicos cuando los arrendatarios dejan de
                                            cancelarlos.
                                        </li>
                                        <li>Información permanente y actualizada del estado de cada proceso judicial que se
                                            encuentra en trámite.
                                        </li>


                                    </ul>
                                    <p style="font-size: 0.8em">Asesoría jurídica inmediata y permanente.</p>
                                </div>
                            </div>
                        </li>
                        <li data-orbit-slide="Servicioalcliente">
                            <div class="row">

                                <div class="large-6 medium-6         medium-6     columns">


                                    <img src="images/serviciosCliente2.jpg"/>
                                    <br>
                                    <ul class="disc" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">
                                        <li>Usted es el motivo para mejorar nuestro servicio y su satisfacción, nuestro reto
                                            diario.
                                        </li>
                                        <li>Agilidad en la atención, requerimientos e inquietudes de nuestros
                                            propietarios.
                                        </li>


                                    </ul>
                                    <br>
                                    <p style="font-size: 0.8em">Escuchamos sus inquietudes ya que solo así podremos
                                        corregirlo para en el futuro brindarle la excelencia en la calidad del servicio que
                                        usted se merece.</p>
                                </div>
                                <div class="large-6 medium-6         medium-6     columns">


                                    <h4 class="subheader"> Servicio al cliente</h4>


                                    <ul class="disc" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">
                                        <li>En nuestras instalaciones, ofrecemos cómodos y amables espacios para prestarles
                                            una atención personalizada, ágil y oportuna.
                                        </li>
                                        <li> Tenemos un equipo humano atento a resolver inquietudes con respecto a los
                                            servicios inmobiliarios que ofrecemos.
                                        </li>
                                        <li>Contamos con personal especializado en atención a administraciones de propiedad
                                            horizontal de los inmuebles que tenemos en consignación.
                                        </li>

                                    </ul>
                                    <br>
                                    <img src="images/serviciosCliente.jpg"/>
                                </div>

                            </div>
                        </li>
                        <li data-orbit-slide="Serviciospublicos">

                            <div class="row">


                                <div class="large-6 medium-6         medium-6     columns">


                                    <h4 class="subheader"> Servicios públicos</h4>


                                    <p style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">Nos encargamos
                                        del pago de servicios públicos y los faltantes causados por inicio o terminación de
                                        contrato en su inmueble, por los descuentos generados por seguros, asistencias,
                                        financiaciones, reconexiones etc..

                                        <br>Contamos con personal capacitado en el campo para asesorarlo en todo lo que
                                        usted necesite referente a su inmueble.</p>
                                    <br>

                                </div>
                                <div class="large-6 medium-6         medium-6     columns">


                                    <img src="images/serviciosPublicos.jpg"/>
                                </div>
                            </div>
                        </li>
                        <li data-orbit-slide="pagoPrediales">

                            <div class="row">


                                <div class="large-6 medium-6         medium-6     columns">


                                    <h4 class="subheader"> Pago de prediales</h4>

                                    <p style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">Nos encargamos
                                        del pago de prediales durante el contrato que se tenga con su inmueble.

                                        <br>Contamos con personal capacitado en el campo para asesorarlo en todo lo que
                                        usted necesite referente a su inmueble.</p>


                                </div>
                                <div class="large-6 medium-6         medium-6     columns">


                                    <img src="images/serviciosPrediales.jpg"/>
                                </div>
                            </div>
                        </li>
                        <li data-orbit-slide="Garantiaycubrimientos">
                            <div class="row">


                                <div class="large-6 medium-6         medium-6     columns">


                                    <h4 class="subheader">Garantia y cubrimientos</h4>


                                    <ul class="disc" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">
                                        <li>Cancelamos oportunamente el canon de arrendamiento pague o no el arrendatario,
                                            esto es solidez y respaldo.
                                        </li>
                                        <li>Damos respuesta inmediata al estudio de la solicitud (ocho horas después de ser
                                            radicada).
                                        </li>
                                        <li>Elaboramos los contratos de arrendamiento ajustados a la normatividad legal
                                            vigente.
                                        </li>
                                        <li>Brindamos agilidad en la atención a requerimientos e inquietudes de nuestros
                                            propietarios, sin necesidad de realizar trámite alguno con otra entidad.
                                        </li>
                                        <li>Realizamos toma fotográfica al propietario, arrendatario y coarrendatarios.</li>
                                        <li>Damos las referencias comerciales a arrendatarios y propietarios con la toma
                                            fotográfica para evitar futuros fraudes.
                                        </li>
                                    </ul>

                                </div>
                                <div class="large-6 medium-6         medium-6     columns" style="text-align: center">


                                    <img src="images/serviciosGarantia.jpg"/>
                                </div>
                            </div>
                        </li>
                        <li data-orbit-slide="Avaluos">

                            <div class="row">

                                <div class="large-6 medium-6         medium-6     columns">


                                    <img src="images/serviciosAvaluo.jpg"/>
                                </div>
                                <div class="large-6 medium-6         medium-6     columns">


                                    <h4 class="subheader"> Avaluos</h4>


                                    <p style="font-size: 0.8em">Contamos con el respaldo de las Lonjas de Medellín y de
                                        Antioquia y la Lonja de Antioquia.</p>
                                </div>

                            </div>
                        </li>
                        <li data-orbit-slide="reubicacion">
                            <div class="row">
                                <div class="small-6 columns">
                                    <h4 class="subheader">Reubicaci&oacute;n</h4>
                                    <ul class="disc" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">
                                        <li>
                                            Atender en forma oportuna y correcta los clientes que desean ser reubicados por medio de la empresa, buscando suplir cada una de sus necesidades en el menor tiempo posible.
                                        </li>
                                        <li>
                                            Asesora Stefania Mejia Vallejo  tel: 2767339 
                                        </li>
                                    </ul>
                                </div>
                                <div class="small-6 columns">
                                    <img src="images/reubicacion.jpg"/>
                                </div>
                            </div>
                        </li>
                        <li data-orbit-slide="auxiliarSistemas">
                            <div class="row">
                                <div class="small-6 columns">
                                    <h4 class="subheader">Auxiliar de Sistemas</h4>
                                    <ul class="disc" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">
                                        <li>
                                            Contamos con un excelente servicio al momento de ingresar y promocionar sus inmuebles en los diferentes medios de comunicación como pagina web, Facebook, twitter, medio impreso y asesoría personalizada  dentro de la agencia.
                                        </li>
                                        <li>
                                            contamos  con los equipos adecuados para el buen rendimiento de la empresa y mayor agilidad para atender nuestros clientes.
                                        </li>
                                    </ul>
                                </div>
                                <div class="small-6 columns">
                                    <img src="images/auxiliarSistemas.jpg"/>
                                </div>
                            </div>
                        </li>
                        <li data-orbit-slide="archivoDigital">
                            <div class="row">
                                <div class="small-6 columns">
                                    <img src="images/archivoDigital.jpg"/>
                                </div>
                                <div class="small-6 columns">
                                    <h4 class="subheader">Archivo Digital</h4>
                                    <ul class="disc" style="font-size: 0.8em;text-align:justify; text-justify: inter-word;">
                                        <li>
                                            Buscando la manera de mejorar nuestro trabajo y atención al cliente contamos con un archivo digital el cual permite consultar los contratos que se encuentran  activos con la empresa y descargar por la página web los documentos que son de su interés como: consignaciones, servicios públicos, prediales, reparaciones y administraciones.
                                        </li>
                                        <li>
                                            Para obtener  los documentos  se debe acercar  a la empresa donde se le asignará una clave con la cual podrá acceder a la información.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Footer -->
        </div>


        <!-- End Footer -->
    </div>
    <div class="row" id="datos">
        <div class="large-12 medium-12      columns panel">
            <div class="row">
                <div class="large-4 medium-4        medium-4 columns">
                    <label class="left inline" style="color: #3e4095">Teléfono: +574 2766856</label>
                </div>
                <div class="large-5 medium-5 columns text-center" style="color: #3e4095">
                    <label class="left inline" style="color: #3e4095">Correo: <a
                            href="mailto:arrendaayura@une.net.co ">arrendaayura@une.net.co </a></label>
                </div>
                <div class="large-3 medium-3 columns" style="color: #3e4095">
                    <label class="left inline" style="color: #3e4095">S&iacute;guenos: <a
                            href="http://www.facebook.com/arrendamientos.ayura"><i
                            class="fa fa-facebook-square fa-lg"></i></a>&nbsp;<a
                            href="http://www.twitter.com/arrendaayura"><i
                            class="fa fa-twitter-square fa-lg"></i></a></label>
                </div>
            </div>
            <div class="row">
                <div class="small-4 columns">
                    <label class="left inline" style="color: #3e4095">Celular: 3106062560 - 3218300846</label>
                </div>
                <div class="small-8 columns">
                    <label class="left inline" style="color: #3e4095">Dirección: Calle. 37 Sur No. 41 - 26 Segundo
                        Piso. Envigado, Antioquia,
                        Colombia.</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background-color: #ffffff;">
        <div class="large-12 medium-12  columns text-center">
            <p>© Copyright 2013 <a href="http://www.arrendamientosayura.com/">Arrendamientos Ayurá</a>. Todos
                los derechos reservados.</p>
        </div>
    </div>

    <script src="foundation/js/vendor/jquery.js"></script>
    <script src="foundation/js/foundation.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
    <script>
      $(document).ready(function(){
        $(document).foundation();
        $('div#badges').show();
        $('div#badges').addClass("orbit");
      });
        //$(document).foundation().foundation('joyride', 'start');
        String.prototype.endsWith = function (s) {
            return this.length >= s.length && this.substr(this.length - s.length) == s;
        };

        var doc = document.documentElement;
        doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-46641718-1', 'arrendamientosayura.com');
        ga('send', 'pageview');
    </script>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            // init the FB JS SDK
            FB.init({
                appId: '1388457928072182',                        // App ID from the app dashboard
                status: false,                                 // Check Facebook Login status
                xfbml: true                                  // Look for social plugins on the page
            });
     
            // Additional initialization code such as adding Event Listeners goes here
        };

        // Load the SDK asynchronously
        (function () {
            // If we've already installed the SDK, we're done
            if (document.getElementById('facebook-jssdk')) {
                return;
            }

            // Get the first script element, which we'll use to find the parent node
            var firstScriptElement = document.getElementsByTagName('script')[0];

            // Create a new script element and set its id
            var facebookJS = document.createElement('script');
            facebookJS.id = 'facebook-jssdk';

            // Set the new script's source to the source of the Facebook JS SDK
            facebookJS.src = '//connect.facebook.net/en_US/all.js';

            // Insert the Facebook JS SDK into the DOM
            firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
        }());
    </script>
    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
            d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
            $.src="https://v2.zopim.com/?5uZlJOXYEyqrIw5AhQe2pvHpxdtoWRqj";z.t=+new Date;$.
                type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zendesk Chat Script-->
</body>
</html>