<div class="row text-left">
  <div class="large-1 medium-1 small-12 column" style="padding-top: 0.5rem;">
    <span style="color : #3e4095;font-weight: bold;line-height: 1.125rem;font-size: 0.875rem;">Promotor:</span>
  </div>
  <div class="large-4 medium-3 small-5 column">
    <span style="font-size: 0.875rem;">
    <select name="groupSelection" ng-model="groupSelection" ng-change="changeAgent()">
      <option value="Asesores">Asesores</option>
      <option value="Promotores">Promotores</option>
    </select>
    </span>
  </div>
  <div class="large-7 medium-4 small-7 column">
    <div class="row" style="margin: 0">
      <a style="display: inline-block" ng-click="changeDate(1)"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;M</a>
      <p style="display: inline-block; border: 1px solid grey; margin: 0 5px; width: 120px">{{currentDate.getFullYear() + '-' + months[currentDate.getMonth()]}} </p>
      <a style="display: inline-block" ng-click="changeDate(-1)">M&nbsp;<i class="fa fa-arrow-circle-right fa-lg"></i></a>
      <i ng-if="loading" class="fa fa-spinner fa-spin" style="font-size:20px"></i>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-12 large-8 columns">
    <canvas id="myChart" width="600" height="400"></canvas>
  </div>
  <div class="medium-12 large-4 columns">
    <div class="row">
      <table style="margin: auto">
        <thead>
        <tr>
          <th width="250" class="table-simple-header">{{groupSelection}} </th>
          <th width="100" class="table-simple-header">Confirmadas</th>
          <th width="100" class="table-simple-header">Agendadas</th>
          <th width="100" class="table-simple-header">Canceladas</th>
          <th width="100" class="table-simple-header">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="agent in agents" class="table-simple-row">
          <td>{{agent.name}}</td>
          <td>{{agent.confirmed}}</td>
          <td>{{agent.scheduled}}</td>
          <td>{{agent.cancelled}}</td>
          <td>{{(agent.quantity)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class = "text-left">
    <button class = "button tiny" style="margin-top:5px;" ng-csv ="agents" csv-header = "[groupSelection, 'Confirmadas', 'Agendadas', 'Canceladas', 'Total']"
            filename = "{{currentDate.getFullYear() + ' ' + months[currentDate.getMonth()] + ' - Reporte ' + groupSelection}}.csv" ng-disabled = "loading">
      <i class = "fa fa-fw fa-download"></i> Descargar tabla
    </button>
  </div>
</div>