<div class = "row text-left">

  <div class = "large-7 medium-4 small-7 column">
    <div class = "row" style = "margin: 0">
      <a style = "display: inline-block" ng-click = "changeDate(1)"><i class = "fa fa-arrow-circle-left fa-lg"></i>&nbsp;M</a>
      <p style = "display: inline-block; border: 1px solid grey; margin: 0 5px; width: 120px">
        {{currentDate.getFullYear() + '-' + months[currentDate.getMonth()]}} </p>
      <a style = "display: inline-block" ng-click = "changeDate(-1)">M&nbsp;<i
              class = "fa fa-arrow-circle-right fa-lg"></i></a>
      <i ng-if = "loading" class = "fa fa-spinner fa-spin" style = "font-size:20px"></i>
    </div>
  </div>
</div>
<div class = "row">
  <div class = "medium-12 large-8 columns">
    <canvas id = "myChart" width = "600" height = "400"></canvas>
  </div>
  <div class = "medium-12 large-4 columns">
    <div class = "row">
      <table style = "margin: auto">
        <thead>
        <tr>
          <th width = "250" class = "table-simple-header">Medio</th>
          <th width = "100" class = "table-simple-header">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat = "medio in medios" class = "table-simple-row">
          <td>{{medio.name}}</td>
          <td>{{medio.total}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class = "text-left">
    <button class = "button tiny" style="margin-top:5px;" ng-csv ="medios" csv-header = "['Medio', 'Total']"
            filename = "{{currentDate.getFullYear() + ' ' + months[currentDate.getMonth()] + ' - Reporte Contactos'}}.csv" ng-disabled = "loading">
      <i class = "fa fa-fw fa-download"></i> Descargar tabla
    </button>
  </div>
</div>