@import "Styles/variables";

@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/scss/font-awesome.scss';


@import "Styles/button";
@import "Styles/card";
@import "Styles/fab";
@import "Styles/fonts";
@import "Styles/footer";
@import "Styles/input";
@import "Styles/navbar";
@import "Styles/normalize";
@import "Styles/typography";
@import "Styles/forms";
@import "Styles/app";

/* Relajao MIKE YO SE QUE ESTO NO VA AQUI, pero despues... */

.zopim:first-child{
  visibility: hidden !important;
}

p {
 text-align: justify
}