<div class="row">
    <div class="large-12 medium-12 columns">
        <hr>
    </div>
</div>

<div class="row">
    <div class="large-12 medium-12 columns text-right">
        <a class="button small" href="javascript:history.go(-1)"><i class="fa fa-backward"></i>&nbsp;Regresar
        </a>
        <!-- <button class="button small" ng-click="edit()" ng-show="_tenantSection.readOnly"><i
                class="fa fa-pencil-square-o"></i>&nbsp;Editar
        </button> -->
        <!-- <button class="button small" ng-click="cancel()" ng-hide="_tenantSection.readOnly"><i
                class="fa fa-times-circle-o"></i>&nbsp;Cancelar
        </button> -->
        <button class="button small" ng-click="saveContract()">
          <i class="fa fa-save"></i>&nbsp;Guardar
        </button>

    </div>
</div>
<div class="panel row">
  <div class="row">
    <div class="small-12 large-6 medium-6 columns">
      <label>Inquilino:</label>
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" ng-model="_contract.tenant.NAME" readOnly>
        </div>
        <div class="small-2 columns">
          <button data-reveal-id="searchTenant" ng-click="initSearchTenant()" class="button postfix">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="small-12 large-6 medium-6 columns">
      <label>Número de Contrato:</label>
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" ng-model="contractBox" ng-change="_contract.CODE=null" numbers-only ng-blur="validateNroContract()" ng-enter="validateNroContract()">
        </div>
        <div class="small-2 columns">
          <span class="button disabled postfix" ng-class="{'success': _contract.CODE, 'alert':!_contract.CODE}">
            <i class="fa" ng-class="{'fa-check': _contract.CODE}"></i></span>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 medium-6 columns">
      <label>Fecha Inicio:</label>
      <input type="text" ng-model="_contract.START_DATE" class="date" readonly>
    </div>
    <div class="small-12 large-6 medium-6 columns">
      <label>Fecha Fin:</label>
      <input type="text" ng-model="_contract.END_DATE" class="date" readonly>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 medium-6 columns">
      <label>Propiedad:</label>
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" ng-model="propertytBox" ng-change="_contract.PROPERTY=null" numbers-only ng-blur="validateProperty()" ng-enter="validateProperty()">
        </div>
        <div class="small-2 columns">
          <span class="button disabled postfix" ng-class="{'success': _contract.PROPERTY, 'alert':!_contract.PROPERTY}">
            <i class="fa" ng-class="{'fa-check': _contract.PROPERTY}"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-hide="!_tenantSection.contract.errors.length">
    <div class="small-12 large-4 medium-6 small-centered columns">
      <ul class="circle">
        <li ng-repeat="e in _tenantSection.contract.errors"><label style="color: tomato; padding: 0;margin: 0;">{{
          e}}</label></li>
      </ul>
    </div>
  </div>
</div>


<div class="reveal-modal medium" data-reveal id="searchTenant">
  
    <div class="row">
      <div class="large-4 medium-4 columns">
        <label>Doc. Inquilino</label>
        <input type="text" ng-model="tenantFilter.document" ng-enter="searchTenant()">
      </div>
      <div class="large-5 medium-5 columns">
        <label>Nombre Inquilino</label>
        <input type="text" ng-model="tenantFilter.name" ng-enter="searchTenant()">
      </div>
      <div class="large-2 medium-2 columns">
        <label>&nbsp;</label>
        <button class="button tiny" type="button" ng-click="searchTenant()">
          <i class="fa fa-search"></i>&nbsp;Buscar
        </button>

      </div>
    </div>

  <div class="row" ng-show="totalPages==0">
    <div class="large-4 medium-6 small-8 small-centered medium-centered large-centered columns">
      <label>No se encontraron Inquilinos/contratos con los filtros ingresados, intente de nuevo.</label>
    </div>
  </div>
  <!-- Table -->
  <div class="row">
    <div class="large-12 medium-12 columns">
      <table style="width: 100%;">
        <thead>
          <tr>
            <th class="text-center">Documento</th>
            <th>Nombre</th>
            <th class="text-center">
              <img data-loading style="height: 16px;" src="images/spinner2-bluey.gif" alt=""/>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="o in tenants" ng-click="tenantSelect(o)" class="pointer">
            <td class="text-right">{{ o.DOCUMENT }}</td>
            <td>{{ o.NAME }}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class="row" ng-hide="totalPages==0">
    <div class="large-4 medium-6 small-8 small-centered medium-centered large-centered columns">
      <ul class="pagination">
        <li class="current" style="cursor: pointer;" ng-show="pageTenant>1">
          <a style="cursor:hand;" href="javascript:;" ng-click="prevPageTenant()">
            <i class="fa fa-arrow-left"></i>
          </a>
        </li>
        <li class="current">P&aacute;gina:&nbsp;{{ pageTenant}}</li>
        <li>de</li>
        <li>{{ totalPages }}</li>
        <li class="current" style="cursor:pointer;" ng-show="pageTenant<totalPages">
          <a style="cursor:hand;" href="javascript:;" ng-click="nextPageTenant()">
            <i class="fa fa-arrow-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns" style="text-align: right;">
      <button class="close-reveal-modal button small"><i
          class="fa fa-times-circle-o"></i>&nbsp;Cerrar
      </button>
    </div>
  </div>
</div>