<form>
	<div class="row">
		<fieldset>
			<legend>Buscar Contrato</legend>
			<div class="row">
				<div class="medium-4 large-2 columns">
					<label><span style="color: #3e4095;">Nro. Contrato</span>
						<input type="text" capitalize ng-model="contractFilter" ng-enter="searchFilter()"/>
					</label>
				</div>
				<div class="medium-4 large-2 columns">
					<label><span style="color: #3e4095;">Cons. Propiedad</span>
						<input type="text" capitalize ng-model="propFilter" ng-enter="searchFilter()"/>
					</label>
				</div>
				<div class="medium-4 large-2 columns">
					<label><span style="color: #3e4095;">CC. de Inquilino</span>
						<input type="text" capitalize ng-model="tenantNroFilter" ng-enter="searchFilter()"/>
					</label>
				</div>
				<div class="medium-4 large-2 columns">
					<label><span style="color: #3e4095;">Nombre de Inquilino</span>
						<input type="text" capitalize ng-model="tenantFilter" ng-enter="searchFilter()"/>
					</label>
				</div>
				<div class="medium-4 large-2 columns">
					<label><span style="color: #3e4095;">CC. de Propietario</span>
						<input type="text" capitalize ng-model="ownerNroFilter" ng-enter="searchFilter()"/>
					</label>
				</div>
				<div class="medium-4 large-2 columns">
					<label><span style="color: #3e4095;">Nombre de Propietario</span>
						<input type="text" capitalize ng-model="ownerFilter" ng-enter="searchFilter()"/>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<button class="button tiny" ng-click="searchFilter()">
						<i class="fa fa-search"></i>&nbsp;Buscar
					</button>
					<a class="button tiny" ng-href="#/Contract/add">
						<i class="fa fa-plus"></i>&nbsp;Agregar
					</a>
				</div>
			</div>
		</fieldset>
	</div>
</form>
<div class="row collapse">
	<table class="small-12">
		<thead>
			<tr>
				<th class="small-1 text-center">Contrato</th>
				<th class="text-center">Cons. Propiedad</th>
				<th class="small-3 text-center">inquilino</th>
				<th class="small-2 text-center">CC. Inquilino</th>
				<th class="small-3 text-center">Propietario</th>
				<th class="small-2 text-center">CC. Propietario</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="contract in contracts" ng-click="contract.selected()" class="pointer">
				<td class="text-center">{{contract.contract}}</td>
				<td class="text-center">#{{contract.propiedad}}</td>
				<td>{{contract.tenant}}</td>
				<td class="text-center">{{contract.tenantId}}</td>
				<td>{{contract.owner}}</td>
				<td class="text-center">{{contract.ownerId}}</td>
			</tr>
			<tr ng-show="contracts.length==0">
				<td colspan="6" class="text-center">
					<p>Lo sentimos no hemos encontrado ningun contrato. use otra convinacion de Filtro</p>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="pagination-centered">
		<ul class="pagination">
			<li class="current pointer" ng-show="page>1">
				<a class="pointer" ng-click="prev()">
					<i class="fa fa-arrow-left"></i>
				</a>
			</li>
			<li class="current">{{page}}</li>
			<li>de</li>
			<li>{{totalPages}}</li>
			<li class="current pointer" ng-show="page<totalPages">
				<a class="pointer" ng-click="next()">
					<i class="fa fa-arrow-right"></i>
				</a>
			</li>
		</ul>
	</div>
</div>